#advicesModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h2#myModalLabel.modal-title Praktické rady
      .modal-body
        .devices
          .main-info

            .container
              .row
                .col-md-12.body-paddding-justify

                  .steps
                    .bs-callout.bs-callout-info
                      %h3.padding-top-20 Čo Vám treba pred operáciou
                      %p V deň operácie sa dostavíte na naše pracovisko o 7.00 hod
                      %p Po prijatí na operáciu budete ošetrujúcim lekárom podrobne informovaní o samotnom operačnom výkone. Lekár Vám následne predloží na podpis formulár tzv. informovaného súhlasu. Podpísanie tohto informovaného súhlasu k zákroku je základnou podmienkou vykonania plánovanej operácie. Za neplnoleté osoby podpisuje súhlas zákonný zástupca.

                      %p Odporúčame priniesť si so sebou :
                      %ul
                        %li Kompletnú zdravotnú dokumentáciu a výsledky predoperačných  vyšetrení
                        %li Preukaz poistenca
                        %li Zahraniční klienti cestovný pas
                        %li Ak užívate pravidelne nejaké lieky, prosím prineste si ich

                    .bs-callout.bs-callout-info
                      %h3.padding-top-20 Čo Vám treba v deň operácie
                      %ul
                        %li Večer pred operáciou si vyhoľte  operovanú lokalitu vo veľkosti 30 cm všetkými smermi od operovaného  miesta (napr. pri operácii ramena si vyhoľte aj oblasť podpazušia)
                        %li Pred operáciou je vhodné jesť iba ľahké večerné jedlo, od pol noci nejedzte, piť môžete iba čistú vodu
                        %li Nechty na rukách musia byť  odlakované
                        %li Cenné veci, šperky si zamknite do skrinky, prípadne ich nechajte doma


                    .bs-callout.bs-callout-info
                      %h3.padding-top-20 Čo Vás čaká po operácii
                      %p V deň operácie sa dostavíte na naše pracovisko o 7.00 hod
                      %ul
                        %li Po operácii budete privezení na izbu, kde budete dostávať lieky proti bolesti
                        %li Váš stav je monitorovaný na izbe lekárom a sestrou, sú Vám podávané lieky proti bolesti, resp. iné liečivá podľa odporúčania operatéra.
                        %li Približne 2 hod . po operácii a stabilizácii vit. funkcií  budete prepustení do domácej opatery,  majte preto zabezpečený sprievod domov (mobilný telefón môžete mať pri sebe na izbe)
                        %li Je vhodné mať pripravené malé očerstvenie a vodu na cestu
                        %li V domácom prostredí dodržujte pokyny lekára, ktoré Vám poskytne pri prepúšťaní zariadenia

                  %p.important Ak ste ochoreli, resp. sa z iných príčin nemôžete dostaviť na operáciu, kontaktujte prosím v čo najskoršom termíne Vášho objednávajúceho lekára alebo sestru na t. č. 0917 499 700

      .modal-footer
        %button.btn.btn-lg.btn-close{"data-dismiss" => "modal", :type => "button"} Zavrieť