
#rehabModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h2#myModalLabel.modal-title Ortopédia a Športová traumatologia
      .modal-body

        %ul.nav.nav-pills.depart-rehab
          %li.departures.active
            %a{"data-toggle" => "pill", :href => "#departures"} Ortopédia
          %li.rehab
            %a{"data-toggle" => "pill", :href => "#rehab"} Športová traumatologia

        %hr.blue

        .tab-content
          #departures.tab-pane.fade.in.active
            .container
              .row
                .col-md-12
                  = haml :"modals/rehabs/sport"


          #rehab.tab-pane.fade
            = haml :"modals/rehabs/sport"



          .modal-footer
            %button.btn.btn-lg.btn-close{"data-dismiss" => "modal", :type => "button"} Zavrieť