.drugs

  #ortho.bs-callout.bs-callout-info
    %h2 Ortho 3000
    %img#ortho{:src=>"images/drugs/ortho3000.png"}
    .text
      %hr.blue
      %h4
        %b Celý názov:
        ORTHO 3000 potiahnuté tablety
      %h4
        %b Davka 3 kusou:
        32.17 €
      %p Doplnok pre aktívny životný štýl.

      / %img#ortho{:src=>"images/drugs/ortho-3000-gel.png"}
      %hr.blue
      %h4
        %b Celý názov:
        ORTHO 3000 gél na kĺby 100 ml
      %h4
        %b Davka 3 kusou:
        6.20 €
      %p Hrejivý, prekrvujúci a relaxačný účinok v okolí postihnutých partií.

  #protect.bs-callout.bs-callout-info
    %h2 H-Protect
    %img#protect{:src=>"images/drugs/protect.png"}
    .text
      %hr.blue
      %h4
        %b Celý názov:
        H-Protect enzyme 84 capsules
      %h4
        %b Cena za kus:
        42,40 €
      %h4
        %b Davka 3 kusou:
        42,40 €
      %p Doplnok stravy obsahujúci zmes enzýmov.egestas tortor dictum, mattis nunc.

  #guna.bs-callout.bs-callout-info
    %h2 Synocrom
    %img#protect{:src=>"images/drugs/synocrom.png"}
    .text
      %hr.blue
      %h4
        %b Celý názov:
        H-Protect enzyme 84 capsules
      %h4
        %b Cena za kus:
        9.30 €
      %h4
        %b Davka 3 kusou:
        27.90 €
      %h4
        %b Poznamka:
        Predpisuje sa dávka - 3 ks
      %p Použitie pri bolesti a obmedzenej pohyblivosti v dôsledku degeneratívnych alebo poúrazových zmien v oblasti synovie kĺbu.

  #hexal.bs-callout.bs-callout-info
    %h2 Hyaluron Hexal
    %img#hexal{:src=>"images/drugs/hyaluron-hexal.png"}
    .text
      %hr.blue
      %h4
        %b Celý názov:
        Hyaluron Hexal
      %h4
        %b Cena za kus:
        bez poplatku
      %p Pri bolestiach a obmedzenej pohyblivosti v dôsledku degeneratívnych a traumatických zmien v synoviálnych kĺboch, napr. koleno.

  #sinovial.bs-callout.bs-callout-info
    %h2 Sinovial
    %img#sinovial{:src=>"images/drugs/sino.png"}
    .text
      %hr.blue
      %h4
        %b Celý názov:
        Sinovial 0,8%
      %h4
        %b Cena za kus:
        8.64
      %h4
        %b Davka 3 kusou:
        27.90 €
      %h4
        %b Poznamka:
        Predpisuje sa dávka - 3 ks

      %p Opätovné obnovenie fyzilogických a reologických vlastností kĺbov postihnutých artrózou.
      %ul
        %li pri bolesti alebo zníženej pohyblivosti z dôvodu degeneratívneho ochorenia, chorôb po úrazoch alebo zmien kĺbov
        %li obnovenie fyziologických a reologických vlastností artrotických kĺbov

      / %img#sinovial{:src=>"images/drugs/sinovial_forte.png"}
      %hr.blue
      %h4
        %b Celý názov:
        Sinovial forte 1,6%
      %h4
        %b Cena za kus:
        20.52

      / %img#sinovial{:src=>"images/drugs/sinovial_mini.png"}
      %hr.blue
      %h4
        %b Celý názov:
        Sinovial mini
      %h4
        %b Cena za kus:
        bez poplatku






  / %ul.nav.nav-pills
  /   %li.active
  /     %a{"data-toggle" => "pill", :href => "#ortho"} Ortho 3000
  /   %li
  /     %a{"data-toggle" => "pill", :href => "#protect"} H-Protect
  /   %li
  /     %a{"data-toggle" => "pill", :href => "#guna"} Synocrom
  /   %li
  /     %a{"data-toggle" => "pill", :href => "#sinovial"} Sinovial
  /   %li
  /     %a{"data-toggle" => "pill", :href => "#hexal"} Hyaluron Hexal

  / %hr.blue
  / .tab-content.drugs
  /   #ortho.tab-pane.fade.in.active
  /     %h2 Ortho 3000
  /     %img#ortho{:src=>"images/drugs/ortho3000.png"}
  /     .text
  /       %hr.blue
  /       %h4
  /         Celý názov: ORTHO 3000 potiahnuté tablety
  /       %h4
  /         Davka 3 kusou:  32.17 €
  /       %p Doplnok pre aktívny životný štýl.

  /       %img#ortho{:src=>"images/drugs/ortho-3000-gel.png"}
  /       %hr.blue
  /       %h4
  /         Celý názov: ORTHO 3000 gél na kĺby 100 ml
  /       %h4
  /         Davka 3 kusou:  6.20 €
  /       %p Hrejivý, prekrvujúci a relaxačný účinok v okolí postihnutých partií.

  /   #protect.tab-pane.fade
  /     %h2 H-Protect
  /     %img#protect{:src=>"images/drugs/protect.png"}
  /     .text
  /       %hr.blue
  /       %h4
  /         Celý názov: H-Protect enzyme 84 capsules
  /       %h4
  /         Cena za kus:  42,40 €
  /       %h4
  /         Davka 3 kusou:  42,40 €

  /       %p Doplnok stravy obsahujúci zmes enzýmov.egestas tortor dictum, mattis nunc.

  /   #guna.tab-pane.fade
  /     %h2 Synocrom
  /     %img#protect{:src=>"images/drugs/synocrom.png"}
  /     .text
  /       %hr.blue
  /       %h4
  /         Celý názov: H-Protect enzyme 84 capsules
  /       %h4
  /         Cena za kus:  9.30 €
  /       %h4
  /         Davka 3 kusou:  27.90 €
  /       %h4
  /         Poznamka:  Predpisuje sa dávka - 3 ks

  /       %p Použitie pri bolesti a obmedzenej pohyblivosti v dôsledku degeneratívnych alebo poúrazových zmien v oblasti synovie kĺbu.

  /   #sinovial.tab-pane.fade
  /     %h2 Sinovial
  /     %img#sinovial{:src=>"images/drugs/sino.png"}
  /     .text
  /       %hr.blue
  /       %h4
  /         Celý názov: Sinovial 0,8%
  /       %h4
  /         Cena za kus:  8.64
  /       %h4
  /         Davka 3 kusou:  27.90 €
  /       %h4
  /         Poznamka:  Predpisuje sa dávka - 3 ks

  /       %p Opätovné obnovenie fyzilogických a reologických vlastností kĺbov postihnutých artrózou.
  /       %ul
  /         %li pri bolesti alebo zníženej pohyblivosti z dôvodu degeneratívneho ochorenia, chorôb po úrazoch alebo zmien kĺbov
  /         %li obnovenie fyziologických a reologických vlastností artrotických kĺbov

  /       %img#sinovial{:src=>"images/drugs/sinovial_forte.png"}
  /       %hr.blue
  /       %h4
  /         Celý názov: Sinovial forte 1,6%
  /       %h4
  /         Cena za kus:  20.52

  /       %p Mauris ac vulputate enim. Cras ac elit neque. Maecenas sed nisl tempor, venenatis nisl in, convallis augue. Donec commodo, nulla non elementum ullamcorper, magna est vehicula sem, a euismod diam lectus quis arcu. Duis laoreet enim at turpis molestie ultrices. Quisque sed massa lacinia, consequat felis vel, molestie arcu. Proin tincidunt mi iaculis, egestas tortor dictum, mattis nunc.

  /       %br
  /       %br

  /       %img#sinovial{:src=>"images/drugs/sinovial_mini.png"}
  /       %hr.blue
  /       %h4
  /         Celý názov: Sinovial mini
  /       %h4
  /         Cena za kus:  bez poplatku

  /       %p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean ac facilisis lectus. Donec ut nunc dolor. Morbi metus metus, tincidunt at porta ut, faucibus in sapien. Nullam consequat commodo dolor, in volutpat turpis placerat sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel malesuada leo. Suspendisse vitae felis aliquam, varius quam nec, aliquam ante.

  /       %hr.blue
  /       %h4
  /         Celý názov: Sinovial R 0,8%
  /       %h4
  /         Davka 3 kusou:  25.92 €
  /       %h4
  /         Poznamka:  Predpisuje sa dávka - 3 ks

  /       %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur feugiat dapibus nibh at eleifend. Sed viverra accumsan nisl, at eleifend dui. Phasellus nec diam nec sapien molestie iaculis. Fusce cursus, mauris sit amet pellentesque pulvinar, nulla leo suscipit purus, quis faucibus nulla purus at ipsum.

  /   #hexal.tab-pane.fade
  /     %h2 Hyaluron Hexal
  /     %img#hexal{:src=>"images/drugs/hyaluron-hexal.png"}
  /     .text
  /       %hr.blue
  /       %h4
  /         Celý názov: Hyaluron Hexal
  /       %h4
  /         Cena za kus:  bez poplatku

  /       %p Pri bolestiach a obmedzenej pohyblivosti v dôsledku degeneratívnych a traumatických zmien v synoviálnych kĺboch, napr. koleno.

