.drugs

  / #ortho.bs-callout.bs-callout-info
  /   %h2 Ortho 3000
  /   %img#ortho{:src=>"images/drugs/ortho3000.png"}
  /   .text
  /     %hr.blue
  /     %h4
  /       %b Celý názov:
  /       ORTHO 3000 potiahnuté tablety
  /     %h4
  /       %b Davka 3 kusou:
  /       32.17 €
  /     %p Doplnok pre aktívny životný štýl.

  /     / %img#ortho{:src=>"images/drugs/ortho-3000-gel.png"}
  /     %hr.blue
  /     %h4
  /       %b Celý názov:
  /       ORTHO 3000 gél na kĺby 100 ml
  /     %h4
  /       %b Davka 3 kusou:
  /       6.20 €
  /     %p Hrejivý, prekrvujúci a relaxačný účinok v okolí postihnutých partií.

  / #protect.bs-callout.bs-callout-info
  /   %h2 H-Protect
  /   %img#protect{:src=>"images/drugs/protect.png"}
  /   .text
  /     %hr.blue
  /     %h4
  /       %b Celý názov:
  /       H-Protect enzyme 84 capsules
  /     %h4
  /       %b Cena za kus:
  /       42,40 €
  /     %h4
  /       %b Davka 3 kusou:
  /       42,40 €
  /     %p Doplnok stravy obsahujúci zmes enzýmov.egestas tortor dictum, mattis nunc.

  / #guna.bs-callout.bs-callout-info
  /   %h2 Synocrom
  /   %img#protect{:src=>"images/drugs/synocrom.png"}
  /   .text
  /     %hr.blue
  /     %h4
  /       %b Celý názov:
  /       H-Protect enzyme 84 capsules
  /     %h4
  /       %b Cena za kus:
  /       9.30 €
  /     %h4
  /       %b Davka 3 kusou:
  /       27.90 €
  /     %h4
  /       %b Poznamka:
  /       Predpisuje sa dávka - 3 ks
  /     %p Použitie pri bolesti a obmedzenej pohyblivosti v dôsledku degeneratívnych alebo poúrazových zmien v oblasti synovie kĺbu.

  / #hexal.bs-callout.bs-callout-info
  /   %h2 Hyaluron Hexal
  /   %img#hexal{:src=>"images/drugs/hyaluron-hexal.png"}
  /   .text
  /     %hr.blue
  /     %h4
  /       %b Celý názov:
  /       Hyaluron Hexal
  /     %h4
  /       %b Cena za kus:
  /       bez poplatku
  /     %p Pri bolestiach a obmedzenej pohyblivosti v dôsledku degeneratívnych a traumatických zmien v synoviálnych kĺboch, napr. koleno.

  / #sinovial.bs-callout.bs-callout-info
  /   %h2 Sinovial
  /   %img#sinovial{:src=>"images/drugs/sino.png"}
  /   .text
  /     %hr.blue
  /     %h4
  /       %b Celý názov:
  /       Sinovial 0,8%
  /     %h4
  /       %b Cena za kus:
  /       8.64
  /     %h4
  /       %b Davka 3 kusou:
  /       27.90 €
  /     %h4
  /       %b Poznamka:
  /       Predpisuje sa dávka - 3 ks

  /     %p Opätovné obnovenie fyzilogických a reologických vlastností kĺbov postihnutých artrózou.
  /     %ul
  /       %li pri bolesti alebo zníženej pohyblivosti z dôvodu degeneratívneho ochorenia, chorôb po úrazoch alebo zmien kĺbov
  /       %li obnovenie fyziologických a reologických vlastností artrotických kĺbov

  /     / %img#sinovial{:src=>"images/drugs/sinovial_forte.png"}
  /     %hr.blue
  /     %h4
  /       %b Celý názov:
  /       Sinovial forte 1,6%
  /     %h4
  /       %b Cena za kus:
  /       20.52

  /     / %img#sinovial{:src=>"images/drugs/sinovial_mini.png"}
  /     %hr.blue
  /     %h4
  /       %b Celý názov:
  /       Sinovial mini
  /     %h4
  /       %b Cena za kus:
  /       bez poplatku
