%h2 Pobočky
.offices
  .container
    .row
      .col-md-4.first
        .list-group.offices-1
          %a.list-group-item.activ{:city=>"Banská Bystrica", :street=>"Ulica 29. Augusta 25", :optional=>"", :psc=>"Banská Bystrica", :phone=>"Tel.: 0850 850 850", :opening=>"8.00 - 16.00/8.00 - 16.00/8.00 - 17.00/8.00 - 12.00/8.00 - 14.00"}
            %h4.list-group-item-heading Banská Bystrica
            %p.list-group-item-text Ulica 29. Augusta 25

          %a.list-group-item{:city=>"Banská Štiavnica", :street=>"Bratská 17", :optional=>"", :psc=>"Banská Štiavnica", :phone=>"Tel.: 0850 850 850", :opening=>"zatvorené/8.00 - 15.00/zatvorené/8.00 - 15.00/zatvorené"}
            %h4.list-group-item-heading Banská Štiavnica
            %p.list-group-item-text Bratská 17

          %a.list-group-item{:city=>"Brezno", :street=>"Banisko 1", :optional=>"", :psc=>"Brezno", :phone=>"Tel.: 0850 850 850", :opening=>"7.00 - 15.30/7.00 - 15.30/7.00 - 15.30/zatvorené/7.00 - 14.00"}
            %h4.list-group-item-heading Brezno
            %p.list-group-item-text Banisko 1

          %a.list-group-item{:city=>"Krupina", :street=>"ul. ČSA 2190/3", :optional=>"", :psc=>"Krupina", :phone=>"Tel.: 0850 850 850", :opening=>"8.00 - 15.00/8.00 - 15.00/8.00 - 16.00/zatvorené/8.00 - 14.00"}
            %h4.list-group-item-heading Krupina
            %p.list-group-item-text ul. ČSA 2190/3

          %a.list-group-item{:city=>"Lučenec", :street=>"Petöfiho 3360/33", :optional=>"", :psc=>"Lučenec", :phone=>"Tel.: 0850 850 850", :opening=>"8.00 - 16.00/8.00 - 16.00/8.00 - 16.00/zatvorené/8.00 - 14.00"}
            %h4.list-group-item-heading Lučenec
            %p.list-group-item-text Petöfiho 3360/33

          %a.list-group-item{:city=>"Podbrezová", :street=>"Kolkáreň 35", :optional=>"", :psc=>"Podbrezová", :phone=>"Tel.: 0850 850 850", :opening=>"7.00 - 15.00/7.00 - 14.30/7.00 - 15.30/zatvorené/7.00 - 14.00"}
            %h4.list-group-item-heading Podbrezová
            %p.list-group-item-text Kolkáreň 35

      .col-md-4.second
        .office-info
          .address
            %h2.city Banská Bystrica
            .street Ulica 29. Augusta 25
            .optional
            .psc Banská Bystrica
            .phone Tel.: 0850 850 850
            %br
          .opening
            #pon.day
              .name Pondelok:
              .hours 8.00 - 16.00
            #uto.day
              .name Utorok:
              .hours 8.00 - 16.00
            #str.day
              .name Streda:
              .hours 8.00 - 17.00
            #stv.day
              .name Štvrtok:
              .hours 8.00 - 12.00
            #pia.day
              .name Piatok:
              .hours 8.00 - 14.00

        .opening-time

      .col-md-4.third
        .list-group.offices-2
          %a.list-group-item{:city=>"Rimavská Sobota", :street=>"SNP 15", :optional=>"", :psc=>"Rimavská Sobota", :phone=>"Tel.: 0850 850 850", :opening=>"8.00 - 16.00/8.00 - 16.00/8.00 - 16.00/zatvorené/8.00 - 14.00"}
            %h4.list-group-item-heading Rimavská Sobota
            %p.list-group-item-text SNP 15

          %a.list-group-item{:city=>"Tornaľa", :street=>"Sládkovičova 1", :optional=>"", :psc=>"Tornaľa", :phone=>"Tel.: 0850 850 850", :opening=>"7.30 - 15.30/7.30 - 15.30/7.30 - 16.00/zatvorené/7.30 - 14.00"}
            %h4.list-group-item-heading Tornaľa
            %p.list-group-item-text Sládkovičova 1

          %a.list-group-item{:city=>"Veľký Krtíš", :street=>"Nemocničná 1", :optional=>"", :psc=>"Veľký Krtíš", :phone=>"Tel.: 0850 850 850", :opening=>"7.00 - 15.00/7.00 - 15.00/7.00 - 16.00/zatvorené/7.00 - 14.00"}
            %h4.list-group-item-heading Veľký Krtíš
            %p.list-group-item-text Nemocničná 1

          %a.list-group-item{:city=>"Zvolen", :street=>"J. Jiskru 52/3", :optional=>"", :psc=>"Zvolen", :phone=>"Tel.: 0850 850 850", :opening=>"8.00 - 16.00/8.00 - 16.00/8.00 - 17.00/8.00 - 16.00/8.00 - 15.00"}
            %h4.list-group-item-heading Zvolen
            %p.list-group-item-text J. Jiskru 52/3

          %a.list-group-item{:city=>"Žarnovica", :street=>"Dolná ulica 247/4", :optional=>"", :psc=>"Žarnovica", :phone=>"Tel.: 0850 850 850", :opening=>"8.00 - 16.00/zatvorené/8.00 - 16.00/zatvorené/8.00 - 14.00"}
            %h4.list-group-item-heading Žarnovica
            %p.list-group-item-text Dolná ulica 247/4

          %a.list-group-item{:city=>"Žiar nad Hronom", :street=>"Š. Moysesa 37", :optional=>"", :psc=>"Žiar nad Hronom", :phone=>"Tel.: 0850 850 850", :opening=>"8.00 - 16.00/8.00 - 16.00/8.00 - 17.00/8.00 - 12.00/8.00 - 15.00"}
            %h4.list-group-item-heading Žiar nad Hronom
            %p.list-group-item-text Š. Moysesa 37

%h2 Novinky

#accordion.panel-group
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{ :"data-toggle"=>"collapse", :"data-parent"=>"#accordion", :href=>"#collapseVzp1"}
          .date 08.07.2014 &nbsp
          .title Stovky eur za lieky majú už poistenci späť

    #collapseVzp1.panel-collapse.collapse
      .inner-text
        %p Podľa platného zákona* sme poistencom vrátili doplatky za lieky, ktoré si pacienti vybrali v lekárni počas prvého kalendárneho štvrťroka 2014. V prípade Dôvery išlo o 3 802 poistencov a o sumu takmer 70- tisíc eur.
        %p Z celkového počtu poistencov, ktorí mali na vrátenie doplatku nárok, je 1 954  zdravotne ťažko postihnutých, 1 848 je dôchodcov. Najvyšší doplatok vo výške 412 eur sme vrátili 46-ročnej žene.
        %p Podľa zákona vzniká poistencovi nárok na vrátenie doplatku vtedy, ak za kalendárny štvrťrok prekročí svoj limit spoluúčasti (45 € v prípade starobného dôchodcu a 30 € v prípade zdravotne ťažko postihnutej osoby) o viac ako tri eurá
        %br
        %br

  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{ :"data-toggle"=>"collapse", :"data-parent"=>"#accordion", :href=>"#collapseVzp2"}
          .date 18.06.2014 &nbsp
          .title Získajte sto eur na doplatky za lieky pre vás a vaše dieťa až do konca roka 2015

    #collapseVzp2.panel-collapse.collapse
      .inner-text
        %p Našim najmenším klientom do dvoch rokov a ich mamičkám, ktoré sú našimi poistenkami, preplatíme doplatky za lieky viazané na lekársky predpis každému až do výšky sto eur.
        %p S preplácaním liekov sme začali už v júni minulého roka a pre jej úspechu sme sa ju rozhodli predĺžiť aj na ten nasledujúci. Akcia sa týka všetkých liekov, ktoré dieťaťu predpísal lekár a my ich čiastočne preplácame, a ktoré ste vybrali alebo vyberiete v lekárni od 1. júna 2013 až do 31. decembra 2015. Nie je teda dôležitý dátum predpisu lieku, ale jeho výdaja v lekárni.
        %br
        %br


  / .panel.panel-default
  /   .panel-heading
  /     %h4.panel-title
  /       %a{ :"data-toggle"=>"collapse", :"data-parent"=>"#accordion", :href=>"#collapseVzp2"}
  /         .date 27.01.2014 &nbsp
  /         .title Zmena adresy zasielania Návrhov na kúpeľnú starostlivosť

  /   #collapseVzp2.panel-collapse.collapse
  /     .inner-text
  /       Od 1.4.2014 dochádza k zmene adresy kam zasielať Návrh na kúpeľnú starostlivosť.
  /       Návrhy na kúpeľnú starostlivosť je potrebné zasielať na adresu:
  /       %br

  /       %address
  /         %strong Všeobecná zdravotná poisťovňa a.s
  /         %br
  /           Oddelenie zdravotných a revíznych činností
  /           %br
  /             Kúpeľná 5, Prešov 080 15
  /             %br
