%h2 Pobočky
.offices
  .container
    .row
      .col-md-4.first
        .list-group.offices-1
          %a.list-group-item.activ{:city=>"Banská Bystrica", :street=>"Skuteckého 132/22", :optional=>"P. O. Box 247", :psc=>"974 01 Banská Bystrica 1", :phone=>"Tel.: 048 / 282 41 19", :opening=>"8.00 - 16.00/8.00 - 17.00/8.00 - 16.00/8.00 - 12.00/7.30 - 14.00"}
            %h4.list-group-item-heading Banská Bystrica
            %p.list-group-item-text Skuteckého 132/22
          %a.list-group-item{:city=>"Banská Bystrica", :street=>"Horná 76/26", :optional=>"P. O. Box 247", :psc=>"974 01 Banská Bystrica", :phone=>"048 / 282 41 78", :opening=>"8.00 - 16.00/8.00 - 17.00/8.00 - 16.00/8.00 - 12.00/7.30 - 14.00"}
            %h4.list-group-item-heading Banská Bystrica
            %p.list-group-item-text Horná 76/26
          %a.list-group-item{:city=>"Banská Štiavnica", :street=>"Bratská 1491/17", :optional=>"", :psc=>"974 01 Banská Štiavnica", :phone=>"048 / 282 41 78", :opening=>"8.00 - 16.00/8.00 - 17.00/8.00 - 16.00/8.00 - 12.00/7.30 - 14.00"}
            %h4.list-group-item-heading Banská Štiavnica
            %p.list-group-item-text Bratská 1491/17
          %a.list-group-item{:city=>"Brezno", :street=>"Banisko 273/1", :optional=>"", :psc=>"404 01 Banská Štiavnica", :phone=>"048 / 282 41 78", :opening=>"8.00 - 16.00/8.00 - 17.00/8.00 - 16.00/8.00 - 12.00/7.30 - 14.00"}
            %h4.list-group-item-heading Brezno
            %p.list-group-item-text Banisko 273/1
          %a.list-group-item{:city=>"Detva", :street=>"Záhradná 857/5", :optional=>"", :psc=>"432 01 Detva", :phone=>"048 / 282 41 78", :opening=>"8.00 - 16.00/8.00 - 17.00/8.00 - 16.00/8.00 - 12.00/7.30 - 14.00"}
            %h4.list-group-item-heading Detva
            %p.list-group-item-text Záhradná 857/5
          %a.list-group-item{:city=>"Krupina", :street=>"29. augusta 628/23", :optional=>"", :psc=>"834 00 Krupina", :phone=>"048 / 282 41 78", :opening=>"8.00 - 16.00/8.00 - 17.00/8.00 - 16.00/8.00 - 12.00/7.30 - 14.00"}
            %h4.list-group-item-heading Krupina
            %p.list-group-item-text 29. augusta 628/23

      .col-md-4.second
        .office-info
          .address
            %h2.city Banská Bystrica
            .street Skuteckého 132/22
            .optional P. O. Box 247
            .psc 974 01 Banská Bystrica 1
            .phone Tel.: 048 / 282 41 19
            %br
          .opening
            #pon.day
              .name Pondelok:
              .hours 8.00 - 16.00
            #uto.day
              .name Utorok:
              .hours 8.00 - 17.00
            #str.day
              .name Streda:
              .hours 8.00 - 16.00
            #stv.day
              .name Štvrtok:
              .hours 8.00 - 12.00
            #pia.day
              .name Piatok:
              .hours 7.30 - 14.00

        .opening-time

      .col-md-4.third
        .list-group.offices-2
          %a.list-group-item{:city=>"Lučenec", :street=>"Nám. Artézskych prameňov 4002/16", :optional=>"P. O. Box 42", :psc=>"984 01 Lučenec 1", :phone=>"Tel.: 047 / 282 41 06", :opening=>"8.00 - 15.00/8.00 - 15.00/8.00 - 17.00/8.00 - 12.00/7.30 - 14.00"}
            %h4.list-group-item-heading Lučenec
            %p.list-group-item-text Nám. Artézskych prameňov 4002/16
          %a.list-group-item{:city=>"Tornaľa", :street=>"Hlavné námestie 504/5", :optional=>"", :psc=>"982 01 Tornaľa", :phone=>"Tel.: 047 / 282 42 36", :opening=>"nestránkový deň/8.00 - 15.00/nestránkový deň/nestránkový deň/nestránkový deň"}
            %h4.list-group-item-heading Tornaľa
            %p.list-group-item-text Hlavné námestie 504/5
          %a.list-group-item{:city=>"Veľký Krtíš", :street=>"Nemocničná 756/1", :optional=>"", :psc=>"990 01 Veľký Krtíš 1", :phone=>"Tel.: 0850 003 003*", :opening=>"8.00 - 15.00/8.00 - 14.00/8.00 - 16.00/8.00 - 12.00/7.30 - 14.00"}
            %h4.list-group-item-heading Veľký Krtíš
            %p.list-group-item-text Nemocničná 756/1
          %a.list-group-item{:city=>"Zvolen", :street=>"Medveckého 974/4", :optional=>"P. O. Box 195", :psc=>"960 01 Zvolen 1", :phone=>"Tel.: 045 / 282 45 11", :opening=>"8.00 - 15.00/8.00 - 15.00/8.00 - 17.00/8.00 - 12.00/7.30 - 14.00"}
            %h4.list-group-item-heading Zvolen
            %p.list-group-item-text Medveckého 974/4
          %a.list-group-item{:city=>"Žarnovica", :street=>"Bystrická 467/53", :optional=>"", :psc=>"966 81 Žarnovica 1", :phone=>"Tel.: 0850 003 003*", :opening=>"nestránkový deň/nestránkový deň/8.00 - 14.00/nestránkový deň/nestránkový deň"}
            %h4.list-group-item-heading Žarnovica
            %p.list-group-item-text Bystrická 467/53
          %a.list-group-item{:city=>"Žiar nad Hronom", :street=>"Sládkovičova 488/17", :optional=>"P. O. Box 1", :psc=>"965 01 Žiar nad Hronom 1", :phone=>"Tel.: 045 / 282 41 00", :opening=>"8.00 - 16.00/8.00 - 14.00/8.00 - 17.00/8.00 - 12.00/08.00 - 14.00"}
            %h4.list-group-item-heading Žiar nad Hronom
            %p.list-group-item-text Sládkovičova 488/17

%h2 Novinky

#accordion-1.panel-group
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{ :"data-toggle"=>"collapse", :"data-parent"=>"#accordion-1", :href=>"#collapseDovera1"}
          .date 16.06.2014 &nbsp
          .title Ak končíš strednú alebo vysokú školu, nezabudni:

    #collapseDovera1.panel-collapse.collapse
      .inner-text
        %p Za absolventa strednej školy platí poistné štát najviac do konca prázdnin, teda do 31.augusta. Pokiaľ ide o vysokoškolákov, štát za nich platí poistné iba do dňa zloženia štátnej skúšky (nie do promócií).
        %br
        %br



  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{ :"data-toggle"=>"collapse", :"data-parent"=>"#accordion-1", :href=>"#collapseDovera2"}
          .date 07.05.2014  &nbsp
          .title Ročné zúčtovanie poistného za rok 2013

    #collapseDovera2.panel-collapse.collapse
      .inner-text
        Aj v tomto roku VšZP vykoná ročné zúčtovanie poistného za svojich poistencov ako aj platiteľov poistného, ktorí splnia podmienky na jeho vykonanie. VšZP pre Vás pripravila základné informácie o ročnom zúčtovaní poistného, ako aj o povinnostiach, ktoré majú v súvislosti s jeho vykonaním poistenci a platitelia poistného.
        %br
        %br

        / %address
        /   %strong Všeobecná zdravotná poisťovňa a.s
        /   %br
        /     Oddelenie zdravotných a revíznych činností
        /     %br
        /       Kúpeľná 5, Prešov 080 15
        /       %br


