.video-modals{
	height: 720px;
	background: rgba(0,0,0,0.9);
	width: 1066px;
	border-radius: 20px;
	margin-left: 5px;
	.modal-header {
		color: #10b7d2;
	} 
	.video-layout{
		border: 1px solid #10b7d2;
		margin-left: 195px;
		margin-right: 175px;
		border-radius: 5px;
	}
}


#ortopedyModal,
#surveyModal,
#userInfoModal,
#daysurgeryModal,
#advicesModal,
#artroproModal {
	overflow-y:hidden;
	font-family: rw-r;
	.modal-content {
			background: rgba(0,0,0,0.9);
			box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
			-o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
			-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
			-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);

			.modal-header {
				color: #10b7d2;
				font-family: rw-l;
			}
			.modal-body {
				overflow: hidden;
				color: #10b7d2;
				.nav.nav-tabs.nav-global {
					li {
						a {
							font-size: 22px;
							font-weight: bolder;
						}
					}
				}
			}
	}
}

.modal-title {
	font-weight: bolder;
}

.nav-pills a {
	font-weight: bolder;
}

#a,
#b {
	.header h2 {
		color: #10b7d2;
	}
}


#surveyModal {
	.modal-content {
		.modal-body {
			padding-top:300px;
			form {
				.form-group {
					&.submit-button {
						margin-top: 40px;
					}
					margin-bottom: 20px;
					.question_title {
						font-size: 20px;
						color: #10b7d2;
						margin-bottom: 12px;
					}
					.block {
						vertical-align:top;
						overflow:hidden;
					}
					select option {
						text-align:center;
					}
					input  {
						height: 70px;
						font-size: 30px;
						color: #10b7d2;
						margin-right: -28px;
					}
					select#doctors {
						height: 125px;
						font-size: 30px;
						color: #10b7d2;
						margin-right: -28px;
					}
					select#ranking {
						height: 160px;
						font-size: 30px;
						color: #10b7d2;
						margin-right: -28px;
					}
					textarea {
						font-size: 20px;
						color: #10b7d2;
						margin-right: -28px;
					}
				}
			}
		}
		.additional h3 {
			font-weight: bolder;
		}
		.check-name,
		.check-email {
			position: absolute;
			top: 53px;
			right: 20px;
			display: none;
		}
	}
	select { vertical-align: bottom; }
}

#userInfoModal {
	.client-info {
		font-size: 20px;
	}
	.client-info {
		li {
			width:515px;
			a {
				text-align: center;
			}
		}
		li.first a {
			padding: 20px 15px;
		}
		li.second a {
			padding: 20px 145px;
		}
	}
	.tab-content {
		.nav.nav-pills.insurance li {
			margin: 0px 32px;
			background-color: white;
			border-radius: 5px;
		}

		#drugs .drugs {
			font-weight: bolder;
			li a {
				font-size:21px;
				padding-left: 35px !important;
				padding-right: 35px !important;
				margin-left: 5px;
				margin-right: 5px;
			}
			h2,
			.text {
				margin-left:20px;
				margin-bottom: 0px;
			}
			.text{
				font-size:16px;
			}
			img {
				float: right;
			}
			#hexal {
				padding-left: 17px;
			}
		}
	}
	.panel-collapse .inner-text {
		font-weight: bolder;
	}
	#wifi-taxi {
		.display-inline > div {
			display: inline-block;
			font-size: 32px;
		}
		#wifi-connection {
			padding-top: 40px;
			padding-bottom: 15px;
		}
		#condition {
			padding-bottom: 40px;
		}
	}
}

#daysurgeryModal {
	.oneday-surgery {
		p, li {
			text-align:justify;
			font-size:19px;
		}
	}
	.daysurgery-info {
		font-size: 22px;
		li a {
			padding: 20px 100px;
			margin: 0px 20px;
		}
	}

	.play-video {
		float: right;
		margin-left: 20px;
		margin-bottom: 21px;
	}

	.bs-callout{
		margin-left:25px;
	}

	#about-daysurgery {
		.text {
			font-size:19px;
			margin-top:40px
		}
		ul {
			li {
				font-size:19px;
			}
		}
	}
	.text {
		text-align:justify;
		min-height: 135px;
	}
	.tab-content {
		color: #10b7d2;
	}
}

.ui-keyboard {
	top: 985px !important;
	left: 283px !important;
	.ui-keyboard-preview {
		font-size: 20px;
		color: #10b7d2;
	}
}


#advicesModal {
	.devices {
		.nav-pills li {
			width: 343px;
			font-size: 22px;
			text-align: center;
		}
		.main-info{
			font-size: 18px;
			text-align:justify;
		}
		.steps {
			ul, p {
				padding-right: 40px;
			}
			li {
				padding: 5px 0px;
			}
			h3 {
				font-weight: bolder;
			}
			.bs-callout {
				padding-bottom: 20px;
			}
		}
		.important {
			font-weight: bolder;
			padding: 30px 146px;
			font-size: 22px;
		}
	}
}


#artroproModal {
	ul.ortotech {
		li a{
			font-size: 28px;
			padding: 15px 205px;
		}
	}
	#about {
		.container.about {
			p {
			 	font-size: 18px;
			 	text-align:justify;
			 	margin-top: 15px;
				margin-bottom: 35px;
			}
		}
	}
	#videos {
		font-size: 18px;
		.quotes {
		padding: 45px;
		}
	}
	#contacts {
		.container.contacts {
			margin-top:15px;
		}
		.main-contacts {
			.phone,
			.fax,
			.mail {
				margin-top: 5px;
				margin-bottom: 5px;
			}
		}
		.main-adress {
			.name,
			.street,
			.city {
				margin-top: 5px;
				margin-bottom: 5px;
			}
		}
		.section {
			margin-top:15px;
			.name {
				display: inline-block;
				font-size: 22px;
				&.big {
					font-size: 26px;
				}
			}
			.phone {
				display: inline-block;
				float: right;
				font-size: 22px;
			}
			li {
				margin-top: 5px;
				margin-bottom: 5px;
				&.no-dot {
					list-style-type: none;
				}
			}
		}
	}
}

#ortopedyModal {

	.sportova-trauma {
		p, li {
			font-size:19px;
			text-align: justify;
		}
	}
}

.number-list {
	font-size: 20px;
}