#rehabModal,
#surveyModal,
#userInfoModal,
#trafficModal,
#devicesModal,
#ortotechModal {
	overflow-y:hidden;
	font-family: rw-r;
	.modal-content {
			background: rgba(0,0,0,0.85);
			box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
			-o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
			-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
			-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);

			.modal-header {
				color: #10b7d2;
				font-family: rw-l;
			}
			.modal-body {
				color: #10b7d2;
				.nav.nav-tabs.nav-global {
					li {
						a {
							font-size: 22px;
							font-weight: bolder;
						}
					}
				}
			}
	}
}

#trafficModal .modal-dialog {
	margin: 250px auto;
}


#devicesModal .modal-dialog {
	margin: 330px auto;
}

#ortotechModal .modal-dialog {
	margin: 330px auto;
}

#surveyModal .modal-dialog {
	margin: 300px auto;
}

.modal-title {
	font-weight: bolder;
}

.nav-pills a {
	font-weight: bolder;
}

#a,
#b {
	.header h2 {
		color: #10b7d2;
	}
}


#surveyModal {
	.modal-content {
		.modal-body {
			form {
				.form-group {
					&.submit-button {
						margin-top: 40px;
					}
					margin-bottom: 20px;
					.question_title {
						font-size: 20px;
						color: #10b7d2;
						margin-bottom: 12px;
					}
					select,
					input  {
						height: 70px;
						font-size: 25px;
						color: #10b7d2;
					}
					textarea {
						font-size: 20px;
						color: #10b7d2;
					}
				}
			}
		}
		.additional h3 {
			font-weight: bolder;
		}
		.check-name,
		.check-email {
			position: absolute;
			top: 53px;
			right: 20px;
			display: none;
		}
	}
	select { vertical-align: bottom; }
}

#userInfoModal {
	.client-info {
		font-size: 20px;
	}
	.client-info {
		li.first a {
			padding: 20px 20px;
		}
		li.second a {
			padding: 20px 165px;
		}
	}
	.tab-content {
		.nav.nav-pills.insurance li {
			margin: 0px 32px;
			background-color: white;
			border-radius: 5px;
		}
		.tab-content.insurance {
			#vzp,
			#dovera,
			#union {
				.panel-title {
					color: #10b7d2;
					a {
						text-decoration: none;
						& > div {
							display:inline-block;
							font-size: 21px;
						}
					}
					.title {
						font-weight: bolder;
					}
				}
				.inner-text {
					margin: 5px 45px;
					font-size: 16px !important;

				}
				.offices {
					.container {
						padding-left: 0px;
						.row {
							margin-right: 0px;
							.list-group {
								.list-group-item {
									background-color: transparent;
									border-color: #10b7d2;
									color: #10b7d2;
									h4 {
										color: #10b7d2;
										font-weight: bolder;
									}
									.list-group-item-text {
										font-weight: bolder;
										font-size: 15px;
									}
									&.activ {
										color: white;
										background-color: #10b7d2;
										h4 {
											color: white;

										}
									}
								}
							}
							.col-md-4 {
								&.first {
									padding-right: 0px;
									.list-group-item {
										&:first-child {
											border-top-right-radius: 0px;
										}
										&:last-child {
											border-bottom-right-radius: 0px;
										}
									}
								}
								&.second {
									padding-right: 0px;
									padding-left: 0px;
									border-top: 1px solid;
									border-bottom: 1px solid;
									border-right: 1px solid;
									height: 385px;
									.office-info {
										font-weight: bolder;
										padding: 0px 20px;
										font-size: 18px;
										.city {
										}
										.street {

										}
										.opening {
											font-size: 19px;

											.day > * {
												display: inline-block;
											}
											#pon .name {
												padding-right: 15px;
											}
											#uto .name {
												padding-right: 37px;
											}
											#str .name {
												padding-right: 42px;
											}
											#stv .name {
												padding-right: 37px;
											}
											#pia .name {
												padding-right: 47px;
											}
										}
									}
								}
								&.third {
									padding-left: 0px;
									.list-group-item {
										&:first-child {
											border-top-left-radius: 0px;
										}
										&:last-child {
											border-bottom-left-radius: 0px;
										}
									}
								}
							}
						}
					}
				}
				.map {
					position: relative;
					img.mini{
						position: absolute;
						&#bb {
							top: 80px;
							left: 319px;
						}
						&#bs {
							top: 161px;
							left: 206px;
						}
						&#zv {
							top: 170px;
							left: 309px;
						}
						&#dt {
							top: 182px;
							left: 419px;
						}
					}

				}
			}
		}
		#drugs .drugs {
			font-weight: bolder;
			li a {
				font-size:21px;
				padding-left: 35px !important;
				padding-right: 35px !important;
				margin-left: 5px;
				margin-right: 5px;
			}
			h2,
			.text {
				margin-left:20px;
				margin-bottom: 0px;
			}
			.text{
				font-size:16px;
			}
			img {
				float: right;
			}
			#hexal {
				padding-left: 17px;
			}
		}
	}
	.panel-collapse .inner-text {
		font-weight: bolder;
	}
}

#trafficModal {
	.traffic-info {
		font-size: 22px;
		li a {
			padding: 20px 85px;
			margin: 0px 20px;
		}
	}

	.bs-callout{
		margin-left:25px;
	}

	#bus {
		.text {
			font-size:19px;
			margin-top:40px
		}
		ul {
			li {
				font-size:19px;
			}
		}
	}
	.tab-content {
		color: #10b7d2;

		.description {
			.week,
			.weekend {
				display: inline-block;
				font-size: 22px;
				font-weight: bolder;
			}
			.week {
				margin-left: 110px;
			}
			.weekend {
				margin-left: 160px;
			}

		}
		.description-secondary {
			.week,
			.weekend {
				font-weight: bolder;
				display: inline-block;
				font-size: 22px;
			}
			.week {
				margin-left: 135px;
			}
			.weekend {
				margin-left: 180px;
			}
		}

		.additional {
			font-size: 20px;
			font-weight: bolder;
		}

		.bus-table {
			color: #10b7d2;
			width: 380px;
			font-weight: bolder;
			display: inline-block;
			th {
				font-size: 20px;
				border-color: #10b7d2;
				text-align: center;
				&:first-of-type {
					border-right: 2px solid #10b7d2;
				}
				&.hour {
					width: 85px;
				}
				&.minute {
					width: 280px
				}
			}
			td {
				font-size: 21px;
				border-color: #10b7d2;
				text-align: center;
				&:first-of-type {
					border-right: 2px solid #10b7d2;
				}
			}
		}
		.week {
			margin-left: 0px;
		}
	}
}

.ui-keyboard {
	top: 985px !important;
	left: 283px !important;
	.ui-keyboard-preview {
		font-size: 20px;
		color: #10b7d2;
	}
}


#devicesModal {
	.devices {

		.group-list-header {
			color: #10b7d2;
			font-size: 30px;
			padding-left: 5px;
		}

		.nav.nav-tabs.nav-global {
			width: 115px;
		}

		.tab-content {
			.body {
				min-height: 800px;
				.text {
					padding-top: 5px;
					padding-left: 150px;
					padding-right: 40px;
					.list {
						font-size: 20px;
						font-weight: bolder;

					}
					images {
						top: 50px;
						left: 100px;
						position: relative;
						.img-thumbnail {
							margin-right: 40px;
							margin-bottom: 40px;

						}
					}
				}
			}
		}

		h4.panel-title {
			color: #10b7d2;
			.primary {
				font-size: 20px;
			}
			.secondary {
				font-size: 16px;
			}
		}
		.panel-body {
			.section-title {
				.primary {
					display: inline-block;
					font-size:18px
				}
				.secondary {
					display: inline-block;
					font-size:17px
				}
			}
			.list {
				margin-left: 25px;
			}
			.text {
				margin-left: 25px;
			}
		}
		ul.torso-list li a,
		ul.prosthesis-list li a {
			font-size: 17px;
			padding: 12px 123px;
		}
		ul.legs-list li {
			font-size: 17px;
			width: 440px;
			float: none;
			display: inline-block;
			a {
				text-align: center;
			}
		}
		ul.hands-list li {
			font-size: 17px;
			&.first,
			&.second {
				width: 440px;
			}
			&.third {
				width: 880px;
			}
			a {
				text-align: center;
			}
		}
	}
}


#ortotechModal {
	ul.ortotech {
		li a{
			font-size: 22px;
			padding: 15px 115px;
		}
	}
	#about {
		.container.about {
			margin-top:15px;
			p {
			 	font-size: 18px;
			 	text-align:justify;
			 	margin-top: 15px;
				margin-bottom: 35px;
			}
		}
	}
	#videos {
		font-size: 18px;
		.quotes {
		padding: 45px;
		}
	}
	#contacts {
		.container.contacts {
			margin-top:15px;
		}
		.main-contacts {
			.phone,
			.fax,
			.mail {
				margin-top: 5px;
				margin-bottom: 5px;
			}
		}
		.main-adress {
			.name,
			.street,
			.city {
				margin-top: 5px;
				margin-bottom: 5px;
			}
		}
		.section {
			margin-top:15px;
			.name {
				display: inline-block;
				font-size: 22px;
				&.big {
					font-size: 26px;
				}
			}
			.phone {
				display: inline-block;
				float: right;
				font-size: 22px;
			}
			li {
				margin-top: 5px;
				margin-bottom: 5px;
				&.no-dot {
					list-style-type: none;
				}
			}
		}
	}
}

#rehabModal {
	.depart-rehab{
		font-size: 22px;
		li a {
			padding: 20px 145px;
		}
	}
	.departure-table {
		font-size:20px;
		font-weight: bold;
		width: 800px;
		margin-left: 70px;
		margin-top: 70px;
		.city {
			font-weight: bolder;
			font-size: 24px;
		}
	}
	.departure-info {
		margin-top: 70px;
		margin-bottom: 40px;
		.icon {font-size: 30px;}
		.text {font-size: 25px;}
	}

	.city {
		font-size: 16px;
		.info {

		}
		.foto {
			& img {
				margin: 10px 40px;
			}
		}
		.map-contact > div {
			display: inline-block;
		}
		.contact {
			margin-top: 30px;
			margin-left: 20px;
		}
		.map {

		}
	}
	.map-contact {

		.map {
			position: absolute;
			padding-top: 45px;
			right: 25px;
			margin-bottom: 40px;
		}
	}

	#rehab.tab-pane .nav-global {
		margin-bottom: 30px;
	}
	.info .text,
	.bs-callout {
		font-weight: bold;
		text-align:justify;
	}

	.tab-pane {
		.text {
			margin-right: 45px;
			padding-left: 190px;
		}
		.bs-callout {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
	#a {
		img {
			&.one {
				float: right;
				margin-left: 20px;
				margin-bottom: 20px;
			}
			&.four {
				margin-top: 20px;
				float: left;
				margin-left: 190px;
			}
		}
		.images {
			margin-left: 190px;
		}
		.bs-callout {
			margin-left: 520px;
			margin-right: 45px;
			padding-right: 20px;
		}
	}
	#b {
		img {
			&.one {
				float: right;
				margin-left: 20px;
				margin-bottom: 20px;
			}
		}
		.images {
			margin-left: 220px;
		}
		.bs-callout {
			margin-left: 190px;
			margin-right: 45px;
			padding-right: 20px;
		}
	}
	#c {
		img {
			float: left;
			margin-top: 45px;
		}
		.bs-callout {
			margin-left: 190px;
			margin-right: 45px;
			padding-right: 20px;
		}
	}
	#d {
		img {
			margin-bottom: 20px;
		}
		.images {
			margin-left: 220px;
		}
		.bs-callout {
			margin-left: 190px;
			margin-right: 45px;
			padding-right: 20px;
		}
	}
	#e {
		img {
			float: left;
		}
		.bs-callout {
			margin-left: 450px;
			margin-right: 45px;
			padding-right: 20px;
		}
	}
}

.number-list {
	font-size: 20px;
}