@font-face {
  font-family: rw-el;
  src: url('../fonts/Raleway-ExtraLight.otf');
}
@font-face {
  font-family: rw-l;
  src: url('../fonts/Raleway-Light.otf');
}
@font-face {
  font-family: rw-r;
  src: url('../fonts/Raleway-Regular.otf');
}
@font-face {
  font-family: rw-t;
  src: url('../fonts/Raleway-Thin.otf');
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9000;
  background: -webkit-radial-gradient(center, circle closest-corner, #0D7EFF 20%, #000000 100%);
  background: -moz-radial-gradient(center, circle closest-corner, #0D7EFF 20%, #000000 100%);

  .loader-logo {
    z-index: 9010;
     position: fixed;
     top:600px;
     left:100px;
  }
  .loader-glow {
    z-index: 9005;
     position: fixed;
     top:600px;
     left:100px;
  }
  .finger {
    z-index: 9005;
    position: fixed;
    bottom:252px;
    right:300px;
  }
  #pulsing_text {
    font-family: rw-l;
    font-size: 50px;
    font-weight:100;
    margin:0;
    z-index: 9005;
    position: fixed;
    bottom:430px;
    right:200px;
    color:#e63e6f;
    transition: all .9s ease-in-out;
    &.active {
      transform: scale(1.35);
    }
  }
}

#wrapper {
  position: relative;
}
#wrapper video {
  position: absolute;
}

#bgvid {
  min-width: 100%;
  min-height: 100%;
}

.calendar {
  bottom: 270px;
  left: 808px;
  margin: auto;
  position: fixed;
  .date {
    position: relative;
    .month {
      font-family: rw-r;
      font-size: 18px;
      position: absolute;
      font-weight: bolder;
      top: -134px;
      left: 17px;
    }
    .year {
      font-family: rw-r;
      font-size: 16px;
      position: absolute;
      font-weight: bolder;
      color: #80233b;
      top: -131px;
      left: 113px;
    }
    .day {
      position: absolute;
      top: -115px;
      left: 50px;
      width: 70px;
      height: 70px;
      font-size: 65px;
      color: #68645b;
      .day-window {
        text-align: center;
        vertical-align: middle;

      }
    } 
  }
}

#artropro-logo {
  position:fixed;
  top: 10px;
  left: 10px;
}

#ortotech-logo {
  position:fixed;
  top: 550px;
  left: 20px;
}

#ortotech-logo2 {
  position:fixed;
  top: 750px;
  right: 20px;
}

#ortotech-man {
  position:fixed;
  top: 550px;
  left: 20px;
}

#footer_navigation {
  position: fixed;
  bottom: 0;
  .first-line {

  }
  .second-line {
  	margin-top: 20px;
  	margin-bottom: 20px;
  }
}

hr.solid {
  border: 0;
  height: 1px;
  background-color: #10b7d2 !important;
}

hr.blue {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(16,183,210,0.5), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(16,183,210,0.4), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(16,183,210,0.4), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(16,183,210,0.4), rgba(0,0,0,0));
  &.higher {
    height: 3px;
  }
}

.padding-down-15 {
  padding-bottom: 15px;
}

.padding-right-15 {
  padding-right: 15px;
}

.padding-right-30 {
  padding-right: 30px;
}

.padding-top-10 {
  padding-top: 10px;
}

.height {
  height: 320px;
}

.work-hours {
  font-size: 21px;
  td {
    border-top: 1px solid #10b7d2;
  }
}

img.img-paragraph {
  float: right;
  margin-right: 35px;
  margin-left: 20px;
  margin-top: 15px;
  border: 5px solid #428bca;
  border-radius: 4px;
}

.photo {
  float: left;
}

.certificates {
  width: 100%;
  text-align: center;
}

.certs {
  padding-bottom: 8px;
    margin: 0 auto;
}

img.img-cert {
  border: 4px solid #428bca;
  border-radius: 4px;
}

.about-doctor{
  font-size:18px;
  font-weight: normal;
}

.bs-callout-info {
  background-color: rgba(91,192,222,0.15);
  border-color: #5bc0de;
}

.bs-callout {
  margin: 20px 0;
  padding-left: 20px;
  border-left: 3px solid;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  font-weight: bold;
  .text {
    padding-top: 1px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
}

.bs-callout-2 {
  margin: 20px 0;
  padding-left: 20px;
  border-right: 3px solid;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  .text {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}

img.left{
  float:right;
}

.left-padding {
  padding-left:14px;
}


@-webkit-keyframes pulse {       
  0% {-webkit-transform: scale(0); opacity: 0;}
  8% {-webkit-transform: scale(0); opacity: 0;}
  15% {-webkit-transform: scale(0.1); opacity: 1;}
  30% {-webkit-transform: scale(0.5); opacity: 1;}
  100% {opacity: 0; -webkit-transform: scale(1);}
}

@-moz-keyframes pulse {       
  0% {-moz-transform: scale(0); opacity: 0;}
  8% {-moz-transform: scale(0); opacity: 0;}
  15% {-moz-transform: scale(0.1); opacity: 1;}
  30% {-moz-transform: scale(0.5); opacity: 1;}
  100% {opacity: 0; -moz-transform: scale(1);}
}

.pulse_rays {
  margin: 0 auto;
  border-radius: 100px;
  position: absolute;
  right: -6px;
  top: -5px;
  z-index: 10;
  background-color: transparent;
  opacity: 0.1;
  width: 80px;
  height: 80px;
  border: 4px solid #10b7d2;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  /* Giving Animation Function */
  -webkit-animation: pulse 2s linear infinite;
  -moz-animation: pulse 2s linear infinite; 
  border-image: initial;
}

.pulse_rays2 {
  margin: 0 auto;
  border-radius: 100px;
  position: absolute;
  right: -16px;
  top: -15px;
  z-index: 10;
  background-color: transparent;
  opacity: 0.1;
  width: 100px;
  height: 100px;
  border: 6px solid #10b7d2;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  /* Giving Animation Function */
  -webkit-animation: pulse 2s linear infinite;
  -moz-animation: pulse 2s linear infinite; 
  border-image: initial;
}

.pulse_rays3 {
  margin: 0 auto;
  border-radius: 100px;
  position: absolute;
  right: 6px;
  top: 5px;
  z-index: 10;
  background-color: transparent;
  opacity: 0.1;
  width: 64px;
  height: 64px;
  border: 2px solid #10b7d2;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  /* Giving Animation Function */
  -webkit-animation: pulse 2s linear infinite;
  -moz-animation: pulse 2s linear infinite; 
  border-image: initial;
}

.loader_pulse_rays {
  margin: 0 auto;
  border-radius: 100px;
  position: absolute;
  right:360px;
  bottom:360px;
  z-index: 10;
  background-color: transparent;
  opacity: 0.1;
  width: 80px;
  height: 80px;
  border: 4px solid #e64973;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  /* Giving Animation Function */
  -webkit-animation: pulse 2s linear infinite;
  -moz-animation: pulse 2s linear infinite; 
  border-image: initial;
}

.loader_pulse_rays2 {
  margin: 0 auto;
  border-radius: 100px;
  position: absolute;
  right:350px;
  bottom:350px;
  z-index: 10;
  background-color: transparent;
  opacity: 0.1;
  width: 100px;
  height: 100px;
  border: 6px solid #e64973;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  /* Giving Animation Function */
  -webkit-animation: pulse 2s linear infinite;
  -moz-animation: pulse 2s linear infinite; 
  border-image: initial;
}