#partModal-koleno.bodyPartModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h2#myModalLabel.modal-title Koleno
      .modal-body
      .modal-body
        .part
          .main-info
            %ul.nav.nav-pills
              %li.nav.first.active
                %a{"data-toggle" => "pill", :href => "#koleno1"} Koleno
              %li.nav
                %a{"data-toggle" => "pill", :href => "#koleno2"} Artróza kolena
              %li.nav
                %a{"data-toggle" => "pill", :href => "#koleno3"} Poranenie menisku
              %li.nav
                %a{"data-toggle" => "pill", :href => "#koleno4"} Poranenie chrupavky
              %li.nav
                %a{"data-toggle" => "pill", :href => "#koleno5"} Poškodenie predného skríženého väzu
            %hr.blue

            .tab-content

              #koleno1.tab-pane.fade.in.active
                .container
                  .row
                    .col-md-12.body-paddding-justify
                      %img.body-left{:src=>"images/body/koleno.png"}
                      %p.text Kolenný kĺb je najväčší a najzložitejší kĺb v ľudskom tele. Napriek svojmu jednoduchému vzhľadu patrí medzi najkomplikovanejšie kĺby. Zároveň ide o najčastejšie poranený kĺb v ľudskom organizme. Spojuje stehennú kosť, holennú kosť a najväčšiu sezamskú kosť tela jabĺčka. Umožňuje pohyb dolnej časti nohy a tým aj chôdzu.

                      %p.text Kolenný kĺb sa skladá v hornej části z kĺbovej plochy stehennej kosti (femuru), ktorá vo forme dvoch výbežkov (kondylov) pôsobí ako dvojitá hlavica kĺbov, v spodnej časti z kĺbnej plochy holennej kosti (lat. tibia), ktorá tvorí mäkkú dvojitú kĺbnu jamku. Tvar a stabilita kĺbovej jamky je doplnená dvoma postrannými polomesiačikovitými chrupavkovými útvarmi ­ menisku (vnútorný ­ mediálny a vonkajší laterálny).

                      %p.text Kĺb je ďalej stabilizovaný väzivovým aparátom:

                      %ul
                        %li Skrížené väzy ­ predný skrížený väz a zadný skrížený väz
                        %li Väzy kĺbneho puzdra ­ predovšetkým postrannými kolennými väzmi a šľachou čtvorhlavého stehenného svalu v prednej časti.
                      Ďalšiu stabilizaciu poskytujú šľachy okolitých svalov a ich napätia.

                      %p.text Vo vnútri kĺbového puzdra je synoviálna tekutina, ktorá znižuje trenie pri pohybe v klĺbe a umožnuje transport živín k chrupavkovitým štruktúram vo vnútri. Výchlipenina kĺbového puzdra do okolia tvoria takzvané burzy, ktoré v miestach tlaku či trenia pôsobia ako ochrana proti mechanickému namáhaniu.

                      %img.body-left{:src=>"images/body/Koleno_2.png"}
                      %p.text V prednej časti kolenného kĺbu se nachádza jabĺčko (patella). Jedná sa o sezamskú kosť, ktorá vznikla osifikáciou časti šľachy čtvorhlavého stehenného svalu. Úderom pod jabĺčko sa v neurológii testuje tzv. patelárny reflex.

                      %p.text Koleno je dôležitý kĺb v ľudskom tele, ktorý je vystavený veľkej záťaži. Veľká záťaž môže často skončiť i úrazom. Následné liečenie je veľmi náročné a zdĺhavé a často vedie k trvalému poškodeniu kĺbu. Vyšetrenie kolenného kĺbu endoskopickými metódami se odborne nazýva artroskopia. Poškodenie kolena môže znamenať i trvalé komplikácie.

                      %p Kolenný kĺb patrí do skupiny najčastejšie poranených kĺbov v ľudskom tele. Poranenie menisku, skrížených väzov, či poškodenie chrupavky môžu vzniknúť z viacerých príčin. Najčastejšie dochádza k poraneniu kolenného kĺbu pri športe, kedy dochádza k náhlej rotácií kolena. Z tohto pohľadu sú rizikovými aktivitami futbal, lyžovanie, hokej, motocyklový šport, atletika a iné.. Bolesti kolena môžu byť zapríčinené aj degeneratívnymi zmenami. Tieto nazývame aj zmeny z opotrebovania kĺbu – artrózou kĺbu.

                      %p Každá bolesť v kolene, ktorá trvá dlhšie musí byť vyšetrená odborníkom. Každá zmena konfigurácie – vzhľadu kolena má byť vyšetrená odborníkom. Tekutina v kolene je príznakom vnútroklbneho poškodenia meniskov, chrupavky alebo väzov a vyžaduje odbornú diagnostiku a artroskopickú liečbu. Neošetrené vnútrokĺbne poranenia spôsobujú následné poškodenia štruktúr kolena, ktoré komplikujú liečbu a zhoršujú dobrú prognózu ošetrenia pôvodného poškodenia.

              #koleno2.tab-pane.fade
                .container
                  .row
                    .col-md-12.body-paddding-justify
                      %img.body-left{:src=>"images/body/koleno-artroza.png"}
                      %p.text Artróza kolena je dnes jedným z najčastejších ochorení kĺbov, ktoré postihuje až 12% obyvateľstva. Preto patrí medzi najdiskutovanejšie zdravotné problémy v súčasnosti. Artróza je dlhotrvajúce a pomaly sa vyvíjajúce ochorenie jedného alebo viacerých kĺbov, kedy sa opotrebováva predovšetkým kĺbová chrupavka. Najčastejšie sú postihnuté kolenné a bedrové kĺby, ktoré sú aj najviac namáhané. Artróza začína zanikaním kĺbovej chrupavky, následne dochádza k zmenám aj v susedných kostiach so zničením kĺbu. Následkami je nehybnosť a bolesti kĺbu, ako aj narastajúca deformácia. Prvé zmeny sa začínajú vyskytovať medzi 20.­ - 30. rokom života a s vekom sa postupne problémy prehlbujú.

                      %h3 Vzniká artrózy
                      %p Pri mnohých ochoreniach nie je vždy možné určiť vyvolávajúcu príčinu, hoci inokedy je prítomná určitá situácia alebo faktor, ktoré vysvetľujú vznik ochorenia. Na základe toho môžeme artrózu rozdeliť na:
                      %ul
                        %li Primárnu alebo idiopatickú: jej pôvodná príčina je neznáma a vzniká spolupôsobením série faktorov.
                        %li 
                          Sekundárnu alebo druhotnú pri nasledujúcich okolnostiach:
                          %ul
                            %li Úrazy a kostné zlomeniny, vzniknuté často mnoho rokov pred prepuknutím ochorenia.
                            %li Vrodené ochorenia alebo poruchy vývinu ako vrodené luxácie (vykĺbenia), nerovnaká dĺžka končatín či niektoré choroby látkovej premeny.
                            %li Kostné choroby z nadmerného ukladania vápnika do kostí, pre poruchy prekrvenia, dna, infekcie či Pagetova choroba.
                            %li Ďalšie ochorenia ako diabetes mellitus, hypotyreóza alebo postihnutie nervových vlákien, ktoré inervujú daný kĺb.

                      %h3 Príčiny
                      %p Artrózu spôsobujú rôzne faktory, ale zvyčajne vzniká práve následkom preťažovania kĺbov. Touto chorobou najčastejšie trpia ľudia s nadváhou, či ťažko pracujúci. Veľkú časť pacientov tvoria aj športovci. Práve úrazy alebo drobné poranenia sú počiatočným impulzom k rozvoju choroby.

                      %h3 Symptómy
                      %p Typickými symptómami ochorenia sú bolesti a nehybnosť kĺbov. Bývajú citlivé na chlad, napríklad pri zmene počasia. Bolesť sa dostavuje aj pri namáhavej činnosti. Pri artróze kolena je napríklad veľmi namáhavé chodenie po schodoch hore a dole, z kopca, či po nerovnom teréne. Pri iných činnostiach sa problémy nemusia vyskytnúť (bicyklovanie). Vtedy hovoríme o tzv. štartovacej bolesti. Neskoršie sa dostaví stuhnutosť kĺbov pri začiatku pohybu, ktorá aktivitou postupne mizne. Pri zhoršovaní sa ochorenia pretrváva bolesť aj pri vlastnom pohybe a neskôr aj v kľude.

                      %h3 Liečba
                      %p Artróza je ochorenie, ktoré spôsobuje mnoho problémov, v súčasnej dobe sa stáva čoraz častejším ochorením. Vo vyššej miere postihuje ženy a spôsobuje nepríjemné bolesti. Je preto dôležité liečiť nielen samotnú artrózu, ale aj bolesť, aby sa pacient mohol vrátiť do normálneho života. Prevetívnym prostriedkom proti vzniku tohto ochorenia sú magnetoterapeutické bandáže a magnetoterapeutické a ionizačné náramky prípadne hodinky s ionizačným náramkom !





              #koleno3.tab-pane.fade
                .container
                  .row
                    .col-md-12.body-paddding-justify
                      %p.text Meniskus má nepochybne veľmi dôležitú úlohu v kolennom kĺbe. Avšak pri jeho poškodení  sa väčšina jeho výhod stráca. Naopak, poškodený meniskus môže pri pokračujúcom zaťažení  kolena poraniť priľahlú chrupavku.Tým sa stav môže značne komplikovať a spôsobovať trvalé bolesti kolena s chronickým zápalom. Aj preto je vhodné včasné ošetrenie menisku artroskopickou operáciou.

                      %img.body-left{:src=>"images/body/injured-meniscus2.png"}
                      %h3 Vznik
                      %p Hlavnou príčinou poškodenia menisku sú športové úrazy. Najrizikovejšie sú najmä rotačné športy ako je futbal, squash či lyžovanie.Pri týchto športoch dochádza veľmi časti ku kombinácii aj s poškodením skrížených väzov.U starších ale aj rekreačných športovcov vzniká poranenie menisku už aj pri jednoduchých úrazoch ako je bežné podvrtnutie kolena pri drepoch, alebo opakovaných aktivitách ako je beh alebo turistika.Často sa však stretávame s prejavmi poškodenia menisku u ľudí, ktorí nikdy nešportovali.Vtedy sa jedná o degeneratívne poškodenie menisku pri tzv.artróze kolena.

                      %h3 Typy poškodenií
                      %p Meniskus sa môže poškodiť celý, alebo len jeho časť. Trhliny menisku mávajú rôzne varianty. Najčastejšie sa jedná o flap alebo lukovitú léziu. Pri chronických stavoch sa meniskus poškodzuje vo viacerých rovinách kedy hovoríme o viacnásobnej lézii.

                      %h3 Diagnóza
                      %p Pri poškodení menisku dochádza ku bolesti, opuchu a mechanickým príznakom ako je obmedzenie hybnosti alebo  až ku blokovaniu kolenného kĺbu. Poranenie menisku možno diagnostikovať na základe anamnézy, popisu úrazu pacientom a klinickým vyšetrením u špecialistu. Vyšetrenie magnetickou rezonanciou (MRI) potvrdzuje a bližšie špecifikuje vážnosť poranenia kolena. V prípade, že diagnóza nie je úplne jasná, je indikovaná diagnostická artroskopia, pri ktorej sa dá poškodenie menisku jednoznačne určiť a následne ošetriť.

                      %img.body-left{:src=>"images/body/arthroscopic-operation.png"}
                      %h3 Liečba
                      %p Väčšina poranení menisku najmä pri chronických ťažkostiach je indikovaná na operačné riešenie. Tento operačný výkon sa nazýva parciálna menisektómia. Jedná sa o artroskopický operačný výkon, pri ktorom sa odstraňuje len poškodená časť menisku a zdravá časť sa ponecháva v kolene
                      %p Niektoré typy poškodeného menisku- lukovitá lézia -sa dajú ošetriť zošitím – sutúrou. Tento typ ošetrenia sa robí najmä pri čerstvých úrazoch u mladých ľudí, kedy je predpoklad prihojenia poškodenej časti dobrý

                      %h3 Prevencia
                      %p Väčšina úrazov s poranením meniskov súvisí so športom, častejšie snáď s rekreačným, než vrcholovým športom. Najčastejšie sú postihnutí športovci, u ktorých sú časté rotačné a prudko sa meniace pohyby v kolennom kĺbe (futbal, basketbal, squash, tenis, lyže ...). Veľmi často súvisí úraz s neprimeranou záťažou, na ktorú nie je jedinec trénovaný a často nie je k športu správne vybavený. Pred výkonom je nutné dôkladné rozcvičenie. Dôležitým faktorom je aj ignorovanie drobných poranení a nedoliečení skorších poranenia. V tom prípade sa naruší správny pohybový stereotyp a môže viesť k poraneniu.

              #koleno4.tab-pane.fade
                .container
                  .row
                    .col-md-12.body-paddding-justify
                      %p.text Chrupavka sa može poškodiť úrazom, preťažovaním kĺbu ale prirodzeným opotrebovaním vekom orgaizmu, obzvlášť pri nadváhe.Takto može dojsť ku odtrhnutiu jej časti pri úraze,alebo chrupavka postupne vysychá,odlupuje sa a tak vzniká drsný povrch na kontakných plochách v kĺbe.

                      %h3 Indikácia
                      %p Počiatočným štádiom je pocit pukania až pichania v kolene s následným pozáťažovým opuchom kolena.Opakované punkcie kĺbnej tekutiny sú príznakom pre pokročilé poškodenie. Mnohé súčasné štúdie poukazujú na vačšie riziko pourazovej artrózy pri poškodení skríženého väzu, alebo pri chronickom poškodení meniskov.

                      %img.body-left{:src=>"images/body/poranenie-chrupavky.png"}
                      %h3 Liečba
                      %p Poškodená chrupavka sa dá liečiť len relatívne. Súčastná medicína nedokáže chrupavku vyliečiť alebo jednoducho nahradiť . Základný princíp liečby je spomalenie resp.pozastavenie degeneratívneho procesu-artrózy. Najmodernejšie výskumy umožnuju tzv.kultiváciu chrupavky-teda rozmnoženie chrupavkových buniek  v laboratóriu z kúsku vlastnej chrupavky odobratej z kolena . Do rutinnej praxe sa však tieto metódy ešte nedostali. Častejšie sa používa presun zdravej časti na poškodenú-mozaiková plastika.Táto metóda je účinná len v niektorých špecifických prípadoch.
                      %p U čerstvého poranenia chrupavky je snaha o jej reinzerci (vrátenie do miesta odlomenia). Pri artroskopii sa objasní rozsah poškodenia a artroskopicky alebo otvorenou cestou je možné chrupavku reinzerovat pomocou vstrebateľných stehov, skrutiek či klinčekov, prípadne aj pomocou malých kovových skrutiek, ktoré je nutné po asi 4 mesiacoch odstrániť. Ak nemožno chrupavku reinzerovat, je terapia obdobná, ako u chronického poškodenia chrupavky.
                      %p U chronického postihnutia chrupavky nie je možnosť jej opätovné reinzerce. Pre obmedzenú možnosť hojenia chrupavky, ešte stále neexistuje ideálny metóda jej liečenia. U malých poranení je konzervatívny, pri zistenej impresie je nutná artroskopická elevácie subchondrálnej kosti a vyplnenie defektu spongioplastikou.
                      %p V prípade defektu chrupavky - obnaženie subchondrálnej kosti, sú postupy špecifické podľa veku pacienta, jeho životnej aktivity, veľkosti defektu, ose končatiny.
                      %p Jednou z možností liečby poranenia chrupavky je liečba pomocou ACP. Ide o koncentrát krvných doštičiek a rastových faktorov vlastnej plazmy pacienta, ktorý je možné aplikovať v úrazových, poúrazových a ortopedických indikáciách. Výhodou je, že ide o neoperačnú, bezpečnú metódu , ktorá používa hojacie bunky z "vlastného tela".

              #koleno5.tab-pane.fade
                .container
                  .row
                    .col-md-12.body-paddding-justify
                      %img.body-left{:src=>"images/body/poranenie-acl2.png"}
                      %p.text Jeden z najbežnejších spôsobov poranenia predného skríženého väzu(ACL) je priamy náraz do kolena, čo sa stáva najmä vo futbale alebo pri páde na lyžiach. Pri takýchto úrazoch dochádza ku abnormálnej polohe a rotácii kolenného kĺbu, následkom čoho sa poškodí jedno alebo viaceré väzivá v kolene. Avšak, vo väčšine prípadov dochádza k poškodeniu väzu bez kontaktu kolena s iným predmetom. Takéto bezkontaktné úrazy vznikajú po dopade, doskoku na vystretú končatinu, alebo pri náhlej zmene smeru. Najčastejšie pri basketbale, futbale a volejbale.

                      %h3 Príznaky
                      %p Poškodenie predného skríženého väzu je často spojené s počuteľným "prasknutím" v kolene pri úraze. Následná bolesť a vznik opuchu kolena po niekoľkých hodinách je typickým prejavom ruptúry ACL. Pacienti väčšinou navštívia lekára na pohotovosti, ktorý im vykoná punkciu krvi z kolenného kĺbu. Obmedzenie hybnosti a opuch trvá niekoľko dní.Následne sa po niekoľkých dňoch tieto príznaky zmierňujú.

                      %h3 Diagnostika
                      %p Poškodenie ACL zväčša prinúti pacienta vyhľadať lekársku pomoc. Pri vyšetrení špecialistom sa zväčša dá diagnostikovať poškodenie väziva kolenného kĺbu. Avšak, poškodenie ďalších mäkkých tkanív kolena je pri opuchu a bolesti ťažko posúditeľné. Následné vyšetrenie magnetickou rezonanciou, alebo artroskopická operácia definitívne odhaľuje vážnosť poškodenia štruktúr.

                      %img.body-left{:src=>"images/body/poranenie-acl.png"}
                      %h3 Liečba
                      %p Indikácia na operáciu si vyžaduje zváženie viacerých faktorov. Patria k nim úroveň športovej aktivity a očakávania pacienta. U mladých pacientov, ktorí sa chcú vrátiť do vrcholového športu a majú nestabilné koleno, alebo primárne vyšetrenie vykazuje kompletné poškodenie predného skríženého väzu, je operačná liečba doporučovaná väčšinou špecialistov v tejto problematike. U starších ľudí, ktorí športujú rekreačne alebo vôbec a klinické prejavy nestability sú len mierne, je konzervatívna liečba často úspešná.
                      %p V prípade operačnej liečby, je následná rehabilitácia dôležitým faktorom znovunadobudnutia plnej hybnosti a sily kolenného kĺbu. Posilňovanie okolitých svalov umožňuje návrat do športových aktivít s podpornou ortézou alebo bez nej, v závislosti od pooperačnej úrovne stability kolena a sily okolitých svalov.


      .modal-footer
        %button.btn.btn-lg.btn-close.close-body-part{"data-dismiss" => "modal", :type => "button"} Zavrieť