#partModal-zapastie.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h2#myModalLabel.modal-title Zápästie
      .modal-body
        .part
          .main-info
            %ul.nav.nav-pills
              %li.nav.first.active
                %a{"data-toggle" => "pill", :href => "#zapastie1"} Zápästie
              %li.nav
                %a{"data-toggle" => "pill", :href => "#zapastie2"} Zlomenina zápästia
              %li.nav
                %a{"data-toggle" => "pill", :href => "#zapastie3"} 
            %hr.blue

            .tab-content

              #zapastie1.tab-pane.fade.in.active
                .container
                  .row
                    .col-md-12.body-paddding-justify
                      %img.body-right{:src=>"images/body/zapastie.png"}
                      %p.text Lakeť (articulatio cubiti, cubitus) je oblasť hornej končatiny, kde se spájajú tri kosti :
                      %ul
                        %li Kosť ramenná a kosti predlaktia
                        %li Kosť vretená
                        %li Kosť lakťová

                      %p.text Zápästie (articulatio radiocarpalis, carpus) je časť hornej končatiny medzi rukou a predlaktím. Umožňuje priestorovú pohyblivosť ruky. Skladá sa z niekoľkých malých kostí, ktoré sa pomerne ľahko pri páde poškodia. Zranenia zápästia sú preto veľmi časté a nebezpečné.

                      %p.text Pri športovaní sa často používajú chrániče zápästí a to väčšinou pri tých druhoch športov, u ktorých hrozí pád športovca na ruky. Zo spodnej strany zápästia prechádza niekoľko žíl, ktoré sú dobre viditeľné okom. Toto miesto je často využívané pri samovražde, pri podrezaní.

                      %p.text Kostra zápästia je tvorená súborom ôsmich kostí, ktoré sú preklenuté k dlaňovej strane tuhým vazivom. Kosti sú zoradené v dvoch radoch.

                      %p.text Kostičky zápästia tvorí kosť člnkovitá (os scaphoideum), kosť mesiačikovitá (os lunatum), kosť trojhranná (os triquetrum), kosť hrášková (os pisiforme), kosť mnohohranná väčšia (os trapezium), kosť mnohohranná menšia(os trapezoideum), kosť hlavatá (os capitaum), kosť hákovitá (os hamatum).

              #zapastie2.tab-pane.fade
                .container
                  .row
                    .col-md-12.body-paddding-justify
                      %img.body-right{:src=>"images/body/zapastie-zlomenina.png"}
                      %p.text Zlomenina zápästia patrí medzi najčastejšie zlomeniny ľudského tela a prevažne býva spôsobená následkom pádu. Je to zlomenina okrajovej časti vretennej kosti na tzv. typickom miesta, podľa čoho získala svoj názov ­-typicky lokalizovaná .

                      %h3 Liečba
                      %p Základ liečby tvorí zavretá repozícia (uloženie zlomenej kosti do pôvodnej polohy) a následná sadrová fixácia (upevnenie). Už v priebehu sadrovej imobilizácie (znehybnenie) je dôležité postihnutému odporučiť cvičiť prstami a ramenným (ramenný) kĺbom. Zvlášť potrebné je cvičenie prstov , podľa možnosti viackrát denne. Nestačí len kývať prstami, ale naozaj cvičiť všetkými smermi a pohyby doťahovať do takého rozsahu, ktorý sadrová dlaha dovolí. Mierne opuchnuté prsty by nemali byť dôvodom na odmietanie cvičenia.

                      %h3 Rekonvalescencia
                      %p Po odstránení sadrového obväzu je pohyb ruky a zápästia namáhavý a bolestivý. Správne zvolené rehabilitačné cvičenie pomôže navrátiť pohyblivosť. Dôležité je začať s jednoduchými pohybmi a postupne zvyšovať náročnosť jednotlivých cvičení. Spočiatku býva cvičenie bolestivé, no na túto bolesť treba byť pripravený. Bolesť sa po niekoľkých minutách, po ukončení cvičení, utiší.


              #zapastie3.tab-pane.fade
                .container
                  .row
                    .col-md-12.body-paddding-justify

                      %p.text Tenisový lakeť (lat. laterálna epikondylitída) je bolestivý stav vonkajšej strany lakťového kĺbu. Táto typická bolesť je spôsobená zápalovou reakciou úponu šliach svalov predlaktia, ktoré ohýbajú zápästie a ruku smerom nahor (extenzory). Epikondyl je kostný výbežok ramennej kosti, ktorý sa dá dobre nahmatať na vonkajšej aj vnútornej strane lakťa. Na toto miesto sa upínajú svaly predlaktia.

                      %h3 Príčiny vzniku a u koho najčastejšie vzniká?
                      %p Trápi tenistov najmä pri backhandovom údere. Príčinou vzniku je nepravidelné nárazové hranie, zlé technické zvládnutie Paradoxne veľmi často vzniká u nešportovcov po rôznej opakovanej aktivite, ktorá nadmerne zaťaží svaly predlaktia /maľovanie bytu, skladanie nábytku alebo strihanie stromov/. Niekedy je počiatočným momentom bežné udretie vonkajšej časti lakťa o stenu alebo o zárubňu dverí. Takto vzniká pomliaždenie a natrhnutie úponu šliach predlaktia s následnou obrannou zápalovou reakciou a bolestivým syndrómom. Tenisový lakeť môže vzniknúť v každom veku, ale najčastejšie trápi skupinu ľudí vo veku 35­-50 rokov. Postihuje rovnako obe pohlavia.

                      %h3 Diagnostika
                      %p Základom diagnostiky je podrobná anamnéza – popis vzniku a chronológia ťažkostí. Klinické vyšetrenie s manévrami provokujúcimi bolesť v oblasti laterálneho epikondylu dopĺňa stanovenie diagnózy. Bolestivosť je veľmi typická a lavíruje od miernej bolesti pri tlaku na epikondyl až po výraznú pichavú bolesti pri pohybe predlaktia od tela a nahor, alebo pri dvíhaní ťažších predmetov. RTG vyšetrenie väčšinou nepreukáže patologické zmeny. Podrobnejšiu diagnózu stanovujeme USG vyšetrením a MRI­ magnetickou rezonanciou.

                      %h3 Liečba
                      %p Komplexná konzervatívna liečba prináša vo väčšine prípadov úspech.
                      %ul
                        %li Najdôležitejšie je šetrenie hornej končatiny pri zachovaní bežných denných aktivít.
                        %li Medikamentózna liečba nesteroidnými antiflogistikami ­ NSA v perorálnej forme v kombinácií lokálnej aplikácie protizápalových mastí.
                        %li Fyzikálna terapia –elektroliečba, laser, magnetoterapia, cryoterapia, bioptronová lampa.
                        %li Po ustúpení bolesti je potrebné svaly a šľachy predlaktia roztiahnuť a následne posilniť.

                      %h3 Liečba chronického stavu bolesti
                      %p Ak pretrváva bolestivosť po 6­-8 týždňoch liečby hovoríme o chronickom stave. V týchto prípadoch sa často pristupuje k aplikácii kortizónovej injekcie do bolestivej oblasti. Táto injekcia je veľmi činná a populárna , avšak opakované aplikácie injekcie prinášajú negatívne následky v štruktúre šľachy.

                      %h3 Rekonvalescencia
                      %p Po vyčerpaní komplexnej konzervatívnej liečby a pretrvávaní ťažkostí viac ako 6­-12 mesiacov je vhodná operačná liečba. Pred vlastnou operáciou je potrebná podrobná diagnostika lakťového kĺbu vrátane RTG a MRI. V chronických prípadoch býva často poškodený aj lakťový kĺb, v ktorom sa zápal udržuje. V týchto prípadoch je operačné uvoľnenie napätia v šľache a odstránenie poškodeného tkaniva doplnené o artroskopickú operáciu lakťového kĺbu. Návrat do športových aktivít je po cca 3-5 mesiacoch od operácie. Pred začatím plnej športovej aktivity je dôležité roztiahnutie a posilnenie oslabených svalov predlaktia.



      .modal-footer
        %button.btn.btn-lg.btn-close.close-body-part{"data-dismiss" => "modal", :type => "button"} Zavrieť
