#partModal-koleno.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h2#myModalLabel.modal-title Koleno
      .modal-body
      .modal-body
        .part
          .main-info
            %ul.nav.nav-pills
              %li.nav.first.active
                %a{"data-toggle" => "pill", :href => "#koleno1"} Koleno
              %li.nav
                %a{"data-toggle" => "pill", :href => "#koleno2"} Artróza kolena
              %li.nav
                %a{"data-toggle" => "pill", :href => "#koleno3"} Postranné väzy
            %hr.blue

            .tab-content

              #koleno1.tab-pane.fade.in.active
                .container
                  .row
                    .col-md-12.body-paddding-justify
                      %img.body-left{:src=>"images/body/koleno.png"}
                      %p.text Kolenný kĺb (articulatio genus) je najväčší a najzložitejší kĺb v ľudskom tele. Spojuje stehennú kosť, holennú kosť a najväčšiu sezamskú kosť tela jabĺčka. Umožňuje pohyb dolnej časti nohy a tým aj chôdzu.

                      %p.text Kolenný kĺb sa skladá v hornej části z kĺbovej plochy stehennej kosti (femuru), ktorá vo forme dvoch výbežkov (kondylov) pôsobí ako dvojitá hlavica kĺbov, v spodnej časti z kĺbnej plochy holennej kosti (lat. tibia), ktorá tvorí mäkkú dvojitú kĺbnu jamku. Tvar a stabilita kĺbovej jamky je doplnená dvoma postrannými polomesiačikovitými chrupavkovými útvarmi ­ menisku (vnútorný ­ mediálny a vonkajší laterálny).

                      %p.text Kĺb je ďalej stabilizovaný väzivovým aparátom:

                      %ul
                        %li Skrížené väzy ­ predný skrížený väz a zadný skrížený väz
                        %li väzy kĺbneho puzdra ­ predovšetkým postrannými kolennými väzmi a šľachou čtvorhlavého stehenného svalu v prednej časti.
                      Ďalšiu stabilizaciu poskytujú šľachy okolitých svalov a ich napätia.

                      %p.text Vo vnútri kĺbového puzdra je synoviálna tekutina, ktorá znižuje trenie pri pohybe v klĺbe a umožnuje transport živín k chrupavkovitým štruktúram vo vnútri. Výchlipenina kĺbového puzdra do okolia tvoria takzvané burzy, ktoré v miestach tlaku či trenia pôsobia ako ochrana proti mechanickému namáhaniu.

                      %img.body-left{:src=>"images/body/koleno2.png"}
                      %p.text V prednej časti kolenného kĺbu se nachádza jabĺčko (patella). Jedná sa o sezamskú kosť, ktorá vznikla osifikáciou časti šľachy čtvorhlavého stehenného svalu. Úderom pod jabĺčko sa v neurológii testuje tzv. patelárny reflex.

                      %p.text Koleno je dôležitý kĺb v ľudskom tele, ktorý je vystavený veľkej záťaži. Veľká záťaž môže často skončiť i úrazom. Následné liečenie je veľmi náročné a zdĺhavé a často vedie k trvalému poškodeniu kĺbu. Vyšetrenie kolenného kĺbu endoskopickými metódami se odborne nazýva artroskopia. Poškodenie kolena môže znamenať i trvalé komplikácie.

              #koleno2.tab-pane.fade
                .container
                  .row
                    .col-md-12.body-paddding-justify
                      %img.body-left{:src=>"images/body/koleno-artroza.png"}
                      %p.text Artróza kolena je dnes jedným z najčastejších ochorení kĺbov, ktoré postihuje až 12% obyvateľstva. Preto patrí medzi najdiskutovanejšie zdravotné problémy v súčasnosti. Artróza je dlhotrvajúce a pomaly sa vyvíjajúce ochorenie jedného alebo viacerých kĺbov, kedy sa opotrebováva predovšetkým kĺbová chrupavka. Najčastejšie sú postihnuté kolenné a bedrové kĺby, ktoré sú aj najviac namáhané. Artróza začína zanikaním kĺbovej chrupavky, následne dochádza k zmenám aj v susedných kostiach so zničením kĺbu. Následkami je nehybnosť a bolesti kĺbu, ako aj narastajúca deformácia. Prvé zmeny sa začínajú vyskytovať medzi 20.­30. rokom života a s vekom sa postupne problémy prehlbujú.

                      %h3 Vzniká artrózy
                      %p Pri mnohých ochoreniach nie je vždy možné určiť vyvolávajúcu príčinu, hoci inokedy je prítomná určitá situácia alebo faktor, ktoré vysvetľujú vznik ochorenia. Na základe toho môžeme artrózu rozdeliť na:
                      %ul
                        %li Primárnu alebo idiopatickú: jej pôvodná príčina je neznáma a vzniká spolupôsobením série faktorov.
                        %li 
                          Sekundárnu alebo druhotnú pri nasledujúcich okolnostiach:
                          %ul
                            %li Úrazy a kostné zlomeniny, vzniknuté často mnoho rokov pred prepuknutím ochorenia.
                            %li Vrodené ochorenia alebo poruchy vývinu ako vrodené luxácie (vykĺbenia), nerovnaká dĺžka končatín či niektoré choroby látkovej premeny.
                            %li Kostné choroby z nadmerného ukladania vápnika do kostí, pre poruchy prekrvenia, dna, infekcie či Pagetova choroba.
                            %li Ďalšie ochorenia ako diabetes mellitus, hypotyreóza alebo postihnutie nervových vlákien, ktoré inervujú daný kĺb.

                      %h3 Príčiny
                      %p Artrózu spôsobujú rôzne faktory, ale zvyčajne vzniká práve následkom preťažovania kĺbov. Touto chorobou najčastejšie trpia ľudia s nadváhou, či ťažko pracujúci. Veľkú časť pacientov tvoria aj športovci. Práve úrazy alebo drobné poranenia sú počiatočným impulzom k rozvoju choroby.

                      %h3 Symptómy
                      %p Typickými symptómami ochorenia sú bolesti a nehybnosť kĺbov. Bývajú citlivé na chlad, napríklad pri zmene počasia. Bolesť sa dostavuje aj pri namáhavej činnosti. Pri artróze kolena je napríklad veľmi namáhavé chodenie po schodoch hore a dole, z kopca, či po nerovnom teréne. Pri iných činnostiach sa problémy nemusia vyskytnúť (bicyklovanie). Vtedy hovoríme o tzv. štartovacej bolesti. Neskoršie sa dostaví stuhnutosť kĺbov pri začiatku pohybu, ktorá aktivitou postupne mizne. Pri zhoršovaní sa ochorenia pretrváva bolesť aj pri vlastnom pohybe a neskôr aj v kľude.

                      %h3 Liečba
                      %p Artróza je ochorenie, ktoré spôsobuje mnoho problémov, v súčasnej dobe sa stáva čoraz častejším ochorením. Vo vyššej miere postihuje ženy a spôsobuje nepríjemné bolesti. Je preto dôležité liečiť nielen samotnú artrózu, ale aj bolesť, aby sa pacient mohol vrátiť do normálneho života. Prevetívnym prostriedkom proti vzniku tohto ochorenia sú magnetoterapeutické bandáže a magnetoterapeutické a ionizačné náramky prípadne hodinky s ionizačným náramkom !





              #koleno.tab-pane.fade
                .container
                  .row
                    .col-md-12.body-paddding-justify
                      %p.text Väčšina poranení vnútorného postranného väzu vzniká násilnou abdukciou a vnútornou rotaciou alebo priamym násilím na koleno z vnútornej strany hlavne pri kontaktných sportoch. 

                      %h3 Anatomia 
                      %p !!!!!!!! DOPLNIT !!!!!!!!!!

                      %h3 Príznaky
                      %p Medzi príznaky poranenia vnútorného postranného väzu matria bolesť na vnútornej strany kolena a tiez niekedy hematom.

                      %h3 Liečba
                      %p Štandardnou je konzervatívna liečba fixáciou v ortéze. Včasný pohyb a funkčná rehabilitácia sú dôležité pre rýchly návrat k plnej aktivite. Priemerná doba liečby závisí od stupňa poranenia:
                      %ul
                        %li roztváranie štrbiny do 5 mm : 2­ 4 týždne
                        %li roztváranie štrbiny do 10 mm : 4 – 6 týždňov
                        %li roztváranie štrbiny nad 10 mm : 6 – 8 týždňov

                      %p Okrem fixácie používame podporné prostriedky jako Wobenzyn, lokálne masti, fyzikálnu terapiu. V poslednej dobe sa stále viac osvedčuje liečba rázovou vlnou, ktorá má podľa štúdií skutočne rýchly efekt.

                      %h3 Rekonvalescencia
                      %p Po vyčerpaní komplexnej konzervatívnej liečby a pretrvávaní ťažkostí viac ako 6­-12 mesiacov je vhodná operačná liečba. Pred vlastnou operáciou je potrebná podrobná diagnostika lakťového kĺbu vrátane RTG a MRI. V chronických prípadoch býva často poškodený aj lakťový kĺb, v ktorom sa zápal udržuje. V týchto prípadoch je operačné uvoľnenie napätia v šľache a odstránenie poškodeného tkaniva doplnené o artroskopickú operáciu lakťového kĺbu. Návrat do športových aktivít je po cca 3-5 mesiacoch od operácie. Pred začatím plnej športovej aktivity je dôležité roztiahnutie a posilnenie oslabených svalov predlaktia.


      .modal-footer
        %button.btn.btn-lg.btn-close.close-body-part{"data-dismiss" => "modal", :type => "button"} Zavrieť