#partModal-clenok.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h2#myModalLabel.modal-title Chodidlo
      .modal-body
        .part
          .main-info

            %ul.nav.nav-pills
              %li.active
                %a{"data-toggle" => "pill", :href => "#info"} Ortopedická obuv a vložky
              %li
                %a{"data-toggle" => "pill", :href => "#sprain"} Ortopedické ortezy a dlahy

            %hr.blue
            .tab-content
              #info.tab-pane.fade.in.active

                %br

                .bs-callout.bs-callout-info
                  / %img.left{:src=>"images/body/clenok/obuv-vlozky/topanky_letne1_small.png"}
                  %a.example-1-1{"data-lightbox" => "example-1-1", "data-title" => "Ortopedická obuv celoročná pre pacientov do 18 rokov", :href => "images/body/clenok/obuv-vlozky/topanky_letne1.jpg"}
                    %img.left{:src=>"images/body/clenok/obuv-vlozky/topanky_letne1_small.png"}
                  .text
                    %h3
                      %b Ortopedická obuv celoročná pre pacientov do 18 rokov
                      %br
                      %br
                      %br
                    %ul.list

                .bs-callout.bs-callout-info
                  %a.example-1-2{"data-lightbox" => "example-1-2", "data-title" => "Ortopedická obuv zimná pre pacientov do 18 rokov", :href => "images/body/clenok/obuv-vlozky/topanky_letne2.jpg"}
                    %img.left{:src=>"images/body/clenok/obuv-vlozky/topanky_letne2_small.png"}
                  .text
                    %h3
                      %b Ortopedická obuv zimná pre pacientov do 18 rokov
                      %br
                      %br
                      %br
                    %ul.list

                .bs-callout.bs-callout-info
                  %a.example-1-3{"data-lightbox" => "example-1-3", "data-title" => "Ortopedická obuv letná pre pacientov do 18 rokov", :href => "images/body/clenok/obuv-vlozky/topanky_letne3.jpg"}
                    %img.left{:src=>"images/body/clenok/obuv-vlozky/topanky_letne3_small.png"}
                  .text
                    %h3
                      %b Ortopedická obuv letná pre pacientov do 18 rokov
                      %br
                      %br
                      %br
                    %ul.list

                %br
                %br

                .bs-callout-2.bs-callout-info
                  %a.example-1-4{"data-lightbox" => "example-1-4", "data-title" => "Ortopedická obuv celá", :href => "images/body/clenok/obuv-vlozky/topanky_jednoduche1.jpg"}
                    %img.left{:src=>"images/body/clenok/obuv-vlozky/topanky_jednoduche1_small.png"}
                  .text
                    %h3
                      %b Ortopedická obuv celá
                      %br
                      %br
                    %ul.list

                .bs-callout-2.bs-callout-info
                  %a.example-1-5{"data-lightbox" => "example-1-5", "data-title" => "Ortopedická obuv polovičná", :href => "images/body/clenok/obuv-vlozky/topanky_jednoduche2.jpg"}
                    %img.left{:src=>"images/body/clenok/obuv-vlozky/topanky_jednoduche2_small.png"}
                  .text
                    %h3
                      %b Ortopedická obuv polovičná
                      %br
                      %br
                    %ul.list

                %br
                %br

                .bs-callout.bs-callout-info
                  %a.example-1-6{"data-lightbox" => "example-1-6", "data-title" => "Ortopedické vložky pre pacientov do 18 rokov", :href => "images/body/clenok/obuv-vlozky/ortopedicke_vlozky_1.jpg"}
                    %img.left{:src=>"images/body/clenok/obuv-vlozky/ortopedicke_vlozky_1_small.png"}
                  .text
                    %h3
                      %b Ortopedické vložky pre pacientov do 18 rokov
                      %br
                      %br
                      %br
                    %ul.list

                .bs-callout.bs-callout-info
                  %a.example-1-7{"data-lightbox" => "example-1-7", "data-title" => "Ortopedické vložky pre pacientov nad 18 rokov", :href => "images/body/clenok/obuv-vlozky/ortopedicke_vlozky_2.jpg"}
                    %img.left{:src=>"images/body/clenok/obuv-vlozky/ortopedicke_vlozky_2_small.png"}
                  .text
                    %h3
                      %b Ortopedické vložky pre pacientov nad 18 rokov
                      %br
                      %br
                      %br
                    %ul.list




              #sprain.tab-pane.fade

                .bs-callout.bs-callout-info
                  %a.example-1-8{"data-lightbox" => "example-1-8", "data-title" => "Abduktor palca", :href => "images/body/clenok/ortezy-dlahy/ortezy_dolnych_koncatin1.jpg"}
                    %img.left{:src=>"images/body/clenok/ortezy-dlahy/ortezy_dolnych_koncatin1_small.png"}
                  .text
                    %h3
                      %b Abduktor palca - Poštolkov ťah
                    %ul.list
                      %li
                        %b Indikácia:
                        hallux valgus, stavy po operácii.
                    %br

                .bs-callout.bs-callout-info
                  %a.example-1-9{"data-lightbox" => "example-1-9", "data-title" => "Členková ortéza", :href => "images/body/clenok/ortezy-dlahy/ortezy_dolnych_koncatin4.jpg"}
                    %img.left{:src=>"images/body/clenok/ortezy-dlahy/ortezy_dolnych_koncatin4_small.png"}
                  .text
                    %h3
                      %b Členková ortéza
                    %ul.list
                      %li
                        %b Indikácia:
                        prevencia úrazov, poúrazové stavy kostí a mäkkých častí ľahšieho stupňa v členkovom kĺbe (distorzia, instabilita, stavy po ruptúre väzov), doliečovanie fraktúr, stavy po operáciách, pozápalové stavy, Sudeck syndróm, osteoartróza, tenosynovitída.

                .bs-callout.bs-callout-info
                  %a.example-1-10{"data-lightbox" => "example-1-10", "data-title" => "Členková ortéza", :href => "images/body/clenok/ortezy-dlahy/ortezy_dolnych_koncatin15.jpg"}
                    %img.left{:src=>"images/body/clenok/ortezy-dlahy/ortezy_dolnych_koncatin15_small.png"}
                  .text
                    %h3
                      %b Členková ortéza
                    %ul.list
                      %li
                        %b Indikácia:
                        náhrada sadrového obväzu, prevencia úrazov, po úrazové stavy mäkkých častí a kostí v oblasti členkového kĺbu (distorzie), doliečovanie fraktúr, po zápalové a po operačné stavy, Sudeck syndróm, artróza

                .bs-callout.bs-callout-info
                  %a.example-1-11{"data-lightbox" => "example-1-11", "data-title" => "Členková ortéza", :href => "images/body/clenok/ortezy-dlahy/ortezy_dolnych_koncatin17.jpg"}
                    %img.left{:src=>"images/body/clenok/ortezy-dlahy/ortezy_dolnych_koncatin17_small.png"}
                  .text
                    %h3
                      %b Členková ortéza
                    %ul.list
                      %li
                        %b Indikácia:
                        hallux valgus, stavy po operácii
                    %br

                .bs-callout.bs-callout-info
                  %a.example-1-11{"data-lightbox" => "example-1-11", "data-title" => "Kolenná trojbodová ortéza pre genua valga a vara", :href => "images/body/clenok/ortezy-dlahy/ortezy_dolnych_koncatin23.jpg"}
                    %img.left{:src=>"images/body/clenok/ortezy-dlahy/ortezy_dolnych_koncatin23_small.png"}
                  .text
                    %h3
                      %b Kolenná trojbodová ortéza pre genua valga a vara
                    %ul.list
                      %li
                        %b Indikácia:
                        spastické stavy DK, flekčné kontraktúry, DMO.
                    %br

                .bs-callout.bs-callout-info
                  %a.example-1-12{"data-lightbox" => "example-1-12", "data-title" => "Ortéza na chodidlo vzor Halle", :href => "images/body/clenok/ortezy-dlahy/ortezy_dolnych_koncatin24.jpg"}
                    %img.left{:src=>"images/body/clenok/ortezy-dlahy/ortezy_dolnych_koncatin24_small.png"}
                  .text
                    %h3
                      %b Ortéza na chodidlo vzor Halle
                    %ul.list
                      %li
                        %b Charakteristika:
                        ohyb v členku, aktívny ťah prednej časti nohy, správne postavenie a upevnenie päty, dlaha pracuje na trojbodovom princípe.
                      %li
                        %b Indikácia:
                        PEC, DMO s postihnutím DK, pes varus, stav po operáciách.



                .bs-callout.bs-callout-info
                  %a.example-1-13{"data-lightbox" => "example-1-13", "data-title" => "Členková ortéza vzor Malleolock", :href => "images/body/clenok/ortezy-dlahy/ortezy_na_chodenie1.jpg"}
                    %img.left{:src=>"images/body/clenok/ortezy-dlahy/ortezy_na_chodenie1_small.png"}
                  .text
                    %h3
                      %b Členková ortéza vzor Malleolock
                    %ul.list
                      %li
                        %b Indikácia:
                        prevencia úrazov, po úrazové stavy mäkkých častí a kostí v oblasti členkového kĺbu (distorzie), doliečovanie fraktúr, po zápalové a po operačné stavy, Sudeck syndróm, artróza.

                .bs-callout.bs-callout-info
                  %a.example-1-14{"data-lightbox" => "example-1-14", "data-title" => "Peroneálna dlaha (bez ohybu alebo s pružným ťahom)", :href => "images/body/clenok/ortezy-dlahy/ortezy_na_chodenie2.jpg"}
                    %img.left{:src=>"images/body/clenok/ortezy-dlahy/ortezy_na_chodenie2_small.png"}
                  .text
                    %h3
                      %b Peroneálna dlaha (bez ohybu alebo s pružným ťahom)
                    %ul.list
                      %li
                        %b Indikácia:
                        laesio n. fibularis, parézy po NCPM.
                    %br


      .modal-footer
        %button.btn.btn-lg.btn-close.close-body-part{"data-dismiss" => "modal", :type => "button"} Zavrieť