#partModal-rameno.bodyPartModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h2#myModalLabel.modal-title Rameno
      .modal-body
        .part
          .main-info
            %ul.nav.nav-pills
              %li.nav.first.active
                %a{"data-toggle" => "pill", :href => "#rameno1"} Rameno
              %li.nav
                %a{"data-toggle" => "pill", :href => "#rameno2"} Vykĺbenie ramena
              / %li.nav
              /   %a{"data-toggle" => "pill", :href => "#rameno3"} Artróza ramena
            %hr.blue

            .tab-content

              #rameno1.tab-pane.fade.in.active
                .container
                  .row
                    .col-md-12.body-paddding-justify
                      %img.body-right{:src=>"images/body/rameno.png"}
                      %p.text Ramenný kĺb je pre unikátnu schopnosť veľkého rozsahu hybnosti  a zároveň stability, jedným z najzraniteľnjších kĺbov. Chronická  bolesť s obmedzením hybnosti - impingement syndróm, nestabilita či poškodenie rotátorovej manžety može vzniknúť z viacerých príčin.
                      %p Kosti ramenného kĺbu tvoria : kľúčna kosť (clavicula), lopatka a ramenná kosť. Tieto kosti spolu tvoria 2 kĺby:
                      %ul
                        %li GH kľb - Ramenný kĺb, rameno – typ guľovitého kĺbu v plytkej jamke, ktorý umožňuje pohyb paže dopredu, dozadu i doboku a súčasne i rotačné pohyby.
                        %li AC kľb - Umiestnený medzi vonkajším koncom kľúčnej kosti a akromionom (časť lopatky tvoriaca najvyššie miesto ramenného  kĺbu = výbežok lopatky)

                      %p.text "Guľa" ramennej hlavice – je vrchná část ramennej kosti a "jamka" je glenoid (miskovitá časť) vnútorného okraja lopatky, do ktorého hlavica  zapadá. Okraj glenoidu je rozšírený chrupkovitou-väzivovou časťou, nazývajuca sa  – labrum. Na túto štruktúru sa upína  kĺbové puzdro a skupina väzov napomáhajúca stabilite ramena (gleno-humerálne väzy). Kĺbové puzdro je pokryté tenkou jemnou synoviálnou membránou.

                      %img.body-right{:src=>"images/body/rameno-anatomia.png"}

                      %p.text Rotátorová manžeta je štruktúra, skládajúca sa zo šliach s príslušnými svalmi, ktorá drží hlavicu ramennej kosti v kĺbovej jamke a zároveň umožňuje pohyb a silu ramenného kĺbu. Vakovité štruktury – burzy – napomáhajú jemnému kĺzaniu medzi jednotlivými štruktúrami. Najväčšia „subakromiálna“ burza ochraňuje šľachy rotátorovej manžety od kostnej časti akromionu.

                      %p Najčastejší úraz ramena je jeho vykĺbenie - „luxácia“, alebo poškodenie väziva AC kĺbu. Tieto typy poranení veľmi často vznikajú po páde na lyžiach alebo z bicykla. Najrizikovejším športom je hokej, pretože ramenný kĺb je pri tomto športe extrémne namáhaný a vyskočenie pozorujeme už u mladých hokejistov. Zvláštnou kategóriou je skupina športovcov s opakovanými "mikroúrazmi - mikrotraumami". Ide o volejbalistov, tenistov, hádzanárov, ale aj ťažko pracujúcich ľudí, ktorí sústavne preťažujú svoje rameno v nadhlavovej polohe -"švihu" a  tak poškodia jeho mäkké štruktúry.

              #rameno2.tab-pane.fade
                .container
                  .row
                    .col-md-12.body-paddding-justify
                      %img.body-left{:src=>"images/body/rameno-luxacia.png"}
                      %p.text Zlomenina zápästia patrí medzi najčastejšie zlomeniny ľudského tela a prevažne býva spôsobená následkom pádu. Je to zlomenina okrajovej časti vretennej kosti na tzv. typickom miesta, podľa čoho získala svoj názov ­-typicky lokalizovaná .

                      %h3 Diagnostika
                      %p Rameno sa môže vykĺbiť (luxovať) dopredu, dozadu, dole i hore. Podľa štatistík v 93% dochádza k prednej dolnej luxácii. Kĺbová jamka zostane prázdna, rameno výrazne bolí a tiež je výrazne obmezený pohyb v ramennom kĺbe. Postupné zväčšujúce sa stiahnutie svalov môže bolesť ešte zvyšovať. Môžeme pozorovať deformáciu v kĺbe i edém. Pri luxácii dochádza k poškodeniu mäkkých částí (kĺbové puzdro, labrum, niekteré šlachy a svaly tesne okolo klĺbu). Niekedy dochádza i k poškozeniu nervu a ciev. Diagnóza sa pomerne ľahko stanovuje pri klinickom vyšetrení lekárom. Röntgenové vyšetrenie ramenného kĺbu nález potvrdí a odhalí prípadné pridružené zlomeniny.

                      %h3 Liečba
                      %p Liečba akútnej luxácie ramena spočíva v jej napravení (repozícia). Napravenie hlavice ramennej kosti do kĺbovej jamky je potrebné vykonať čo najskôr, optimálne je ihneď po úraze. Pokiaľ sa rameno nedá napraviť, je potrebné ošetrenie v najbližšej chirurgickej ambulancii. Niekdy je nutné previesť repozíciu v krátkodobej celkovej narkóze. Po napravení sa rameno fixuje, v minulosti pevným obväzom (Desault), v súčasnosti je možné používať špeciálne ortézy. Doporučené je prikladanie studených obkladov na rameno 3 – 5x denne a analgetická liečba (lieky proti bolesti).

                      %p Pri opakovanom vykĺbení je najlepším riešením artroskopická operácia so stabilizáciou ramena. Ak to nie je z nejakých príčin možné urobí sa otvorená stabilizácia ramena. Pri tomto zákroku sa šľachy našijú vlastným tkanivom na kosť. Šesť az sedem týždnov sa nosí ortéza. Po tejto rekonvalencencií sa začína s rehabilitaciou, ktorá trva 2 až 3 mesiace, no zavisi to predovšetkým od podstivého prístupu pacienta k cvičeniu a celkovej rehabilivácií.


                      %h3 Najčastejší spôsob liečby luxácie ramenného kĺbu:
                      %ol
                        %li Repozícia ramena (špeciálne repozičné manévry, prípadne v celkové narkóze)
                        %li Kontrolný röntgen ramena po repozícii
                        %li fixácia ramena na 3­-4 týždne
                        %li Následná rehabilitácia 1­-2 mesiace


                      %h3 Moderná možnosť liečby
                      %p Pri vykĺbení docháza veľmi často k poškodeniu mäkkých štruktúr, čo sa podľa röntgenu nedá posúdiť. Poranené väzy a kĺbové puzdro často zostávajú i po repozícii od seba roztiahnuté, vplyvom roztiahnutia kĺbovej dutiny, spôsobené krvným výronom (Bankartova lézia). Nasleduje zahojenie tkaniny jazvou, ale v predĺžení stabilizačných väzov a kĺbneho puzdra alebo pri hojení kĺbneho puzdra na inom mieste, než bolo pred úrazom. Takýto nález môže viesť v budúcnosti k nestabilite ramena (opakovanej luxácii). Svetové štatistiky poukazujú na to, že u mladých ľudí (do 20 rokov) s prítomnosťou Bankartovej lézie dochádza po prvej luxácii k opakovanému vykĺbeniu do 1 roku až v 95% prípadov. Preto sa doporučuje podrobné vyšetrenie magnetickou rezonanciou (MRI), ktorá odhalí či vylúči prítomnosť Bankartovej lézie. Pri jej potvrdení sa doporučuje artroskopia ramenného kĺbu so súčasným prišitím poškodeného tkaniva ku kĺbovej jamke pomocou špeciálnych stehov s kotviacimi implantátmi – tzv. Bankartovou plastikou. Touto operáciou se minimalizuje riziko opakovania luxácie na cca 5­-10%. Pri negativnom náleze na MRI se doporučuje 7­-10 dňový kľudový režim vo fixáci. Po ústupe bolestí a opuchu sa začína s rehabilitačným programom na obnovenie rozsahu ohybnosti a posilnenie svalových skupín. Rehabilitácia sa začína jednoduchými pohybmi a postupne sa pridáva odporová fáza s therabandom ( pružný latexový pás na cvičenie, určený na pooperačnú terapiu) a ľahkými činkami.

              / #rameno3.tab-pane.fade
              /   .container
              /     .row
              /       .col-md-12.body-paddding-justify
              /         %img.body-left{:src=>"images/body/rameno-artroza.png"}
              /         %p.text Pod artrózou rozumieme ireverzibilné poškodenie kĺbu, ktoré je často spôsobené jeho nesprávnym namáhaním. Môže k tomu dôjsť aj po zraneniach alebo pri vrodených defektoch chrupavky. Artróza začína zanikaním kĺbovej chrupavky, vzápätí dochádza v susedných kostiach k prestavbovým procesom so zničením oblasti kĺbu. Následkami sú bolesti a neohybnosť kĺbu, rastúca deformácia, v konečnom štádiu môže kĺb celkom skostnatieť.

              /         %h3 Definícia
              /         %p Pod artrózou rozumieme ochorenie kĺbovej chrupavky. Je spojené so zmenou kosti susediacej s chrupavkou a spôsobuje bolesti, opuchy, obmedzenie pohybu a deformáciu kĺbov. Preto artróza patrí medzi degeneratívne kĺbové ochorenia.

              /         %h3 Vznik
              /         %p Základom diagnostiky je podrobná anamnéza – popis vzniku a chronológia ťažkostí. Klinické vyšetrenie s manévrami provokujúcimi bolesť v oblasti laterálneho epikondylu dopĺňa stanovenie diagnózy. Bolestivosť je veľmi typická a lavíruje od miernej bolesti pri tlaku na epikondyl až po výraznú pichavú bolesti pri pohybe predlaktia od tela a nahor, alebo pri dvíhaní ťažších predmetov. RTG vyšetrenie väčšinou nepreukáže patologické zmeny. Podrobnejšiu diagnózu stanovujeme USG vyšetrením a MRI­ magnetickou rezonanciou.

              /         %h3 Liečba
              /         %p Nepomer medzi záťažou a schopnosťou chrupavky niesť záťaž spôsobuje zanikanie chrupavkového tkaniva. Tento nepomer môže vzniknúť buď dedične podmienenou poruchou chrupavky, ako napr. pri artróze medzičlánkových kĺbov prstov rúk, alebo aj chybným zaťažovaním chrupavky. Napr. postavenie nôh do X (valgózne postavenie) kolien alebo len eventuálne vrodené ľahké chybné postavenie bedrových kĺbov môže teda viesť k nerovnomernej záťaži, a tým k artróze príslušných kĺbov. Aj poškodenia chrupaviek spôsobené dávnejšími úrazmi alebo aj operácie kĺbov môžu spôsobiť artrózu. Pri kĺboch, ktoré musia niesť telesnú hmotnosť, ako kolená, bedrá alebo chrbtica, zohráva dôležitú úlohu aj na nadváha.

              /         %h3 Symptómy
              /         %p Typickými symptómami sú bolesti a nehybnosť kĺbov. Tieto bolesti silnejú pri studenom a vlhkom počasí a pri záťaži. Bolestivá je hlavne záťaž ako chodenie hore a dolu schodmi pri artróze kolenného kĺbu. Naproti tomu je bicyklovanie možné väčšinou bez problémov. Pre artrózu je typická aj takzvaná bolesť v návaloch. To znamená, že po dlhšom odpočinku sú prvé pohyby bolestivé a zlepšujú sa až po niekoľkých metroch. Tým sa artróza odlišuje od zápalových ochorení, ktoré väčšinou vykazujú predovšetkým ranné bolesti. Aj ranná strnulosť kĺbov, ktorá pri zápalových ochoreniach ako aj pri reumatickej artritíde často trvá niekoľko hodín, pri artróze sa objavuje len chvíľu, až kým sa kĺby nerozhýbu. V ďalšom priebehu artrózy dochádza odieraním chrupavky k podráždeniam kĺbu spojených s opuchmi a výpotkami, a neskôr aj k deformáciám kĺbov.

              /         %h3 Röntgenové vyšetrenie
              /         %p Na röntgenovej snímke sa pri artróze ukážu typické zmeny, preto je röntgen najdôležitejším dodatočným vyšetrením na diagnostikovanie artrózy. Pritom sa však zmeny na röntgenovej snímke s ťažkosťami pacienta paralelne nezhodujú.

              /         %h3 Rekonvalescencia
              /         %p Konečnou terapiou artrózy je často až umelá náhrada kĺbu, čiže totálna endoprotéza (TEP). Táto sa najčastejšie robí na bedrovom a zriedkavejšie na kolennom kĺbe. O správnej dobe pre umelú náhradu kĺbu sú pri artróze rozhodujúce bolesti pacienta a menej röntgenová snímka, ktorá niekedy môže byť silne zmenená už aj pri málo poškodených pacientoch. Pretože umelé kĺby nevydržia večne (bedrové kĺby vydržia asi 15 rokov) a možno ich vymeniť len raz a vtedy už s kratšou životnosťou, odďaľuje sa táto doba čo najdlhšie, obzvlášť u mladých ľudí. Preto sa u týchto ľudí čo najdlhšie pokúšajú o vyššie uvedené a nie operatívne opatrenia. Prevetívnym prostriedkom proti vzniku tohoto ochorenia sú magnetoterapeutické bandáže a magnetoterapeutické a ionizačnénáramky prípadne hodinky s ionizačným náramkom !

      .modal-footer
        %button.btn.btn-lg.btn-close.close-body-part{"data-dismiss" => "modal", :type => "button"} Zavrieť