#partModal-zapastie.bodyPartModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h2#myModalLabel.modal-title Zápästie
      .modal-body
        .part
          .main-info
            %ul.nav.nav-pills
              %li.nav.first.active
                %a{"data-toggle" => "pill", :href => "#zapastie1"} Zápästie
              / %li.nav
              /   %a{"data-toggle" => "pill", :href => "#zapastie2"} Syndróm karpálneho tunelu
              / %li.nav
              /   %a{"data-toggle" => "pill", :href => "#zapastie3"} 
            %hr.blue

            .tab-content

              #zapastie1.tab-pane.fade.in.active
                .container
                  .row
                    .col-md-12.body-paddding-justify
                      %img.body-right{:src=>"images/body/zapastie.png"}

                      %p.text Zápästie je časť hornej končatiny medzi rukou a predlaktím. Umožňuje priestorovú pohyblivosť ruky. Skladá sa z niekoľkých malých kostí, ktoré sa pomerne ľahko pri páde poškodia. Zranenia zápästia sú preto veľmi časté a nebezpečné.

                      %p.text Pri športovaní sa často používajú chrániče zápästia a to väčšinou pri tých druhoch športov, u ktorých hrozí pád športovca na ruky. Zo spodnej strany zápästia prechádza niekoľko žíl, ktoré sú dobre viditeľné okom. Toto miesto je často využívané pri samovražde, pri podrezaní.

                      %p.text Kostra zápästia je tvorená súborom ôsmich kostí, ktoré sú preklenuté k dlaňovej strane tuhým vazivom. Kosti sú zoradené v dvoch radoch.

                      %p.text Kostičky zápästia tvorí kosť člnkovitá (os scaphoideum), kosť mesiačikovitá (os lunatum), kosť trojhranná (os triquetrum), kosť hrášková (os pisiforme), kosť mnohohranná väčšia (os trapezium), kosť mnohohranná menšia(os trapezoideum), kosť hlavatá (os capitaum), kosť hákovitá (os hamatum).

              #zapastie2.tab-pane.fade
                .container
                  .row
                    .col-md-12.body-paddding-justify
                      %img.body-left{:src=>"images/body/karpalny-tunel.png"}
                      %p Tento syndróm patrí medzi najčastejšie ochorenia poškodzujúce ruku a postihuje najčastejšie ženy. Syndróm býva často podmienený práve opakovaným preťažovaním ruky ťažko manuálne pracujúci a určitými stereotypnými činnosťami ako napr. práca s klávesnicou a myšou. Ide o ochorenie, kedy dochádza k útlaku nervu v dôsledku už vyššie uvedeného zhrubnutého väzivového pruhu strop kanála ako i zhrubnutých šľachových pošiev ohýbačov prebiehajúcich vnútri kanála, ktorého priestor je zúžený následkom uvedených skutočností.

                      %h3 Príznaky
                      %p Medzi typické príznaky patria náhle alebo postupne sa rozvíjajúce bolesti ruky a "mravenčenie" tŕpnutie prstov ruky, ktoré sa môže objaviť cez deň ale i v noci pacienti sa často budia a nemôžu pre ťažkosti zaspať.  Pre syndróm je typická nemožnosť vykonávania určitých činností ako napr.vypadávanie predmetov z ruky, pacient si nevie zapnúť gombík, pri jemnej činnosti neudrží predmet v ruke. Častá je i stuhnutosť ruky, zvýšená únavnosť, opuch ako i obmedzená pohyblivosť prstov pacient nevie prsty plne pokrčiť do dlane

                      %h3 Príčina
                      %p Ženské pohlavie je postihnuté častejšie. Príčinami sú jednostranná pre ruku namáhavá práca, obdobie prechodu, vrodená predispozícia úzkeho karpálneho tunelu, tehotenstvo.

                      %h3 Diagnóza
                      %p Operačné riešenie indikuje a doporučí vždy neurológ na základe EMG vyšetrenia.

                      %h3 Liečba
                      %p Po neúspešnej konzervatívnej liečbe (vitamínovými injekciami - B1,B12) sa doporučuje chirurgické riešenie. Aplikáciu obstrekov (kortikoidov) do kanála nedoporučujeme vzhľadom k ich negatívnemu efektu na nerv ako i šľachy, navyše je nevyhnutná aspoň trojmesačná prestávka pred chirugickým zákrokom. Princípom chirurgického riešenia je prerušenie zhrubnutého väzivového pruhu(ligamentu ako i uvoľnenie nervu z jeho zhrubnutých obalov(neurolýza). Niekedy je nutné odstrániť zhrubnuté šľachové obaly (synovektómia), ktoré ako už bolo spomenuté môžu zužovať priestor vnúti kanála.

                      %h3 Rekonvalescencia
                      %p Na druhý deň po zákroku je nevyhnutné cvičenie s operovanou rukou (cviky budú predvedené operatérom). Bandáž na ruke je treba nosiť po dobu 2 týždňov. Po uplynutí tejto doby pacient prichádza na kontrolu za účelom odstránenia stehov. Operovanú ruku môže  začať pacient používať na bežné činnosti po treťom týždni od zákroku. Nasledujúce  2 až 3 mesiace  je nutné vyhýbať sa akémukoľvek záťažovému používaniu postihnutej ruky. Ešte niekoľko týždňov po chirurgickom zákroku  pretrváva citlivá jazva, ktorá masírovaním pacientovi po čase odoznie. Po vyzretí jazvy je pacient bez ťažkostí.


              / #zapastie3.tab-pane.fade
              /   .container
              /     .row
              /       .col-md-12.body-paddding-justify

              /         %p.text Tenisový lakeť (lat. laterálna epikondylitída) je bolestivý stav vonkajšej strany lakťového kĺbu. Táto typická bolesť je spôsobená zápalovou reakciou úponu šliach svalov predlaktia, ktoré ohýbajú zápästie a ruku smerom nahor (extenzory). Epikondyl je kostný výbežok ramennej kosti, ktorý sa dá dobre nahmatať na vonkajšej aj vnútornej strane lakťa. Na toto miesto sa upínajú svaly predlaktia.

              /         %h3 Príčiny vzniku a u koho najčastejšie vzniká?
              /         %p Trápi tenistov najmä pri backhandovom údere. Príčinou vzniku je nepravidelné nárazové hranie, zlé technické zvládnutie Paradoxne veľmi často vzniká u nešportovcov po rôznej opakovanej aktivite, ktorá nadmerne zaťaží svaly predlaktia /maľovanie bytu, skladanie nábytku alebo strihanie stromov/. Niekedy je počiatočným momentom bežné udretie vonkajšej časti lakťa o stenu alebo o zárubňu dverí. Takto vzniká pomliaždenie a natrhnutie úponu šliach predlaktia s následnou obrannou zápalovou reakciou a bolestivým syndrómom. Tenisový lakeť môže vzniknúť v každom veku, ale najčastejšie trápi skupinu ľudí vo veku 35­-50 rokov. Postihuje rovnako obe pohlavia.

              /         %h3 Diagnostika
              /         %p Základom diagnostiky je podrobná anamnéza – popis vzniku a chronológia ťažkostí. Klinické vyšetrenie s manévrami provokujúcimi bolesť v oblasti laterálneho epikondylu dopĺňa stanovenie diagnózy. Bolestivosť je veľmi typická a lavíruje od miernej bolesti pri tlaku na epikondyl až po výraznú pichavú bolesti pri pohybe predlaktia od tela a nahor, alebo pri dvíhaní ťažších predmetov. RTG vyšetrenie väčšinou nepreukáže patologické zmeny. Podrobnejšiu diagnózu stanovujeme USG vyšetrením a MRI­ magnetickou rezonanciou.

              /         %h3 Liečba
              /         %p Komplexná konzervatívna liečba prináša vo väčšine prípadov úspech.
              /         %ul
              /           %li Najdôležitejšie je šetrenie hornej končatiny pri zachovaní bežných denných aktivít.
              /           %li Medikamentózna liečba nesteroidnými antiflogistikami ­ NSA v perorálnej forme v kombinácií lokálnej aplikácie protizápalových mastí.
              /           %li Fyzikálna terapia –elektroliečba, laser, magnetoterapia, cryoterapia, bioptronová lampa.
              /           %li Po ustúpení bolesti je potrebné svaly a šľachy predlaktia roztiahnuť a následne posilniť.

              /         %h3 Liečba chronického stavu bolesti
              /         %p Ak pretrváva bolestivosť po 6­-8 týždňoch liečby hovoríme o chronickom stave. V týchto prípadoch sa často pristupuje k aplikácii kortizónovej injekcie do bolestivej oblasti. Táto injekcia je veľmi činná a populárna , avšak opakované aplikácie injekcie prinášajú negatívne následky v štruktúre šľachy.

              /         %h3 Rekonvalescencia
              /         %p Po vyčerpaní komplexnej konzervatívnej liečby a pretrvávaní ťažkostí viac ako 6­-12 mesiacov je vhodná operačná liečba. Pred vlastnou operáciou je potrebná podrobná diagnostika lakťového kĺbu vrátane RTG a MRI. V chronických prípadoch býva často poškodený aj lakťový kĺb, v ktorom sa zápal udržuje. V týchto prípadoch je operačné uvoľnenie napätia v šľache a odstránenie poškodeného tkaniva doplnené o artroskopickú operáciu lakťového kĺbu. Návrat do športových aktivít je po cca 3-5 mesiacoch od operácie. Pred začatím plnej športovej aktivity je dôležité roztiahnutie a posilnenie oslabených svalov predlaktia.



      .modal-footer
        %button.btn.btn-lg.btn-close.close-body-part{"data-dismiss" => "modal", :type => "button"} Zavrieť
