#partModal-panva.bodyPartModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h2#myModalLabel.modal-title Bedrový kľb
      .modal-body
        .part
          .main-info
            %ul.nav.nav-pills
              %li.nav.first.active
                %a{"data-toggle" => "pill", :href => "#bedro1"} Bedrový kĺb
              %li.nav
                %a{"data-toggle" => "pill", :href => "#bedro2"} Artróza bedrového kĺbu
              %li.nav
                %a{"data-toggle" => "pill", :href => "#bedro3"} 
            %hr.blue

            .tab-content

              #bedro1.tab-pane.fade.in.active
                .container
                  .row
                    .col-md-12.body-paddding-justify
                      %img.body-right{:src=>"images/body/panva.png"}
                      %p.text Bedrový kĺb sa skladá z:
                      %ul
                        %li Hlavice stehennej kosti
                        %li Jamky bedrového kosti

                      %p.text Horný koniec stehennej kosti má guľatý tvar a zapadá do jamky panvovej kosti. Kosti bedrového kĺbu sú pokryté vrstvou hladkej, lesklej chrupavky, ktorá podkladá a chráni kosti, aby sa mohli ľahko pohybovať a umožňuje hladký a bezbolestný pohyb kĺbu.

                      %p Kosti kĺbu sú spojené väzmi, ktoré umožňujú súdržnosť kĺbu a zároveň silu a pružnosť pohybu. Významnú úlohu pre stabilitu kĺbu majú aj svaly a šľachy.

                      %p Bedrový kľb v dospelosti býva najčastejšie postihnutý degeneratívnym procesom - artrózou. Táto môže byť zapríčinená postupným opotrebovaním, následkami po úrazoch a mikroúrazoch alebo po vrodených chybách na bedrovom kĺbe. Bolesti a obmedzovanie pohyblivosti v bedrovom kĺbe majú progresívny charakter. Zhoršujú sa vekom a postupne zabraňujú pacientovi v chôdzi.

                      %p Liečba je tým úspešnejšia, čím skôr sa diagnostikuje stupeň artrózy. V liečbe sa používajú spočiatku lieky spomaľujúce rozvoj artrózy , rehabilitačná liečba a úprava pohybového režimu pacienta. Pri ťažších štádiách artrózy je indikovaná operačná liečba, ktorá pozostáva z výmeny postihnutého kĺbu umelým kĺbom. Takáto liečba sa robí na špecializovaných pracoviskách a nie je možná v jednodňovej chirurgii.

                      %img.body-left{:src=>"images/body/artropro/Bedra_1.png"}

                      %p Nepodceňujte bolesti a obmedzovanie pohyblivosti v bedrovom kĺbe. Včasná liečba dokáže spomaliť proces opotrebenia kĺbu, významne uľaviť bolesti a niekedy aj predísť operačnej liečbe.




              #bedro2.tab-pane.fade
                .container
                  .row
                    .col-md-12.body-paddding-justify
                      %img.body-right{:src=>"images/body/bedro-artroza.png"}
                      %p.text Atróza bedrového kĺbu alebo tiež osteoartróza je chronické zápalové ochorenie kĺbov, ktoré postihuje chrupavku aj kosť
                      %ul
                        %li Chrupavka sa stenčuje a stráca hladký povrch
                        %li Kosť nadmerne tvrdne, začína mať nepravidelný tvar a niekedy vytvára cysty
                        %li Na povrchu kosti vznikajú tŕňovité výrastky a kĺb sa silne zapáli
                        %li Synuviálna tekutina, ktorá za normálnych okolností premazáva kĺb, obsahuje fragmenty kostných a rôznych chemických kryštálov

                      %h3 Postihnuté miesta
                      %p Bolesť pri osteoartróze vzniká prevažne v úponoch väzov okolo postihnutých kĺbov. Často trpia kolená, bedrové kĺby, malé kĺby medzi stavcami (najmä krčné a v driekovej chrbtici), kĺby rúk a nôh. Aj keď röntgenová snímka zreteľne zobrazí artrózne zmeny, nemusí preukázať stupeň či miesto zaznamenanej bolesti.

                      %h3 Typické príznaky
                      %ul
                        %li Bolesť, ktorá sa zhoršuje pri určitom pohybe. Môže byť tupá a sústavná, prípadne bodavá a nie vždy sa pociťuje v postihnutom kĺbe. Napríklad osteoartróza bedrového kĺbu môže spôsobovať bolesť v sedacej časti, v slabinách, stehne alebo kolene. Ťažké prípady sa prejavujú v pokoji a v noci.
                        %li Obmedzená pohyblivosť, stuhnutosť a nestabilita postihnutého kĺbu. Stuhnutosť po pohybe je príznačná, ale rovnako ju môže zapríčiniť nehybnosť.
                        %li Deformita ­ osteoartrózu chrbtice spôsobuje napríklad abnormálne držanie tela.

                      %h3 Príčiny
                      %p Nedávne zistenia poukazujú na to, že až v 65 % prípadov osteoartrózy môžu hrať istú rolu dedičné faktory, je však známe, že značný podiel má i dlhodobé mechanické poškodzovanie.

                      %h3 Hlavné faktory
                      %ul
                        %li Pracovné faktory -­ neraz ochorejú ľudia, ktorí vykonávajú opakované pohyby, prenášajú ťažké bremená
                        %li Šport ­- niektoré jeho druhy prispievajú k vzniku osteoartrózy v mladšom veku, najmä bedrových kĺbov, kĺbov, kolena a členka
                        %li Obezita - podporuje osteoartrózu kolien, ale v menšej miere sa spája s osteoartrózou bedrového kĺbu
                        %li Určitý zdravotný stav -­ napríklad cukrovka, Pagetova choroba či hemofília súvisia so zvýšeným rizikom osteoartrózy ako i nadmerné užívanie niektorých liečiv.

                      / %h3 Diagnostika
                      / %p Osteoartróza sa diagnostikuje na základe:
                      / %ul
                      /   %li Klinickej anamnézy pacienta
                      /   %li Klinického vyšetrenia postihnutých kĺbov so zameraním na stuhnutosť, obmedzenie pohyblivosti a nahromadenie výpotku v kĺbe
                      /   %li Zmien zachytených na röntgenovej snímke ­ zúženie štrbiny medzi kosťami kĺbu, vznik tvrdej nepravidelnej kosti alebo kostného výrastku

                      %h3 Liečba
                      %p Cieľom liečby je stlmiť bolesť a zachovať, prípadne zlepšiť pohyblivosť. Preto je zakladnými liečebnými bodmi je pohyb a udržovanie si telesnej hmotnosti.
                      %p Ak je kĺb veľmi zapálený, možno predpísať väčšiu dávku lieku zo skupiny NSA. Treba však pamätať,že tie lieky mávajú vedľajšie účinky na tráviacu sústavu a obličky, preto nie sú vhodné:
                      %ul
                        %li Pre staršie osoby
                        %li Pre osoby so žalúdočným vredom
                        %li Pre astmatikov
                        %li Pre osoby s chorobou srdca
                      %p Ak nemožno dosiahnuť úľavu zmenou životného štýlu a liekmi, využíva sa chirurgická liečba s cieľom:
                      %ul
                        %li Odstrániť fragmenty kosti a zvyšky z kĺbovej štrbiny
                        %li Znovu vyrovnať konce kostí (osteotómia) a zmierniť záťaž kĺbu
                        %li Spojiť konce kostí v štrbine kĺbu (artrodéza); niekedy je totiž prijateľnejší tuhý bezbolestný kĺb než bolestivý a nestabilný
                        %li Nahradiť kĺby (substitučná artroplastika) -­ dnes sú také operácie kolena a bedrovej kosti veľmi úspešné a náhradné kĺby vydržia 10 ­ 15 rokov, ibaže opakované operácie už také úspešné nebývajú



              #bedro3.tab-pane.fade
                .container
                  .row
                    .col-md-12.body-paddding-justify
                      %p.text Tenisový lakeť (lat. laterálna epikondylitída) je bolestivý stav vonkajšej strany lakťového kĺbu. Táto typická bolesť je spôsobená zápalovou reakciou úponu šliach svalov predlaktia, ktoré ohýbajú zápästie a ruku smerom nahor (extenzory). Epikondyl je kostný výbežok ramennej kosti, ktorý sa dá dobre nahmatať na vonkajšej aj vnútornej strane lakťa. Na toto miesto sa upínajú svaly predlaktia.

                      %h3 Príčiny vzniku a u koho najčastejšie vzniká?
                      %p Trápi tenistov najmä pri backhandovom údere. Príčinou vzniku je nepravidelné nárazové hranie, zlé technické zvládnutie Paradoxne veľmi často vzniká u nešportovcov po rôznej opakovanej aktivite, ktorá nadmerne zaťaží svaly predlaktia /maľovanie bytu, skladanie nábytku alebo strihanie stromov/. Niekedy je počiatočným momentom bežné udretie vonkajšej časti lakťa o stenu alebo o zárubňu dverí. Takto vzniká pomliaždenie a natrhnutie úponu šliach predlaktia s následnou obrannou zápalovou reakciou a bolestivým syndrómom. Tenisový lakeť môže vzniknúť v každom veku, ale najčastejšie trápi skupinu ľudí vo veku 35­-50 rokov. Postihuje rovnako obe pohlavia.

                      %h3 Diagnostika
                      %p Základom diagnostiky je podrobná anamnéza – popis vzniku a chronológia ťažkostí. Klinické vyšetrenie s manévrami provokujúcimi bolesť v oblasti laterálneho epikondylu dopĺňa stanovenie diagnózy. Bolestivosť je veľmi typická a lavíruje od miernej bolesti pri tlaku na epikondyl až po výraznú pichavú bolesti pri pohybe predlaktia od tela a nahor, alebo pri dvíhaní ťažších predmetov. RTG vyšetrenie väčšinou nepreukáže patologické zmeny. Podrobnejšiu diagnózu stanovujeme USG vyšetrením a MRI­ magnetickou rezonanciou.

                      %h3 Liečba
                      %p Komplexná konzervatívna liečba prináša vo väčšine prípadov úspech.
                      %ul
                        %li Najdôležitejšie je šetrenie hornej končatiny pri zachovaní bežných denných aktivít.
                        %li Medikamentózna liečba nesteroidnými antiflogistikami ­ NSA v perorálnej forme v kombinácií lokálnej aplikácie protizápalových mastí.
                        %li Fyzikálna terapia –elektroliečba, laser, magnetoterapia, cryoterapia, bioptronová lampa.
                        %li Po ustúpení bolesti je potrebné svaly a šľachy predlaktia roztiahnuť a následne posilniť.

                      %h3 Liečba chronického stavu bolesti
                      %p Ak pretrváva bolestivosť po 6­-8 týždňoch liečby hovoríme o chronickom stave. V týchto prípadoch sa často pristupuje k aplikácii kortizónovej injekcie do bolestivej oblasti. Táto injekcia je veľmi činná a populárna , avšak opakované aplikácie injekcie prinášajú negatívne následky v štruktúre šľachy.

                      %h3 Rekonvalescencia
                      %p Po vyčerpaní komplexnej konzervatívnej liečby a pretrvávaní ťažkostí viac ako 6­-12 mesiacov je vhodná operačná liečba. Pred vlastnou operáciou je potrebná podrobná diagnostika lakťového kĺbu vrátane RTG a MRI. V chronických prípadoch býva často poškodený aj lakťový kĺb, v ktorom sa zápal udržuje. V týchto prípadoch je operačné uvoľnenie napätia v šľache a odstránenie poškodeného tkaniva doplnené o artroskopickú operáciu lakťového kĺbu. Návrat do športových aktivít je po cca 3-5 mesiacoch od operácie. Pred začatím plnej športovej aktivity je dôležité roztiahnutie a posilnenie oslabených svalov predlaktia.



      .modal-footer
        %button.btn.btn-lg.btn-close.close-body-part{"data-dismiss" => "modal", :type => "button"} Zavrieť
