#partModal-chrbat.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h2#myModalLabel.modal-title Chrbtica
      .modal-body
        .part
          .main-info

            %ul.nav.nav-pills
              %li.active
                %a{"data-toggle" => "pill", :href => "#bandage2"} Ortézy bandážneho typu
              %li
                %a{"data-toggle" => "pill", :href => "#non-bandage2"} Ortézy nebandážneho typu - fixačné

            %hr.blue
            .tab-content
              #bandage2.tab-pane.fade.in.active

                .bs-callout.bs-callout-info
                  %a.example-4-1{"data-lightbox" => "example-4-1", "data-title" => "Brušný pás", :href => "images/body/chrbat/1/ortezy_trupu1.jpg"}
                    %img.left{:src=>"images/body/chrbat/1/ortezy_trupu1.png"}
                  .text
                    %h3
                      %b Brušný pás
                    %ul.list
                      %li
                        %b Indikácia:
                        insuficiencia brušných svalov diastaza mm. recti abdominis, hernie aj v pooperačných jazvách, oslabenie brušnej steny po operačnom zákroku, venter pendulum, stavy po plastických operáciách, gravidita.

                .bs-callout.bs-callout-info
                  %a.example-4-2{"data-lightbox" => "example-4-2", "data-title" => "Stomický pás", :href => "images/body/chrbat/1/ortezy_trupu2.jpg"}
                    %img.left{:src=>"images/body/chrbat/1/ortezy_trupu2.png"}
                  .text
                    %h3
                      %b Stomický pás
                    %ul.list
                      %li
                        %b Indikácia:
                        stav po kolostómii.
                    %br

                .bs-callout.bs-callout-info
                  %a.example-4-3{"data-lightbox" => "example-4-3", "data-title" => "Hrudný pás", :href => "images/body/chrbat/1/ortezy_trupu3.jpg"}
                    %img.left{:src=>"images/body/chrbat/1/ortezy_trupu3.png"}
                  .text
                    %h3
                      %b Hrudný pás
                    %ul.list
                      %li
                        %b Indikácia:
                        contusio thoracis, fraktúra costae, obmedzenie dýchania, thorakotomia.
                    %br

                .bs-callout-2.bs-callout-info
                  %a.example-4-4{"data-lightbox" => "example-4-4", "data-title" => "Prietržový pás (1 alebo 2 stranný)", :href => "images/body/chrbat/1/ortezy_trupu4.jpg"}
                    %img.left{:src=>"images/body/chrbat/1/ortezy_trupu4.png"}
                  .text
                    %h3
                      %b Prietržový pás (1 alebo 2 stranný)
                    %ul.list
                      %li
                        %b Indikácia:
                        inguinálna hernia.

                .bs-callout-2.bs-callout-info
                  %a.example-4-6{"data-lightbox" => "example-4-6", "data-title" => "Molitexový lumbálny pás", :href => "images/body/chrbat/1/ortezy_trupu6.jpg"}
                    %img.left{:src=>"images/body/chrbat/1/ortezy_trupu6.png"}
                  %a.example-4-5{"data-lightbox" => "example-4-5", "data-title" => "Neoprénový pás", :href => "images/body/chrbat/1/ortezy_trupu5.jpg"}
                    %img.left{:src=>"images/body/chrbat/1/ortezy_trupu5.png"}
                  .text
                    %h3
                      %b Neoprénový a molitexový lumbálny pás
                    %ul.list
                      %li
                        %b Indikácia:
                        chronické lumbago, svalová insuficiencia, instabilita viacerých pohybových segmentov v L chrbtici, degeneratívne ochorenia stavcov a medzistavcových spojení, poruchy asimilácie L-S prechodu spondylolýzy, spondylolisthezy, kompresívne fraktúry stavcov v L oblasti, osteoporóza, v pooperačnom období riešenia poškodených medzistavcových platničiek, choroby obličiek, poranenia chrbtových svalov, kontraktúry, afekcie SI kĺbov.

                .bs-callout.bs-callout-info
                  %a.example-4-7{"data-lightbox" => "example-4-7", "data-title" => "Upomínacia bandáž jednoduchá", :href => "images/body/chrbat/1/ortezy_trupu7.jpg"}
                    %img.left{:src=>"images/body/chrbat/1/ortezy_trupu7.png"}
                  .text
                    %h3
                      %b Upomínacia bandáž jednoduchá
                    %ul.list
                      %li
                        %b Indikácia:
                        chybné držanie tela.
                    %br

                .bs-callout.bs-callout-info
                  %a.example-4-8{"data-lightbox" => "example-4-8", "data-title" => "Upomínacia bandáž zložitá", :href => "images/body/chrbat/1/ortezy_trupu8.jpg"}
                    %img.left{:src=>"images/body/chrbat/1/ortezy_trupu8.png"}
                  .text
                    %h3
                      %b Upomínacia bandáž zložitá
                    %ul.list
                      %li
                        %b Indikácia:
                        chybné držanie tela.
                    %br



                .bs-callout.bs-callout-info
                  %a.example-4-8{"data-lightbox" => "example-4-9", "data-title" => "Hrudná pelota", :href => "images/body/chrbat/1/ortezy_trupu9.jpg"}
                    %img.left{:src=>"images/body/chrbat/1/ortezy_trupu9.png"}
                  .text
                    %h3
                      %b Hrudná pelota
                    %ul.list
                      %li
                        %b Indikácia:
                        pectus carinatum.
                    %br

                .bs-callout.bs-callout-info
                  %a.example-4-8{"data-lightbox" => "example-4-10", "data-title" => "Stella dorsi", :href => "images/body/chrbat/1/ortezy_trupu10.jpg"}
                    %img.left{:src=>"images/body/chrbat/1/ortezy_trupu10.png"}
                  .text
                    %h3
                      %b Stella dorsi
                    %ul.list
                      %li
                        %b Indikácia:
                        chybné držanie tela.
                    %br



              #non-bandage2.tab-pane.fade

                .bs-callout.bs-callout-info
                  %a.example-4-11{"data-lightbox" => "example-4-11", "data-title" => "Viedenský korzet", :href => "images/body/chrbat/2/ortezy_trupu11.jpg"}
                    %img.left{:src=>"images/body/chrbat/2/ortezy_trupu11.png"}
                  .text
                    %h3
                      %b Viedenský korzet
                    %ul.list
                      %li
                        %b Indikácia:
                        skoliozy s vrcholom zakrivenia od Th5 dole s torziou stavcov.
                    %br

                .bs-callout.bs-callout-info
                  %a.example-4-12{"data-lightbox" => "example-4-12", "data-title" => "CTM ortéza", :href => "images/body/chrbat/2/ortezy_trupu12.jpg"}
                    %img.left{:src=>"images/body/chrbat/2/ortezy_trupu12.png"}
                  .text
                    %h3
                      %b CTM ortéza
                    %ul.list
                      %li
                        %b Indikácia:
                        skoliozy s vrcholom zakrivenia od Th5 dole, kyphoskoliózy M. Scheuermann.
                    %br

                .bs-callout.bs-callout-info
                  %a.example-4-13{"data-lightbox" => "example-4-13", "data-title" => "Podporný (stabilizačný korzet)", :href => "images/body/chrbat/2/ortezy_trupu13.jpg"}
                    %img.left{:src=>"images/body/chrbat/2/ortezy_trupu13.png"}
                  .text
                    %h3
                      %b Podporný (stabilizačný korzet)
                    %ul.list
                      %li
                        %b Indikácia:
                        fraktúry stavcov, spondylitída, osteoporóza, MTS.
                    %br

                .bs-callout.bs-callout-info
                  %a.example-4-14{"data-lightbox" => "example-4-14", "data-title" => "Milwaukee korzet", :href => "images/body/chrbat/2/ortezy_trupu14.jpg"}
                    %img.left{:src=>"images/body/chrbat/2/ortezy_trupu14.png"}
                  .text
                    %h3
                      %b Milwaukee korzet
                    %ul.list
                      %li
                        %b Indikácia:
                        skoliozy v C oblasti, hornej a strednej Th oblasti.
                    %br

                .bs-callout.bs-callout-info
                  %a.example-4-16{"data-lightbox" => "example-4-16", "data-title" => "Boston korzet - VT", :href => "images/body/chrbat/2/ortezy_trupu16.jpg"}
                    %img.left{:src=>"images/body/chrbat/2/ortezy_trupu16.png"}
                  %a.example-4-15{"data-lightbox" => "example-4-15", "data-title" => "Boston korzet - NT", :href => "images/body/chrbat/2/ortezy_trupu15.jpg"}
                    %img.left{:src=>"images/body/chrbat/2/ortezy_trupu15.png"}
                  .text
                    %h3
                      %b Boston korzet - NT a Boston korzet - VT
                    %ul.list
                      %li
                        %b Indikácia:
                        skoliozy ľahšieho stupňa v L oblasti, spondylolýza, spondylolisthéza v L oblasti, fraktúry od Th po L oblasť, osteoporóza.

                .bs-callout.bs-callout-info
                  %a.example-4-17{"data-lightbox" => "example-4-17", "data-title" => "Nočný korzet", :href => "images/body/chrbat/2/ortezy_trupu17.jpg"}
                    %img.left{:src=>"images/body/chrbat/2/ortezy_trupu17.png"}
                  .text
                    %h3
                      %b Nočný korzet
                    %ul.list
                      %li
                        %b Indikácia:
                        redresibilné jednoduché skoliozy bez rotácie v L oblasti.
                    %br

                .bs-callout.bs-callout-info
                  %a.example-4-18{"data-lightbox" => "example-4-18", "data-title" => "Korzet podľa Jewetta - trojbodový", :href => "images/body/chrbat/2/ortezy_trupu18.jpg"}
                    %img.left{:src=>"images/body/chrbat/2/ortezy_trupu18.png"}
                  .text
                    %h3
                      %b Korzet podľa Jewetta - trojbodový
                    %ul.list
                      %li
                        %b Charakteristika:
                        hyperextenzná ortéza, odľahčuje driekové stavce a fixuje chrbticu proti ventrálnej flexii.
                      %li
                        %b Indikácia:
                        kyfóza v L oblasti, kompresívne fraktúry v L oblasti.


      .modal-footer
        %button.btn.btn-lg.btn-close.close-body-part{"data-dismiss" => "modal", :type => "button"} Zavrieť
