#bodySchema

	#rameno.body-part{:modal_src=>"rameno"}
		%img{:src=>"images/pointer.png"}
		.pulse_rays
		.pulse_rays2

	#laket.body-part{:modal_src=>"laket"}
		%img{:src=>"images/pointer.png"}
		.pulse_rays
		.pulse_rays2

	#zapastie.body-part{:modal_src=>"zapastie"}
		%img{:src=>"images/pointer.png"}
		.pulse_rays
		.pulse_rays2

	#panva.body-part{:modal_src=>"panva"}
		%img{:src=>"images/pointer.png"}
		.pulse_rays
		.pulse_rays2

	#koleno.body-part{:modal_src=>"koleno"}
		%img{:src=>"images/pointer.png"}
		.pulse_rays
		.pulse_rays2
