#video5Modal.video-modals.modal.fade{"data-focus-on"=>"input:first", :tabindex => "-1"}
	.modal-dialog.video-modal-dialog
		.modal-header
			%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
			%h2#myModalLabel.modal-title PLASTIKA RAMENNÉHO KĹBU PRI NESTABILNOM RAMENE
		.modal-body	
			.video-layout
				%video#operation-video5{:preload=>"auto", :width=>640, :height=>480, :controls=>""}
					%source{:src => "/videos/plastika-rameneho-klbu-pri-nestabilnom-ramene.webm", :type => "video/webm"}

		.modal-footer
			%button.btn.btn-lg.btn-close{"data-dismiss" => "modal", :type => "button"} Zavrieť