.panel-body
  .section-title
    .primary
      %b Ortézy krčnej chrbtice -
    .secondary bandážneho typu
  %img.left{:src=>"images/devices/krk.png"}
  %br

  .text
    %b Úhrada poisťovňou: &nbsp
    Pomôcky bandážneho typu liečebné, pri zmene zdravotného stavu s odôvodnením lekára, inak
    %b 1x/rok &nbsp
    ,Kód:
    %b I10011.
    Pomôcky bandážneho typu kompenzačné
    %b 1x/rok
    , Kód:
    %b I10013.
    %br
    %b Charakteristika: &nbsp
    Môžu byť vyrobené z materiálov (molitan, polyetylén, plast, plastazot) podľa požadovanej funkcie. Ich úlohou je odľahčenie a fixácia krčnej chrbtice. Prepúšťajú RTG žiarenie.

    %br
    %br
    Molitanový golier - vzor Schantzov golier
    %br
    %b Indikácia: &nbsp
    tortikolis, doliečovanie poúrazových stavov, distorzie stavcov, oslabenie oporyschopnosti C chrbtice, degeneratívne ochorenia stavcov a medzistavcových platničiek, CC a CB syndróm.
    %br
    %br

  .section-title
    .primary
      %b Ortézy krčnej chrbtice -
    .secondary nebandážneho typu
    %br
  %img.left{:src=>"images/devices/krk2.png"}

  .text
    %b Úhrada poisťovňou: &nbsp
    Pomôcky bandážneho typu liečebné, pri zmene zdravotného stavu s odôvodnením lekára, inak
    %b 1x/rok, &nbsp
    Kód: I10012.Pomôcky bandážneho typu kompenzačné 1x/rok, Kód:
    %b I10014.
    %br
    %br
    Golier Philadephia
    %br
    %b Indikácia: &nbsp
    fraktúry, MTS, distorsie, spondyloartrózy.
    %br
    %br
    Fixačná krčná ortéza s hrudnou oporou
    %br
    %b Indikácia: &nbsp
    odľahčenie a stabilita stavcov nad Th6, pooperačné a poúrazové stavy nad Th6, dlhodobá fixácia a stabilizácia v oblasti C chrbtice.
    %br
    %br
    Plastový golier
    %br
    %b Indikácia: &nbsp
    fraktúry v oblasti C chrbtice, MTS, distorsie, tortokolis.