.panel-body
  %hr.blue
  %ul.nav.nav-pills.hands-list
    %li.first.active
      %a{"data-toggle" => "pill", :href => "#hands-one"} Bandážneho typu
    %li.second
      %a{"data-toggle" => "pill", :href => "#hands-two"} Nebandážneho typu - fixačné
    %li.third
      %a{"data-toggle" => "pill", :href => "#hands-three"} Nebandážneho typu - redresné a dynamické

  %hr.blue
  .tab-content
    #hands-one.tab-pane.fade.in.active
      .section-title
        .primary
          %b Ortézy horných končatín
        .secondary  bandážneho typu - liečebné - fixačné
      %img.left{:src=>"images/devices/ruka1.png"}
        %b Úhrada poisťovňou: &nbsp
        Pomôcky bandážneho typu liečebné, pri zmene zdravotného stavu s odôvodnením lekára, inak
        %b 1x/rok, &nbsp
        Kód:
        %b I10031. &nbsp
        Pomôcky bandážneho typu kompenzačné
        %b 2x/rok, &nbsp
        Kód:
        %b I10033.
        %br
        %br
        %b Charakteristika:
        Ortézy HK bandážného typu sa vyrábajú z mäkkých materiálov (gumotextil, molitex, neoprén, koža), môžu byť s výstužou, alebo bez nej.

        %br
        %br
        Zápästná ortéza
        %br
        %b Charakteristika: &nbsp
        znehybnenie zápästného kĺbu, v niektorých prípadoch aj ako náhrada sadrového obväzu, tepelná izolácia.
        %br
        %b Indikácia: &nbsp
        poúrazové stavy, doliečovanie fraktúr, distorzie, tendovaginitídy, pozápalové stavy, artróza, osteoporóza.

        %br
        %br
        Prstová ortéza
        %br
        %b Indikácia: &nbsp
        poranenia prstov, artróza, artritída IP kĺbov, ochorenia šliach.

        %br
        %br
        Palcová ortéza
        %br
        %b Indikácia: &nbsp
        artróza, postihnutie väzov, pseudoartróza, artritída IP kĺbu.

        %br
        %br
        Lakťová ortéza
        %br
        %b Charakteristika: &nbsp
        stabilizácia a fixácia, môže byť s dlahami, bez dláh alebo so zapracovanou epicondylickou páskou.
        %br
        %b Indikácia: &nbsp
        po úrazové stavy, poranenia kĺbového púzdra, väzov, doliečovanie vnútrokĺbnych fraktúr, RA, artróza, dna, stavy po operáciách lakťa, kĺbny výpotok, epicondylitída.

        %br
        %br
        Lakťová ortéza s aretovateľným kĺbom
        %br
        %b Charakteristika: &nbsp
        nastaviteľný rozsah pohybu v lakťovom kĺbe F. – E.
        %br
        %b Indikácia: &nbsp
        po operačné a po úrazové stavy.

        %br
        %br
        Epicondylická páska
        %br
        %b Charakteristika: &nbsp
        zníženie ťahu svalov v mieste ich úponu.
        %br
        %b Indikácia: &nbsp
        epicondylitídy, tenisový lakeť, golfový lakeť.

        %br
        %br
        Ramenná ortéza
        %br
        %b Charakteristika: &nbsp
        pôsobí tepelne, zmierňuje bolesť, fixuje ramenný kĺb, čiastočná náhrada Desault obväzu.
        %br
        %b Indikácia: &nbsp
        po úrazové stavy, fraktúra hlavice ramennej kosti, natrhnutie svalov a šliach, stavy po luxáciách, po operačné stavy.

        %br
        %br
        Ramenná ortéza vzor Desault
        %br
        %b Charakteristika: &nbsp
        znehybnenie ramenného klbu v základnom postavení, ako náhrada Desault obväzu.
        %br
        %b Indikácia: &nbsp
        poúrazové stavy, fraktúry, ruptúry svalov, šliach, luxácie, stavy po operáciách, pozápalové stavy.

        %br
        %br
        Závesná kapsa A a závesná kapsa B
        %br
        %b Indikácia: &nbsp
        paraparézy, plégie HK po úrazoch a NCPM, neuralgie, bolestivé rameno.

    #hands-two.tab-pane.fade
      .section-title
        .primary
          %b Ortézy horných končatín
        .secondary  nebandážneho typu - liečebné - fixačné
      %img.left{:src=>"images/devices/ruka2.png"}
        %b Úhrada poisťovňou: &nbsp
        Pomôcky bandážneho typu liečebné, pri zmene zdravotného stavu s odôvodnením lekára, inak
        %b 1x/rok, &nbsp
        Kód:
        %b I10032. &nbsp
        Pomôcky nebandážneho typu kompenzačné
        %b 2x/rok, &nbsp
        Kód:
        %b I10034.
        %br
        %br
        %b Charakteristika: &nbsp
        Ortézy HK nebandážneho typu sa vyrábajú z laminátu, nízkoteplotného a vysokoteplotného plastu, s kombináciou ľahkých kovov. Ich úlohou je zlepšenie prípadne obmedzenie pohybu, redresia, odľahčenie, náhrada svalovej a šľachovej činnosti a kostnej nosnosti. K ortézam HK nebandážneho typu z NT plastu doporučujeme bandážnu pomôcku -&nbsp
        %b Záves &nbsp
        I10033.

        %br
        %br
        Palcová ortéza
        %br
        %b Indikácia: &nbsp
        artróza CMC kĺbu, poškodenie väzov, distorzia, hypermobilita, pseudoartróza, ixácia tzv. volejbalového palca, artritída drobných kĺbov, stav po fraktúre kostí palca a CMC.

        %br
        %br
        Zápästná ortéza
        %br
        %b Indikácia: &nbsp
        malformácie, stavy po NCPM, DMO, poruchy periférnych nervov (n. radialis, paréza n. medianus), syndróm carpálneho tunela, osteoporóza, artróza, RA a pozápalové procesy, pooperačné stavy, poúrazové stavy, poškodenie väzov a šliach (distorzie a fraktúry).

        %br
        %br
        Lakťová ortéza
        %br
        %b Indikácia: &nbsp
        po úrazové stavy, vrodené malformácie, lekčné kontraktúry, artrotické stavy, MTS.

        %br
        %br
        Thorakoabdukčná ramenná ortéza
        %br
        %b Charakteristika: &nbsp
        fixácia ramena v abdukčnom postavení, s možnosťou nastavenia uhla abdukcie.
        %br
        %b Indikácia: &nbsp
        pooperačné stavy v ramennom kĺbe vyžadujúce abdukčné postavenie (osteosyntéza, akromio a artro plastika, synovektómia, artrolýza a Sudeck dystrophia).

        %br
        %br
        Prstová ortéza
        %br
        %b Indikácia: &nbsp
        stav po fraktúrach v oblasti prstov, distorzie v oblasti IP kĺbov, deformity kĺbov pri reumatickej artritíde.

    #hands-three.tab-pane.fade
      .section-title
        .primary
          %b Ortézy horných končatín
        .secondary  nebandážneho typu - liečebné - redresné a dynamické
      %img.left{:src=>"images/devices/ruka3.png"}

        Ortéza ruky – vejár
        %br
        %b Charakteristika: &nbsp
        redresia dlane a prstov do extenzie.
        %br
        %b Indikácia: &nbsp
        spastická lexia dlane a prstov, stavy po NCPM, poúrazové stavy, Volcman contractura, poškodenie periférnych nervov, DMO.

        %br
        %br
        Ortéza prstová aktívna pri lézií šliach
        %br
        %b Indikácia: &nbsp
        deviácie prstov pri reumatickej horúčke, poúrazové, pooperačné a pozápalové stavy, spastické kontraktúry (NCPM, DMO), popáleniny, nervovo – cievne lézie.

        %br
        %br
        Lakťová ortéza s ohybom
        %br
        %b Indikácia: &nbsp
        lekčné kontraktúry v lakťovom kĺbe, zväčšenie extenzie.

        %br
        %br
        Ortéza prstová dynamická
        %br
        %b Indikácia: &nbsp
        nervovo – cievne lézie, poúrazové stavy, stavy po operácií šliach.

        %br
        %br
        Ortéza so zachytením ruky a predlaktia – palec v opozícií
        %br
        %b Indikácia: &nbsp
        fixácia prstov a RC kĺbu v extenzii s opozíciou palca pri spastickom drápovitom, alebo lekčnom postavení prstov s lexiou v RC kĺbe pri lekčných kontraktúrach, DMO, poúrazové stavy, stavy po NCPM, poškodenie periférnych nervov.