.panel-body
  %hr.blue
  %ul.nav.nav-pills.legs-list
    %li.first.active
      %a{"data-toggle" => "pill", :href => "#legs-one"} Bandážneho typu
    %li.second
      %a{"data-toggle" => "pill", :href => "#legs-two"} Nebandážneho typu - fixačné
    %li.third
      %a{"data-toggle" => "pill", :href => "#legs-three"} Nebandážneho typu - redresné
    %li.fourt
      %a{"data-toggle" => "pill", :href => "#legs-four"} Nebandážneho typu - na chodenie
  %hr.blue
  .tab-content
    #legs-one.tab-pane.fade.in.active

      .section-title
        .primary
          %b Ortézy dolných končatín
        .secondary bandážneho typu - liečebné
      %img.left{:src=>"images/devices/noha1.png"}
      %br

      .text
        %b Úhrada poisťovňou: &nbsp
        Pomôcky bandážneho typu liečebné, pri zmene zdravotného stavu s odôvodnením lekára, inak
        %b 1x/rok, &nbsp
        Kód:
        %b I10021. &nbsp
        Pomôcky bandážneho typu kompenzačné
        %b 2x/rok, &nbsp
        Kód:
        %b I10023.
        %br
        %br
        %b Charakteristika:
        Ortézy DK bandážneho typu sa vyrábajú z mäkkých materiálov (gumotextil, molitex, plátno, neoprén, koža), môžu byť s výstužou alebo bez nej.

        %br
        %br
        Abduktor palca - Poštolkov ťah
        %br
        %b Indikácia: &nbsp
        phallux valgus, stavy po operácii.

        %br
        %br
        Peroneálna páska
        %br
        %b Indikácia: &nbsp
        laesio n. fibularis, padavá noha.

        %br
        %br
        Intra (extra) rotačná ortéza
        %br
        %b Indikácia: &nbsp
        chôdza špičkami dovnútra (dovon) u detí (DMO).

        %br
        %br
        Členková ortéza
        %br
        %b Indikácia: &nbsp
        prevencia úrazov, poúrazové stavy kostí a mäkkých častí ľahšieho stupňa v členkovom kĺbe (distorzia, instabilita, stavy po ruptúre väzov), doliečovanie fraktúr, stavy po operáciách, pozápalové stavy, Sudeck syndróm, osteoartróza, tenosynovitída.

        %br
        %br
        Pavlíkove remence
        %br
        %b Indikácia: &nbsp
        LCC, subluxácie bedrového kĺbu.

        %br
        %br
        Abdukčná perinka
        %br
        %b Indikácia: &nbsp
        LCC, subluxácie bedrového kĺbu.

        %br
        %br
        Schneiderova bandáž
        %br
        %b Charakteristika: &nbsp
        odľahčenie DK v bedrovom kĺbe.
        %br
        %b Indikácia: &nbsp
        M. Perthes.

        %br
        %br
        Infrapatellárna páska
        %br
        %b Indikácia: &nbsp
        chondromalatio patelly, enthesopatie, luxácia patelly, doliečovanie M. Osgood-Schlatter, po operačných zákrokoch v oblasti patelly, femoropatell. artróza.

        %br
        %br
        Ortéza bedrového kĺbu
        %br
        %b Indikácia: &nbsp
        coxartróza (II, III), doliečovanie pooperačných stavov v oblasti coxy a proximálnej časti femoru, po operáciách na mäkkých častiach v tejto oblasti.

        %br
        %br
        Fixačná kolenná ortéza
        %br
        %b Indikácia: &nbsp
        po úrazové a po operačné stavy kolena, udržiavanie DK v extenzii.

        %br
        %br
        Kolenná ortéza s aretovateľným kĺbom
        %br
        %b Charakteristika: &nbsp
        možnosť nastavenia rozsahu pohybu v kolennom kĺbe.
        %br
        %b Indikácia: &nbsp
        po úrazové a po operačné stavy v oblasti kolena.

        %br
        %br
        Stehenná ortéza
        %br
        %b Indikácia: &nbsp
        poranenie šliach stehenných svalov.

        .ul.list
          %li Kolenná ortéza neoprénová zapínacia
          %li Kolenná ortéza neoprénová polonavliekacia
          %li Kolenná ortéza neoprénová navliekacia
          %li Kolenná ortéza gumotextilná
        %b Indikácia: &nbsp
        po úrazové a po operačné stavy, instabilita, gonartróza, genua valga, genua vara, genus recurvatum, uplatnenie v rehabilitácii, po zápalové a reumatické poškodenie kolena, synovitidy, osteochondrosis dissecans.

    #legs-two.tab-pane.fade

      .section-title
        .primary
          %b Ortézy dolných končatín
        .secondary nebandážneho typu - liečebné - fixačné
      %img.left{:src=>"images/devices/noha2.png"}
      %br

      .text
        %b Úhrada poisťovňou: &nbsp
        Pomôcky nebandážneho typu liečebné, pri zmene zdravotného stavu s odôvodnením lekára, inak
        %b 1x/rok, &nbsp
        Kód:
        %b I10022. &nbsp
        Pomôcky bandážneho typu kompenzačné
        %b 1x/rok, &nbsp
        Kód:
        %b I10024.
        %br
        %br
        %b Charakteristika:
        Ortézy DK bandážneho typu sa vyrábajú z laminátu, nízkoteplotného a vysokoteplotného plastu, s kombináciou ľahkých kovov, elastických a penových materiálov. Ich úlohou je korekcia, stabilizácia, obmedzenie pohyblivosti až fixácia, náhrada stratenej nosnosti, alebo odľahčenie DK, substitúcia, vyrovnanie disproporcie v dĺžke DK.

        %br
        %br
        Členková ortéza
        %br
        %b Indikácia: &nbsp
        náhrada sadrového obväzu, prevencia úrazov, po úrazové stavy mäkkých častí a kostí v oblasti členkového kĺbu (distorzie), doliečovanie fraktúr, po zápalové a po operačné stavy, Sudeck syndróm, artróza.

        %br
        %br
        Plastová ortéza - vzor Sarmient
        %br
        %b Charakteristika: &nbsp
        ortéza s objímkou predkolenia prípadne stehna, možnosť aplikácie 14 dní po úraze, dostatočná fixácia, možnosť drenáže, preplachov, preväzov, možnosť zaťažovať DK bez použitia bariel, možnosť RHB, prepúšťa RTG žiarenie.
        %br
        %b Indikácia: &nbsp
        doliečovanie fraktúr a pseudoartróz stehna a predkolenia, patologické fraktúry.

        %br
        %br
        Abduktor palca plastový
        %br
        %b Indikácia: &nbsp
        hallux valgus, stavy po operácii.

        %br
        %br
        Stehenná ortéza
        %br
        %b Indikácia: &nbsp
        fraktúra femoris, cysty, osteotómia.

        %br
        %br
        Ortéza bedrového kĺbu vzor Spika (krátka po chodidlo alebo dlhá so zachytením chodidla)
        %br
        %b Charakteristika: &nbsp
        obmedzenie pohyblivosti resp. vylúčenie nežiadúcich pohybov, imobilizácia, po pridaní predkolennej objímky a strmeňa dôjde k odľahčeniu v oblasti stehna a bedrového kĺbu.
        %br
        %b Indikácia: &nbsp
        coxartróza, osteotómie panvy, po operačné stavy v oblasti coxy a proximálnej časti stehennej kosti - doliečenie RHB, pseudoartróza, patologické fraktúry.


        %br
        %br
        Abdukčný prístroj polohovací s kĺbom
        %br
        %b Charakteristika: &nbsp
        modifikácia Vavrdovho prístroja, poloha DK v "žabej polohe" - 90o v bedrových kĺboch a kolenách.
        %br
        %b Indikácia: &nbsp
        LCC, subluxácia bedrových kĺbov.

        %br
        %br
        Kolenná ortéza
        %br
        %b Indikácia: &nbsp
        po úrazové a po operačné stavy kolena vyžadujúce extenčné postavenie.

    #legs-three.tab-pane.fade

      .section-title
        .primary
          %b Ortézy dolných končatín
        .secondary nebandážneho typu - liečebné - redresné
      %img.left{:src=>"images/devices/noha3.png"}
      %br

      .text
        Kolenná trojbodová ortéza pre genua valga a vara
        %br
        %b Indikácia: &nbsp
        redresia osových výchyliek DK pri genua valga, vara u detí.

        %br
        %br
        Kolenná trojbodová ortéza pre genua valga a vara
        %br
        %b Indikácia: &nbsp
        spastické stavy DK, flekčné kontraktúry, DMO.

        %br
        %br
        Ortéza na chodidlo vzor Halle
        %br
        %b Charakteristika: &nbsp
        ohyb v členku, aktívny ťah prednej časti nohy, správne postavenie a upevnenie päty, dlaha pracuje na trojbodovom princípe.
        %br
        %b Indikácia: &nbsp
        PEC, DMO s postihnutím DK, pes varus, stav po operáciách.

        %br
        %br
        Ortéza objímková dynamická
        %br
        %b Charakteristika: &nbsp
        ortéza so sandálom z plastu, s ohybom v členku, s ťahom prednej časti nohy, fixáciou kolena.
        %br
        %b Indikácia: &nbsp
        spastické formy DMO.

        %br
        %br
        Redresná ortéza bez ohybu
        %br
        %b Charakteristika: &nbsp
        používa sa u detí na noc, fixuje nohu vo fyziologickej, prípadne prekorigovanej polohe.
        %br
        %b Indikácia: &nbsp
        pes planovalgus ťažšieho stupňa, pes varus, pes calcaneus, pes adductus, PEC, DMO s postihnutím DK, spastické parézy, plégie, stav po operáciách.


    #legs-four.tab-pane.fade

      .section-title
        .primary
          %b Ortézy dolných končatín
        .secondary nebandážneho typu - liečebné - redresné
      %img.left{:src=>"images/devices/noha4.png"}
      %br

      .text
        Členková ortéza vzor Malleolock
        %br
        %b Indikácia: &nbsp
        prevencia úrazov, po úrazové stavy mäkkých častí a kostí v oblasti členkového kĺbu (distorzie), doliečovanie fraktúr, po zápalové a po operačné stavy, Sudeck syndróm, artróza.

        %br
        %br
        Peroneálna dlaha (bez ohybu alebo s pružným ťahom)
        %br
        %b Indikácia: &nbsp

        %br
        %br
        Kolenná trojbodová ortéza pre genua valga a vara
        %br
        %b Indikácia: &nbsp
        fixácia kolenného kĺbu v stoji v extenzii, insuficiencia kolenného kĺbu, prepadávanie do flexie event. do extenzie.

        %br
        %br
        Abdukčný prístroj vzor Atlanta
        %br
        %b Charakteristika: &nbsp
        abdukcia DK v oblasti bedrových kĺbov v 45o uhle.
        %br
        %b Indikácia: &nbsp
        M. Perthes u malých detí ktoré nevedia chodiť na barlách, u starších detí na nočné polohovanie v abdukcii, po operačné stavy vyžadujúce abdukčné postavenie v bedrovom kĺbe.

        %br
        %br
        Extenčná ortéza vzor Thomas
        %br
        %b Charakteristika: &nbsp
        odľahčenie bedrového kĺbu, hmotnosť DK je prenesená na hrboľ sedacej kosti.
        %br
        %b Indikácia: &nbsp
        M. Perthes.

        %br
        %br
        Derotačný prístroj vzor Beckerova ortéza (jednostranný alebo obojstranný)
        %br
        %b Charakteristika: &nbsp
        na pevnom opasku sú pripevnené tyčky zo špeciálneho pružného materiálu /bovden/ prebiehajúce po vonkajšej strane DK až k plastovej ortéze nohy do ktorej sa upevní chodidlo pacienta, pružnosťou tyčiek sa dosahuje vytáčanie chodidla.
        %br
        %b Indikácia: &nbsp
        chôdza špičkami do vnútra u detí (DMO).