.panel-body
  %hr.blue
  %ul.nav.nav-pills.prosthesis-list
    %li.first.active
      %a{"data-toggle" => "pill", :href => "#prosthesis-one"} Protézy dolných končatín
    %li.second
      %a{"data-toggle" => "pill", :href => "#prosthesis-two"} Protézy horných končatín
  %hr.blue
  .tab-content
    #prosthesis-one.tab-pane.fade.in.active
      .section-title
        .primary
          %b Protézy
        .secondary dolných končatín
      %img.left{:src=>"images/devices/proteza.png"}
      %br

      .text
        %b Charakteristika:
        Protézy DK môžu byť klasické exoskeletárne, vyrábajú sa z materiálov: koža, drevo, laminát, alebo modulárne endoskeletárne s použitím plastických hmôt, živíc, silikónu, karbonových vlákien, tubulárneho skeletu, viacosých kĎbov a dynamického chodidla. Ide o funkčnú aj kozmetickú náhradu dolných končatín.
        %br
        Pacient má nárok na - opravy protézy
        %b 1x/rok
        a úpravy protézy
        %b 2x/rok.
        %br
        %br
        Protéza DK - privykacia I10041
        %br
        %b Charakteristika:
        Úhrada poisťovňou 1 ks. Predpisuje sa len novoamputovaným.
        %br
        %br
        Protéza DK – prvé definitívne vyhotovenie I10042
        %br
        %br
        %b Charakteristika:
        Úhrada poisťovňou 1 ks. Predpisuje sa po vyformovaní a stabilizácii kýpťa.
        %br
        %br

        Protéza DK – štandardná endoskeletárna opakované deifnitívne vyhotovenie I10043
        %br
        %b Charakteristika: Úhrada poisťovňou po stabilizácii lokálneho i celkového stavu pacienta 1x/5 rokov. Sú to moderné, ľahké a kozmeticky dobre vyzerajúce, elegantné protézy vyznačujúce sa bezpečnou chôdzou, držiace na kýpti za pomoci podtlaku, plnokontaktného lôžka s prípadným použitím závesného aparátu s individuálne vyhotovenou objímkou s použitím modulárnych dielcov.
        %br
        %br

      .ul.list
        %li Protéza DK endoskeletárna predkolenná so stehennou objímkou
        %li Protéza DK endoskeletárna štandardná stehenná modulárna
        %li Protéza endoskeletárna na exartikuláciu v bedrovom kĺbe vzor. Canada
        %li Protéza DK endoskeletárna štandardná stehenná s kozmetikou
        %li Protéza DK endoskeletárna protézový prístroj
      %br


    #prosthesis-two.tab-pane.fade
      .section-title
        .primary
          %b Protézy
        .secondary horných končatín
      %img.left.left-padding{:src=>"images/devices/proteza2.png"}
      %br
      .text
        %b Charakteristika:
        Na výrobu protéz HK používame klasické materiály: koža, drevo, kov, laminát, alebo novšie materiály: živice, tubulárne dielce. U protéz je možné vymeniť dlaň za pracovné násadce. Vo všeobecnosti delíme protézy na:
      .ul.list
        %li kozmetické (laminátové, kožené, modulárne)
        %li ťahové (laminátové, kožené, modulárne)
        %li myoelektrické (s vonkajším zdrojom energie)
      %br
      .text
        Pacient má nárok na - opravy protézy
        %b 1x/rok
        a úpravy protézy
        %b 2x/rok.
        %br
        %br
        Protéza HK – privykacia I10049
        %br
        %b Charakteristika: Úhrada poisťovňou 1 ks. Predpisuje sa len novoamputovaným.
        %br
        %br
        Protéza HK – prvé definitívne vyhotovenie I10050
        %br
        %b Charakteristika: Úhrada poisťovňou 1 ks. Predpisuje sa po vyformovaní a stabilizácii kýpťa.
        %br
        %br
        Protéza HK – štandardná endoskeletárna opakované definitívne vyhotovenie
        %br
        %b Charakteristika:
        Úhrada poisťovňou po stabilizácii lokálneho i celkového stavu pacienta 1x/5 rokov. Ľahká stavebnicová protéza s možnosťou výmeny jednotlivých dielcov s dobrým kozmetickým vzhľadom.
        %br
        %br
        Protéza HK – štandardná exoskeletárna opakované deinitívne vyhotovenie
        %br
        %b Charakteristika:
        Úhrada poisťovňou po stabilizácii lokálneho i celkového stavu pacienta 1x/3 roky. Použité sú klasické materiály, s možnosťou výmeny dlane za pracovné násadce.
        %br
        %br
        Protéza HK – špeciálna I10053
        %br
        %b Charakteristika:
        Úhrada poisťovňou 1x/5 rokov, podlieha schváleniu revízneho lekára.
        %br
        %br
        Protéza HK pre poistencov do 18 rokov opakované deinitívne vyhotovenie I10054
        %br
        %b Charakteristika:
        Úhrada poisťovňou 1x/rok.
        %br
        %br
        Protéza HK s vonkajším zdrojom energie I10055
        %br
        %b Charakteristika:
        Úhrada poisťovňou po stabilizácii lokálneho i celkového stavu pacienta 1x/5 rokov, podlieha schváleniu revízneho lekára. Do tejto skupiny zaraďujeme myoelektrické protézy.