.panel-body
  .section-title
    .primary
      %b Ortopedická obuv -
    .secondary Topánky
  %img.left{:src=>"images/devices/topanky_thumb.png"}
  .ul.list
    %li Ortopedická obuv celoročná pre pacientov do 18 rokov
    %li Ortopedická obuv zimná pre pacientov do 18 rokov
    %li Ortopedická obuv letná pre pacientov do 18 rokov

  %br

  .text
    Pacient hradí
    %b 16,6 €
    , úhrada poisťovňou
    %b 2x/rok, Kód:
    %b I10001.
    %br
    %b Indikácia:
    Obuv je určená pre deti s trojkombináciou postihnutí: PEC, pedes planovalgi, pes varus, pes calcaneus, pes adductus, DMO, osové výchylky kolien a členkov mierneho, stredného a ťažkého stupňa, vybočenie prstov, vybočenie priehlavkových kostí.
  %br
  %br

  .ul.list
    %li Ortopedická obuv celá
    %li Ortopedická obuv polovičná
  %br

  .text
    Pacient hradí
    %b 23,24 €, úhrada poisťovňou
    %b 1x/rok
    , Kód:
    %b I10001.
    %br
    Indikácia: Obuv je určená pre dospelých s trojkombináciou postihnutí: pedes plani et transversoplani, Godunov III, halluces valgi, digiti mallei, calcar calcanei, skrížené prsty, skráteniny DK do 2 cm, clavus, defekty chodidla (hlavne u diabetikov), amputácie článkov prstov.

  %br
  %br
  .section-title
    .primary
      %b Ortopedické vložky

  %img.left{:src=>"images/devices/vlozky_thumb.png"}
  .ul.list
    %li Ortopedické vložky pre pacientov nad 18 rokov
    %li Ortopedické vložky pre pacientov do 18 rokov

  %br
  .text
    Pacient hradí
    %b 3,32 €
    , úhrada poisťovňou u pacientov do 18 rokov
    %b 2x/rok, Kód:
    %b I10008.
    Nad 18 rokov
    %b 1x/rok
    , Kód:
    %b I10007
    %b Charakteristika:
    Ortopedické vložky sú vyrobené z hygienicky ľahko udržiavateľného materiálu (korkfant, colorfoan, plast, styropor). Podopierajú pozdĺžnu klenbu, po pridaní metatarzálnej peloty aj priečnu klenbu nohy, odľahčujú, tlmia nárazy, vyrovnávajú skráteniny DK, korigujú valgozitu event. varozitu nohy. Je potrebná aplikácia s postupným návykom. Vyrábajú sa veľkosti 14-30.
    %b Indikácia:
    pedes plani et transversoplani, calcar calcanei, skrížené prsty, skráteniny DK do 1,5 cm, pedes planovalgi.

  .info
    .bs-callout.bs-callout-info
      %img.left{:src=>"images/devices/vlozky_scan.png"}
      .text
        %h4
          %b Výroba idividuálnych ortopedických vložiek pomocou skenovania
        %ul.list
          %li merné podklady odoberané za pomoci skenera
          %li vyhodnotené počítačovou metódou
          %li vložky sú vyrobené špeciálnym frézovacím strojom
          %li základným predpokladom pre konštrukciu vložky pedcad je detailná diagnóza. Merné údaje sa získajú zo statického odtlačku nohy analogicky alebo digitálne automatizovaným 2D, meracím systémom SCANPED