.panel-body
  %hr.blue
  %ul.nav.nav-pills.torso-list
    %li.first.active
      %a{"data-toggle" => "pill", :href => "#torso-one"} Ortézy bandážneho typu
    %li.second
      %a{"data-toggle" => "pill", :href => "#torso-two"} Ortézy nebandážneho typu
  %hr.blue
  .tab-content
    #torso-one.tab-pane.fade.in.active

      .section-title
        .primary
          %b Ortézy trupu
        .secondary bandážneho typu - liečebné
      %img.left{:src=>"images/devices/trupban1.png"}
      %br

      .text
        %b Úhrada poisťovňou:
        Pomôcky bandážneho typu liečebné, pri zmene zdravotného stavu s odôvodnením lekára, inak
        %b 1x/rok,
        Kód:
        %b I10011.
        Pomôcky bandážneho typu kompenzačné
        %b 2x/rok, Kód:
        %b I10013.
        %br
        %b Charakteristika: &nbsp
        Ortézy trupu bandážneho typu sú vyrobené z mäkkých textílií (gumotextil, molitex, plátno, neoprén, koža), môžu byť s výstužou, alebo bez nej.
        %br
        %br
        Brušný pás
        %br
        %b Indikácia: &nbsp
        insuficiencia brušných svalov diastaza mm. recti abdominis, hernie aj v pooperačných jazvách, oslabenie brušnej steny po operačnom zákroku, venter pendulum, stavy po plastických operáciách, gravidita.
        %br
        %br
        Stomický pás
        %br
        %b Indikácia: &nbsp
        stav po kolostómii.
        %br
        %br
        Hrudný pás
        %br
        %b Indikácia: &nbsp
        contusio thoracis, fraktúra costae, obmedzenie dýchania, thorakotomia.
        %br
        %br
        Prietržový pás (1 alebo 2 stranný)
        %br
        %b Indikácia: &nbsp
        inguinálna hernia.
        %br
        %br
        Neoprénový a molitexový lumbálny pás
        %br
        %b Indikácia: &nbsp
        chronické lumbago, svalová insuficiencia, instabilita viacerých pohybových segmentov v L chrbtici, degeneratívne ochorenia stavcov a medzistavcových spojení, poruchy asimilácie L-S prechodu spondylolýzy, spondylolisthezy, kompresívne fraktúry stavcov v L oblasti, osteoporóza, v pooperačnom období riešenia poškodených medzistavcových platničiek, choroby obličiek, poranenia chrbtových svalov, kontraktúry, afekcie SI kĺbov.
        %br
        %br
        Wiliamsov korzet (Kód I10013) bez barličiek alebo s barličkami
        %br
        %b Indikácia: &nbsp
        podporný korzet pri osteoporóze, kyfóze.
        %br
        %br
        Upomínacia bandáž jednoduchá
        %br
        %b Indikácia: &nbsp
        chybné držanie tela.
        %br
        %br
        Upomínacia bandáž zložitá
        %br
        %b Indikácia: &nbsp
        chybné držanie tela.
        %br
        %br
        Hrudná pelota
        %br
        %b Indikácia: &nbsp
        pectus carinatum.
        %br
        %br
        Stella dorsi
        %br
        %b Indikácia: &nbsp
        zlomeniny kľúčnej kosti.
        %br
        %br
        Kallabisova bandáž (Kód I10011)
        %br
        %b Indikácia: &nbsp
        u detí do 2 rokov s dg. Scoliosis cong. (klinovitý stavec)
        %br
        %br

    #torso-two.tab-pane.fade

      .section-title
        .primary
          %b Ortézy trupu
        .secondary nebandážneho typu - liečebné
      %img.left{:src=>"images/devices/trupban2.png"}
      %br

      .text
        %b Úhrada poisťovňou:
        Pomôcky nebandážneho typu liečebné, pri zmene zdravotného stavu s odôvodnením lekára, inak
        %b 1x/rok,
        Kód:
        %b I10011.
        Pomôcky nebandážneho typu kompenzačné
        %b 2x/rok, Kód:
        %b I10014.
        %br
        %br
        Viedenský korzet
        %br
        %b Indikácia: &nbsp
        skoliozy s vrcholom zakrivenia od Th5 dole s torziou stavcov.
        %br
        %br
        CTM ortéza
        %br
        %b Indikácia: &nbsp
        skoliozy s vrcholom zakrivenia od Th5 dole, kyphoskoliózy M. Scheuermann.
        %br
        %br
        Podporný (stabilizačný korzet)
        %br
        %b Indikácia: &nbsp
        fraktúry stavcov, spondylitída, osteoporóza, MTS.

        %br
        %br
        Milwaukee korzet
        %br
        %b Indikácia: &nbsp
        skoliozy v C oblasti, hornej a strednej Th oblasti.

        %br
        %br
        Boston korzet - NT a Boston korzet - VT
        %br
        %b Indikácia: &nbsp
        skoliozy ľahšieho stupňa v L oblasti, spondylolýza, spondylolisthéza v L oblasti, fraktúry od Th po L oblasť, osteoporóza.

        %br
        %br
        Nočný korzet
        %br
        %b Indikácia: &nbsp
        redresibilné jednoduché skoliozy bez rotácie v L oblasti.

        %br
        %br
        Korzet podľa Jewetta - trojbodový
        %br
        %b Charakteristika: &nbsp
        hyperextenzná ortéza, odľahčuje driekové stavce a fixuje chrbticu proti ventrálnej flexii.
        %br
        %b Indikácia: &nbsp
        kyfóza v L oblasti, kompresívne fraktúry v L oblasti.
