.header
  %h2 Bardejovské Kúpele
%hr.blue
.body
  .a-tabs

    .tab-content
      .info
        .text
          Kúpele patria medzi najstaršie a najkrajšie na Slovensku. Nachádzajú sa uprostred prekrásnej prírody horného Šariša, sú preto ideálnym miestom na váš oddych a načerpanie nových síl. Iba u nás nájdete kúpeľnú kolonádu, v ktorej je spolu 8 liečivých minerálnych prameňov. Prírodná liečivá voda a nedotknutá príroda sú naším hlavným bohatstvom, pre ktoré nás vyhľadávajú tisíce domácich a zahraničných klientov.
          %br
          %br
          Poskytujeme komplexnú liečebnú starostlivosť pre dospelých aj detských pacientov a príspevkovú liečbu pre poistencov všetkých zdravotných poisťovní. Samoplatcom ponúkame širokú škálu liečebných, relaxačných, víkendových a wellness pobytov.
          %br
          %br
          Kúpele sa nachádzajú 5km od historického mesta Bardejov, zvoleného za najkrajšie mesto na Slovensku tri roky po sebe (2010 - 2012).
          %br

      .foto

        %a.example-bardejov-1{"data-lightbox" => "example-bardejov-1", "data-title" => "", :href => "images/foto/bardejov/1.jpg"}
          %img.img-thumbnail{:src=>"images/foto/bardejov/1_s.png"}
        %a.example-bardejov-2{"data-lightbox" => "example-bardejov-1", "data-title" => "", :href => "images/foto/bardejov/2.jpg"}
          %img.img-thumbnail{:src=>"images/foto/bardejov/2_s.png"}
        %a.example-bardejov-3{"data-lightbox" => "example-bardejov-1", "data-title" => "", :href => "images/foto/bardejov/3.jpg"}
          %img.img-thumbnail{:src=>"images/foto/bardejov/3_s.png"}

        %a.example-bardejov-4{"data-lightbox" => "example-bardejov-1", "data-title" => "", :href => "images/foto/bardejov/4.jpg"}
          %img.img-thumbnail{:src=>"images/foto/bardejov/4_s.png"}
        %a.example-bardejov-5{"data-lightbox" => "example-bardejov-1", "data-title" => "", :href => "images/foto/bardejov/5.jpg"}
          %img.img-thumbnail{:src=>"images/foto/bardejov/5_s.png"}
        %a.example-bardejov-6{"data-lightbox" => "example-bardejov-1", "data-title" => "", :href => "images/foto/bardejov/6.jpg"}
          %img.img-thumbnail{:src=>"images/foto/bardejov/6_s.png"}

      .map-contact

        .contact
          .text
            %address.address
              %strong Adresa spoločnosti
              %br
              BARDEJOVSKÉ KÚPELE a. s.
              %br
              086 31 Bardejovské Kúpele
              %br
              IČO: 36 168 301
              %br
              IČ DPH: SK2020026250
              %br
              www.kupele-bj.sk
              %br
            %address.address
              %strong Centrálne rezervačné oddelenie
              %br
              Tel.: 054/477 4346, 477 2717
              %br
              Fax: 054/472 3549
              %br
              rezervacie@kupele-bj.sk
              %br
              pk@kupele-bj.sk
              %br

        .map
          %image{:src => "/images/map-bardejov.png"}