.header
  %h2 Kúpele Bojnice
%hr.blue
.body
  .b-tabs
    %ul.nav.nav-pills

      .info
        .text
          Kúpele Bojnice v srdci Slovenska sú pokojným miestom, ktoré svojou polohou, klímou a zložením termálnych vôd vytvárajú ideálne podmienky pre liečebné procesy, regeneráciu a oddych svojich hostí. Ležia v Hornonitrianskej kotline, na východnom úpätí Malej Magury vo výške 297 metrov nad morom. Z troch strán sú chránené pohoriami s bohatými listnatými a ihličnatými lesmi, preto majú priaznivé klimatické podmienky s priemernou dennou teplotou vzduchu 9 ºC a 2000 slnečných hodín v roku. Kto je unavený dennou hektikou žitia a hľadá odpočinok pre telo a dušu, nájde tu to pravé. Termálne pramene a pôvabná príroda tu tvoria už po stáročia harmóniu.
          %br
          %br
          Základom liečebných procedúr v Kúpeľoch Bojnice je prírodná, liečivá, hydrogén-uhličitanovo-síranová, vápnikovo-horčíková hypotonická akratoterma s teplotou od 28 – 52 ºC, ktorá vyviera z 9 prameňov s výdatnosťou 40 l/s z hĺbok 1200-1500 m. Akratoterma zlepšuje látkovú výmenu a imunologické reakcie v bunkách, funkčnosť tkanív, ich zásobovanie kyslíkom a tým celkový stav organizmu. Liečivá voda účinkuje pozitívne na vegetatívny nervový systém, predovšetkým jeho parasympatickú časť.
          %br
          %br

      .foto

        %a.example-bojnice-1{"data-lightbox" => "example-bojnice-1", "data-title" => "", :href => "images/foto/bojnice/1.jpg"}
          %img.img-thumbnail{:src=>"images/foto/bojnice/1_s.png"}
        %a.example-bojnice-2{"data-lightbox" => "example-bojnice-1", "data-title" => "", :href => "images/foto/bojnice/2.jpg"}
          %img.img-thumbnail{:src=>"images/foto/bojnice/2_s.png"}
        %a.example-bojnice-3{"data-lightbox" => "example-bojnice-1", "data-title" => "", :href => "images/foto/bojnice/3.jpg"}
          %img.img-thumbnail{:src=>"images/foto/bojnice/3_s.png"}

        %a.example-bojnice-4{"data-lightbox" => "example-bojnice-1", "data-title" => "", :href => "images/foto/bojnice/4.jpg"}
          %img.img-thumbnail{:src=>"images/foto/bojnice/4_s.png"}
        %a.example-bojnice-5{"data-lightbox" => "example-bojnice-1", "data-title" => "", :href => "images/foto/bojnice/5.jpg"}
          %img.img-thumbnail{:src=>"images/foto/bojnice/5_s.png"}
        %a.example-bojnice-6{"data-lightbox" => "example-bojnice-1", "data-title" => "", :href => "images/foto/bojnice/6.jpg"}
          %img.img-thumbnail{:src=>"images/foto/bojnice/6_s.png"}


      .map-contact

        .contact
          .text
            %address.address
              %strong Adresa
              %br
              Kúpele Bojnice a. s.
              %br
              972 01 Bojnice
              %br
              IČO: 31638694
              %br
              IČ DPH: SK2020469165
              %br
              http://www.kupele-bojnice.sk/
              %br
            %address.address
              %strong Rezervovanie pobytov
              %br
              Tel.: 046/511 6362
              %br
              Fax: 046/511 6363
              %br
              info@kupele-bojnice.sk
              %br

        .map
          %image{:src => "/images/map-bojnice.png"}
