.header
  %h2 Kúpele Číž
%hr.blue
.body
  .b-tabs
    %ul.nav.nav-pills

      .info
        .text
          Kúpele Číž sa nachádzajú na južnom Slovensku, neďaleko maďarských hraníc. Sú obklopené krásnou prírodou s miernymi pahorkatinami, ktoré návštevníkov zlákajú na prechádzky alebo turistiku. Kúpele Číž patria medzi unikáty Slovenska aj celej Európy. Významné sú hlavne vďaka liečivým účinkom slanej jódobrómovej  so značnou mineralizáciou. Kúpele Číž nie sú len pre pohybovo chorých pacientov, ale sú poskytované aj pre verejnosť. V kúpeľoch Číž sa nachádza aj kúpalisko, v ktorom je niekoľko bazénov. Sú tam aj vodné atrakcie pre najmenších (vodné šmýkačky). Je tam až 38 °C horúca voda, relaxačné bazény, bazény s vodnými tryskami, plavecký bazén a iné. V kúpeľoch Číž sa môžu liečiť aj deti aj dospelí. Deti môžu kúpele Číž navštevovať vo veku od 3 do 15 rokov.
          %br
          %br
          Kúpele Číž svojou prírodnou liečivou jódovo-brómovou vodou, patria viac ako 100 rokov medzi vzácne zdroje svojho druhu v Európe.
          %br
          %br

      .foto

        %a.example-ciz-1{"data-lightbox" => "example-ciz-1", "data-title" => "", :href => "images/foto/ciz/1.jpg"}
          %img.img-thumbnail{:src=>"images/foto/ciz/1_s.png"}
        %a.example-ciz-2{"data-lightbox" => "example-ciz-1", "data-title" => "", :href => "images/foto/ciz/2.jpg"}
          %img.img-thumbnail{:src=>"images/foto/ciz/2_s.png"}
        %a.example-ciz-3{"data-lightbox" => "example-ciz-1", "data-title" => "", :href => "images/foto/ciz/3.jpg"}
          %img.img-thumbnail{:src=>"images/foto/ciz/3_s.png"}

        %a.example-ciz-4{"data-lightbox" => "example-ciz-1", "data-title" => "", :href => "images/foto/ciz/4.jpg"}
          %img.img-thumbnail{:src=>"images/foto/ciz/4_s.png"}
        %a.example-ciz-5{"data-lightbox" => "example-ciz-1", "data-title" => "", :href => "images/foto/ciz/5.jpg"}
          %img.img-thumbnail{:src=>"images/foto/ciz/5_s.png"}
        %a.example-ciz-6{"data-lightbox" => "example-ciz-1", "data-title" => "", :href => "images/foto/ciz/6.jpg"}
          %img.img-thumbnail{:src=>"images/foto/ciz/6_s.png"}


      .map-contact

        .contact
          .text
            %address.address
              %strong Adresa
              %br
              Prírodné jódové kúpele Číž a. s.
              %br
              98043 Číž
              %br
              IČO: 31642331
              %br
              IČ DPH:  2021276356
              %br
              http://www.kupeleciz.sk/
              %br
            %address.address
              %strong Recepcia
              %br
              Tel.: 047/559 3134
              %br
              Fax: 047/559 3681
              %br
              info@kupeleciz.sk
              %br

        .map
          %image{:src => "/images/map-ciz.png"}