.header
  %h2 Kúpele Dudince
%hr.blue
.body
  .b-tabs
    %ul.nav.nav-pills

      .info
        .text
          Dudinská minerálna voda ako jediná liečivá voda na Slovensku a v strednej Európe lieči súčasne ochorenia pohybového aparátu a srdcovo-cievneho systému. A to vďaka ojedinelej kombinácii oxidu uhličitého a sírovodíka. Vodu podobného zloženia nájdete v Európe už len vo Vichy (Francúzsko).
          %br
          %br
          Spoločnosť Kúpele Dudince, a.s. má povolenie prevádzkovať prírodné liečebné kúpele na základe rozhodnutia Štátnej kúpeľnej komisie Ministerstva zdravotníctva SR.
          %br
          %br
          Všetky služby vrátane procedúr sú v Kúpeľoch Dudince poskytované pod jednou strechou. O váš komfort bude v každom ročnom období postarané. K dispozícii sú kúpeľné hotely Rubín a Smaragd navzájom prepojené spojovacou chodbou. Hosťom, ktorí hľadajú 4-hviezdičkový komfort za príjemné ceny s možnosťou absolvovať liečebné procedúry, je k dispozícii hotel Minerál (cca 450 m od KH Rubín).
          %br
          %br
          V Kúpeľoch Dudince si môžete vybrať pobyt podľa vlastnej chute (liečebný pobyt cez zdravotnú poisťovňu alebo ako samoplatca - liečebný, relaxačný či špeciálny pobyt). V ponuke sú aj akciové sezónne pobyty
          %br
          %br

      .foto

        %a.example-dudince-1{"data-lightbox" => "example-dudince-1", "data-title" => "", :href => "images/foto/dudince/1.jpg"}
          %img.img-thumbnail{:src=>"images/foto/dudince/1_s.png"}
        %a.example-dudince-2{"data-lightbox" => "example-dudince-1", "data-title" => "", :href => "images/foto/dudince/2.jpg"}
          %img.img-thumbnail{:src=>"images/foto/dudince/2_s.png"}
        %a.example-dudince-3{"data-lightbox" => "example-dudince-1", "data-title" => "", :href => "images/foto/dudince/3.jpg"}
          %img.img-thumbnail{:src=>"images/foto/dudince/3_s.png"}

        %a.example-dudince-4{"data-lightbox" => "example-dudince-1", "data-title" => "", :href => "images/foto/dudince/4.jpg"}
          %img.img-thumbnail{:src=>"images/foto/dudince/4_s.png"}
        %a.example-dudince-5{"data-lightbox" => "example-dudince-1", "data-title" => "", :href => "images/foto/dudince/5.jpg"}
          %img.img-thumbnail{:src=>"images/foto/dudince/5_s.png"}
        %a.example-dudince-6{"data-lightbox" => "example-dudince-1", "data-title" => "", :href => "images/foto/dudince/6.jpg"}
          %img.img-thumbnail{:src=>"images/foto/dudince/6_s.png"}


      .map-contact

        .contact
          .text
            %address.address
              %strong Adresa
              %br
              Kúpele Dudince a. s.
              %br
              Kúpeľná 106
              %br
              962 71 Dudince
              %br
              www.kupeledudince.sk
              %br
            %address.address
              %strong Recepcia
              %br
              Tel.: 045/550 4444
              %br
              Fax: 045/550 4877
              %br
              rezervacie@kupeledudince.sk
              %br

        .map
          %image{:src => "/images/map-dudince.png"}