.header
  %h2 Kúpele Kováčová
%hr.blue
.body
  .b-tabs
    %ul.nav.nav-pills

      .info
        .text
          V kúpeľoch sa liečia choroby pohybového ústrojenstva, nervové choroby, choroby tráviaceho ústrojenstva, choroby z poruchy látkovej výmeny a žliaz s vnútornou sekréciou, choroby obličiek a močových ciest a ženské choroby. Všetky liečebné procedúry sú poskytované špecializovanými zdravotníckymi pracovníkmi.
          Prameň s kapacitou 50 l / s patrí medzi najvýdatnejšie na Slovensku a zásobuje všetky tunajšie kúpeľné i rekreačné zariadenia. Liečiť sa možno po celý rok.
          %br
          %br
          Základom kúpeľnej liečby sú bazénové a vaňové kúpele, doplnené termálnymi zábalmi, klasickou, podvodnou i reflexnou masážou a komplexnou fyzikálno-rehabilitačnou terapiou. Neodmysliteľný je rehabilitačný telocvik a doplnkom liečby je medikamentózna liečba. Liečba v kúpeľoch Kováčová má buď ambulantný alebo ústavný charakter, kedy sú pacienti ubytovaní v liečebnom dome Detvan, ktorý slúži pre liečbu dospelých pacientov. Má kapacitu 40 lôžok a ústavným pacientom ponúka možnosť celodenného stravovania. Kúpeľní hostia sú ubytovaní v 1- a 2-?lôžkových izbách so samostatnou kúpeľňou a WC, vybavených rádiom, telefónom a TV prijímačom.
          %br
          %br


      .foto

        %a.example-kovacova-1{"data-lightbox" => "example-kovacova-1", "data-title" => "", :href => "images/foto/kovacova/1.jpg"}
          %img.img-thumbnail{:src=>"images/foto/kovacova/1_s.png"}
        %a.example-kovacova-2{"data-lightbox" => "example-kovacova-1", "data-title" => "", :href => "images/foto/kovacova/2.jpg"}
          %img.img-thumbnail{:src=>"images/foto/kovacova/2_s.png"}
        %a.example-kovacova-3{"data-lightbox" => "example-kovacova-1", "data-title" => "", :href => "images/foto/kovacova/3.jpg"}
          %img.img-thumbnail{:src=>"images/foto/kovacova/3_s.png"}

        %a.example-kovacova-4{"data-lightbox" => "example-kovacova-1", "data-title" => "", :href => "images/foto/kovacova/4.jpg"}
          %img.img-thumbnail{:src=>"images/foto/kovacova/4_s.png"}
        %a.example-kovacova-5{"data-lightbox" => "example-kovacova-1", "data-title" => "", :href => "images/foto/kovacova/5.jpg"}
          %img.img-thumbnail{:src=>"images/foto/kovacova/5_s.png"}
        %a.example-kovacova-6{"data-lightbox" => "example-kovacova-1", "data-title" => "", :href => "images/foto/kovacova/6.jpg"}
          %img.img-thumbnail{:src=>"images/foto/kovacova/6_s.png"}

      .map-contact

        .contact
          .text
            %address.address
              %strong Adresa
              %br
              Wellness KOVÁČOVÁ, s.r.o.
              %br
              Liečebný dom Detvan
              %br
              Kúpeľná 76/70
              %br
              962 37 Kováčová
              %br
              www.kupelekovacova.sk
              %br
            %address.address
              %strong Recepcia
              %br
              Tel.: 045/544 5349
              %br
              Fax: 045/544 5383
              %br
              info@kupelekovacova.sk
              %br

        .map
          %image{:src => "/images/map-kovacova.png"}