.header
  %h2 Kúpele Lúčky
%hr.blue
.body
  .b-tabs
    %ul.nav.nav-pills

      .info
        .text
          Kúpele Lúčky ležia v horskej, na juh otvorenej doline, pod úbočím Choča, na rozhraní Oravy a Liptova, v nadmorskej výške 621 m. Nachádzajú sa vo vzdialenosti 14 km na severovýchod od Ružomberka, vzdialeného 280 km od hlavného mesta Bratislava na trase Bratislava – Žilina – Košice. Kúpele sa nachádzajú v tichom horskom prostredí a sú vhodné pre všetkých ktorí si chcú oddýchnuť od každodenného rušného života.
          %br
          %br
          Kúpeľná liečba v Lúčkach patrí medzi najefektívnejšie liečebné metódy. Podstata všetkých balneologických metód je v nešpecifickom, všeobecnom účinku, ktorý ovplyvňuje celkový stav klienta a hrá kladnú úlohu pri procese uzdravenia najmä preladením vegetatívnych funkcií organizmu.
          %br
          %br
          Od roku 1950 sa kúpele špecializovali len na liečbu ženských a onkologických ochorení, ale v roku 2005 sa znovu vrátili k liečbe ochorení pohybového ústrojenstva. V roku 2008 pribudla k dovtedy liečeným indikáciám aj liečba chorôb z povolania.V rámci liečenia ochorení pohybového ústrojenstva majú kúpele vhodné podmienky aj na prevenciu a liečbu osteoporózy. V kúpeľoch sa liečia tiež choroby tráviaceho ústrojenstva, choroby z poruchy látkovej výmeny a žliaz s vnútornou sekréciou, netuberkulózne choroby dýchacích ciest. Minerálna voda z prameňov HGL – 3 a BJ – 101 (Valentína) sa používa vo všetkých bazénoch a separátnych kúpeľoch. Je vhodná súčasne aj na pitie a je prístupná nielen ubytovaným hosťom ale aj širokej verejnosti.
          %br
          %br
          Pre širokú verejnosť sú k dispozícii cez pracovné dni odborné ambulancie: gynekologická, ortopedická a ambulancia fyziatrie, balneológie a liečebnej rehabilitácie.
          %br
          %br


      .foto

        %a.example-lucky-1{"data-lightbox" => "example-lucky-1", "data-title" => "", :href => "images/foto/lucky/1.jpg"}
          %img.img-thumbnail{:src=>"images/foto/lucky/1_s.png"}
        %a.example-lucky-2{"data-lightbox" => "example-lucky-1", "data-title" => "", :href => "images/foto/lucky/2.jpg"}
          %img.img-thumbnail{:src=>"images/foto/lucky/2_s.png"}
        %a.example-lucky-3{"data-lightbox" => "example-lucky-1", "data-title" => "", :href => "images/foto/lucky/3.jpg"}
          %img.img-thumbnail{:src=>"images/foto/lucky/3_s.png"}

        %a.example-lucky-4{"data-lightbox" => "example-lucky-1", "data-title" => "", :href => "images/foto/lucky/4.jpg"}
          %img.img-thumbnail{:src=>"images/foto/lucky/4_s.png"}
        %a.example-lucky-5{"data-lightbox" => "example-lucky-1", "data-title" => "", :href => "images/foto/lucky/5.jpg"}
          %img.img-thumbnail{:src=>"images/foto/lucky/5_s.png"}
        %a.example-lucky-6{"data-lightbox" => "example-lucky-1", "data-title" => "", :href => "images/foto/lucky/6.jpg"}
          %img.img-thumbnail{:src=>"images/foto/lucky/6_s.png"}


      .map-contact

        .contact
          .text
            %address.address
              %strong Adresa
              %br
              KÚPELE LÚČKY a.s.
              %br
              034 82 Lúčky
              %br
              IČO: 31633218
              %br
              IČ DPH: SK2020431061
              %br
              www.kupele-lucky.sk
              %br
            %address.address
              %strong Recepcia
              %br
              Tel.: 044/43 75 111
              %br
              recepcia@kupele-lucky.sk
              %br

        .map
          %image{:src => "/images/map-lucky.png"}