.header
  %h2 Kúpele Nimnica
%hr.blue
.body
  .a-tabs

    .tab-content
      .info
        .text
          Kúpele Nimnica patria medzi najmladšie Slovenské kúpele a sú minerálnou perlou Slovenska. Nachádzajú sa v Trenčianskom kraji v údolí rieky Váh, medzi Púchovom a Považskou Bystricou pri veľkom vodnom diele – Priehrade mládeže. V prvých rokoch sa nazývali Nosice.
          %br
          %br
          Objekty kúpeľov ležia na úpätí výbežku Javorníkov v nadmorskej výške asi 300 m, na slnečnom svahu, ktorý sa zvažuje k rozľahlému umelému jazeru. Zrkadlo jazera a okolité hory s listnatými a ihličnatými lesmi tvoria nevšedný rámec okolo kúpeľov a vytvárajú zaujímavú prírodnú scenériu.
          Napriek krátkej existencii nimnických žriediel, majú už dnes povesť minerálnych prameňov vzácnych liečivých vlastností. Pramene sú alkalické kyselky s teplotou 10-15°C, stredne až silne mineralizované s obsahom sodíka, draslíka, horčíka, železa, vápnika, chlóru, jódu a voľného oxidu uhličitého.
          %br
          %br
          Areál kúpeľov tvoria iba objekty súvisiace s kúpeľnou liečbou pacientov. Preto v Nimnici niet vplyvov, ktoré by narušovali ochranný liečebný režim.
          %br

      .foto

        %a.example-nimnica-1{"data-lightbox" => "example-nimnica-1", "data-title" => "", :href => "images/foto/nimnica/1.jpg"}
          %img.img-thumbnail{:src=>"images/foto/nimnica/1_s.png"}
        %a.example-nimnica-2{"data-lightbox" => "example-nimnica-1", "data-title" => "", :href => "images/foto/nimnica/2.jpg"}
          %img.img-thumbnail{:src=>"images/foto/nimnica/2_s.png"}
        %a.example-nimnica-3{"data-lightbox" => "example-nimnica-1", "data-title" => "", :href => "images/foto/nimnica/3.jpg"}
          %img.img-thumbnail{:src=>"images/foto/nimnica/3_s.png"}

        %a.example-nimnica-4{"data-lightbox" => "example-nimnica-1", "data-title" => "", :href => "images/foto/nimnica/4.jpg"}
          %img.img-thumbnail{:src=>"images/foto/nimnica/4_s.png"}
        %a.example-nimnica-5{"data-lightbox" => "example-nimnica-1", "data-title" => "", :href => "images/foto/nimnica/5.jpg"}
          %img.img-thumbnail{:src=>"images/foto/nimnica/5_s.png"}
        %a.example-nimnica-6{"data-lightbox" => "example-nimnica-1", "data-title" => "", :href => "images/foto/nimnica/6.jpg"}
          %img.img-thumbnail{:src=>"images/foto/nimnica/6_s.png"}

      .map-contact

        .contact
          .text
            %address.address
              %strong Adresa spoločnosti
              %br
              Kúpele Nimnica a.s.
              %br
              020 71 Nimnica
              %br
              www.kupelenimnica.sk/
              %br
            %address.address
              %strong Centrálne rezervačné oddelenie
              %br
              Tel.: 042/460 8230
              %br
              Fax: 042/460 8213
              %br
              rezervacie@kupelenimnica.sk
              %br

        .map
          %image{:src => "/images/map-nimnica.png"}