.header
  %h2 Kúpele Piešťany
%hr.blue
.body
  .a-tabs

    .tab-content
      .info
        .text
          Slovenské liečebné kúpele Piešťany patria viac ako 100 rokov k popredným európskym kúpeľom v liečbe reumatizmu, rehabilitácii pohybového aparátu a nervového systému. Využívajú pritom prírodné zdroje – unikátne liečivé sírne bahno a termálnu minerálnu vodu.
          %br
          %br
          Prostredníctvom špecializovaných liečebných postupov sa znižujú zápaly v kĺboch a obnovuje sa ich pohyblivosť. Posilňuje sa imunitný systém, regenerujú sa poškodené chrupavky a spomaľuje sa degeneratívny proces kĺbov. Špecializovaní a skúsení lekári zostavia program liečby pre každého hosťa individuálne.
          %br
          %br
          Kúpeľný ostrov je oázou pokoja a relaxu, ale ponúka tiež množstvo príležitostí pre športové aktivity. Ponuku na voľný čas dopĺňa bohatý kultúrny program spoločenského centra, ale aj 9-jamkové ihrisko a vonkajšie termálne kúpalisko "Eva" s tenisovými kurtmi a ihriskami na plážový volejbal. Priamo na ostrove sa nachádzajú 2-5-hviezdičkové kúpeľné hotely s vlastným rehabilitačným centrom. Prekrásny kúpeľný park je ideálny pre prechádzky a množstvo kaviarní a reštaurácií ponúka domáce i medzinárodné špeciality.
          %br
          %br

      .foto

        %a.example-piestany-1{"data-lightbox" => "example-piestany-1", "data-title" => "", :href => "images/foto/piestany/1.jpg"}
          %img.img-thumbnail{:src=>"images/foto/piestany/1_s.png"}
        %a.example-piestany-2{"data-lightbox" => "example-piestany-1", "data-title" => "", :href => "images/foto/piestany/2.jpg"}
          %img.img-thumbnail{:src=>"images/foto/piestany/2_s.png"}
        %a.example-piestany-3{"data-lightbox" => "example-piestany-1", "data-title" => "", :href => "images/foto/piestany/3.jpg"}
          %img.img-thumbnail{:src=>"images/foto/piestany/3_s.png"}

        %a.example-piestany-4{"data-lightbox" => "example-piestany-1", "data-title" => "", :href => "images/foto/piestany/4.jpg"}
          %img.img-thumbnail{:src=>"images/foto/piestany/4_s.png"}
        %a.example-piestany-5{"data-lightbox" => "example-piestany-1", "data-title" => "", :href => "images/foto/piestany/5.jpg"}
          %img.img-thumbnail{:src=>"images/foto/piestany/5_s.png"}
        %a.example-piestany-6{"data-lightbox" => "example-piestany-1", "data-title" => "", :href => "images/foto/piestany/6.jpg"}
          %img.img-thumbnail{:src=>"images/foto/piestany/6_s.png"}

      .map-contact.piestany

        .contact
          .text
            %address.address
              %strong Adresa spoločnosti
              %br
              Slovenské liečebné kúpele Piešťany, a.s.
              %br
              Winterova 29
              %br
              921 29 Pieštany
              %br
              www.piestany.danubiushotels.sk
              %br
            %address.address
              %strong Centrálne rezervačné oddelenie
              %br
              Tel.: 033/775 7755
              %br
              Fax: 033/775 2528
              %br
              poistovne@spapiestany.sk
              %br

        .map
          %image{:src => "/images/map-piestany(copy).png"}