.header
  %h2 Kúpele Rajecké Teplice
%hr.blue
.body
  .a-tabs

    .tab-content
      .info
        .text
          Termálne pramene typu akratoteriem s 38°C termálnou vodou sa využívajú v balneologickom stredisku v Kúpeľnom dome Aphrodite na liečenie zápalových aj degeneratívnych chorôb pohybového ústrojenstva, kĺbov, chrbtice, nervových chorôb i chorôb z povolania.
          Kúpeľný dom sa stáva magnetom pre domácich  a zahraničných návštevníkov, ktorého interiér je upravený v antickom štýle a dodáva mu netradičnú atmosféru pohody a luxusu.
          %br
          %br
          Balnelogické stredisko vybavené najmodernejšími diagnostickými a terapeutickými prístrojmi ponúka celý rad procedúr liečebného, relaxačného a skrášľujúceho charakteru: vodoliečba, klasické masáže, škótske streky, oxygenoterapia, uhličitý kúpeľ, manikúra a pedikúra.
          %br
          %br
          Všetky služby sú poskytované pod jednou strechou - balneoprocedúry v nadštandardných podmienkach, ubytovanie v štvorhviezdičkovom hoteli Aphrodite, špičková reštaurácia s kvalitnou ponukou jedál, štýlová kaviareň a nechýbajú i doplnkové služby - kozmetika a kaderníctvo.
          %br
          %br
          Kúpeľný dom ako hotelový a relaxačný komplex spĺňa všetky podmienky európskeho štandardu a patrí k najnavštevovanejším objektom z radov slovenských i zahraničných klientov – radi sa tu vracajú českí, nemeckí, rakúski, poľskí i ostatní kúpeľní hostia, ktorí vedia oceniť balneoterapiu na špičkovej úrovni, kvalifikovaný tím odborného personálu i kvalitné služby jednotlivých stredísk.
          %br
          %br

      .foto

        %a.example-rajecke-1{"data-lightbox" => "example-rajecke-1", "data-title" => "", :href => "images/foto/rajecke/1.jpg"}
          %img.img-thumbnail{:src=>"images/foto/rajecke/1_s.png"}
        %a.example-rajecke-2{"data-lightbox" => "example-rajecke-1", "data-title" => "", :href => "images/foto/rajecke/2.jpg"}
          %img.img-thumbnail{:src=>"images/foto/rajecke/2_s.png"}
        %a.example-rajecke-3{"data-lightbox" => "example-rajecke-1", "data-title" => "", :href => "images/foto/rajecke/3.jpg"}
          %img.img-thumbnail{:src=>"images/foto/rajecke/3_s.png"}

        %a.example-rajecke-4{"data-lightbox" => "example-rajecke-1", "data-title" => "", :href => "images/foto/rajecke/4.jpg"}
          %img.img-thumbnail{:src=>"images/foto/rajecke/4_s.png"}
        %a.example-rajecke-5{"data-lightbox" => "example-rajecke-1", "data-title" => "", :href => "images/foto/rajecke/5.jpg"}
          %img.img-thumbnail{:src=>"images/foto/rajecke/5_s.png"}
        %a.example-rajecke-6{"data-lightbox" => "example-rajecke-1", "data-title" => "", :href => "images/foto/rajecke/6.jpg"}
          %img.img-thumbnail{:src=>"images/foto/rajecke/6_s.png"}

      .map-contact

        .contact
          .text
            %address.address
              %strong Adresa spoločnosti
              %br
              Kúpele Rajecké Teplice, a.s
              %br
              Osloboditeľov 131/4
              %br
              013 13 Rajecké Teplice
              %br
              IČO: 316 422 84
              %br
              IČ DPH: SK2020450784
              %br
              www.kupele-bj.sk
              %br
            %address.address
              %strong Recepcia
              %br
              Tel.: 041/5494 256
              %br
              Fax: 041/5493 674
              %br
              www.spa.sk
              %br
              spa@spa.sk
              %br

        .map
          %image{:src => "/images/map-rajecke-teplice.png"}