.header
  %h2 Sklené Teplice
%hr.blue
.body
  .a-tabs

    .tab-content
      .info
        .text
          Naše kúpele využívajú liečivú termálnu vodu, bohatú na minerály, ktoré blahodárne pôsobia najmä na pohybové ústrojenstvo. Naše kúpele využívajú liečivú termálnu vodu, bohatú na minerály, ktoré blahodárne pôsobia najmä na pohybové ústrojenstvo.
          %br
          %br
          Naše kúpele využívajú liečivú termálnu vodu, bohatú na minerály, ktoré blahodárne pôsobia najmä na pohybové ústrojenstvo.
          %br
          %br
          Všetky služby sú poskytované pod jednou strechou - balneoprocedúry v nadštandardných podmienkach, ubytovanie v štvorhviezdičkovom hoteli Aphrodite, špičková reštaurácia s kvalitnou ponukou jedál, štýlová kaviareň a nechýbajú i doplnkové služby - kozmetika a kaderníctvo.
          %br
          %br
          V súčasnosti v Sklených Tepliciach vyviera 14 prameňov s teplotou od 37°C do 52,3°C. Využívajú sa aj umelé hĺbkové vrty a studne až do hĺbky 1600m. Sú to najvýznamnejšie pramene vulkanického pásma.
          %br
          %br

      .foto

        %a.example-sklene-1{"data-lightbox" => "example-sklene-1", "data-title" => "", :href => "images/foto/sklene/1.jpg"}
          %img.img-thumbnail{:src=>"images/foto/sklene/1_s.png"}
        %a.example-sklene-2{"data-lightbox" => "example-sklene-1", "data-title" => "", :href => "images/foto/sklene/2.jpg"}
          %img.img-thumbnail{:src=>"images/foto/sklene/2_s.png"}
        %a.example-sklene-3{"data-lightbox" => "example-sklene-1", "data-title" => "", :href => "images/foto/sklene/3.jpg"}
          %img.img-thumbnail{:src=>"images/foto/sklene/3_s.png"}

        %a.example-sklene-4{"data-lightbox" => "example-sklene-1", "data-title" => "", :href => "images/foto/sklene/4.jpg"}
          %img.img-thumbnail{:src=>"images/foto/sklene/4_s.png"}
        %a.example-sklene-5{"data-lightbox" => "example-sklene-1", "data-title" => "", :href => "images/foto/sklene/5.jpg"}
          %img.img-thumbnail{:src=>"images/foto/sklene/5_s.png"}
        %a.example-sklene-6{"data-lightbox" => "example-sklene-1", "data-title" => "", :href => "images/foto/sklene/6.jpg"}
          %img.img-thumbnail{:src=>"images/foto/sklene/6_s.png"}

      .map-contact

        .contact
          .text
            %address.address
              %strong Adresa spoločnosti
              %br
              Liečebné termálne kúpele, a.s.
              %br
              966 03 Sklené Teplice
              %br
              IČO: 31 642 721
              %br
              IČ DPH: SK2020480055
              %br
              www.kupele-skleneteplice.sk
              %br
            %address.address
              %strong Recepcia
              %br
              Tel.: 045/677 10 61
              %br
              recepcia@kupele-skleneteplice.sk
              %br

        .map
          %image{:src => "/images/map-sklenene-teplice (copy).png"}