.header
  %h2 Kúpele Sliač
%hr.blue
.body
  .a-tabs

    .tab-content
      .info
        .text
          Kúpele Sliač ležia v prekrásnom prírodnom prostredí západnej časti Zvolenskej kotliny, na západnom úpätí Slovenského rudohoria v nadmorskej výške 373 m. Nachádzajú sa medzi metropolou regiónu stredného Slovenska - Banskou Bystricou a okresným mestom Zvolen, obklopené rozsiahlymi lesmi, parkami a pláňami, s výhľadom do údolia rieky Hron, na pohronské doliny, na Kremnické a Štiavnické vrchy a na západnú časť Nízkych Tatier.
          %br
          %br
          Podnebie ako dôležitý prirodzený činiteľ komplexnej kúpeľnej liečby, v priebehu liečenia stále pôsobiaci na organizmus, je pri pomerne malej nadmorskej výške a otvorenej polohe Sliača dosť teplé, pomerne suché a vcelku pokojné. Ročný priemer teploty sa pohybuje okolo 8,2 °C. Priemerná relatívna vlhkosť vzduchu je 78 %. Ročné množstvo zrážok dosahuje v priemere 750 mm. Vysoké sú aj hodnoty slnečného žiarenia - 1992 hodín ročne. Do roka je iba asi 80 dní bez slnečného svitu. Vyššie uvedenými klimatickými podmienkami sa kúpele Sliač zaraďujú medzi najoptimálnejšie položené kúpele Slovenska.
          %br
          %br
          Kúpele Sliač sú známe už vyše 750 rokov vďaka liečivým účinkom minerálnych vôd. Najcharakteristickejším prírodným úkazom pre kúpele sú travertíny, ktorých výskyt je spojený s výverom tunajších minerálnych vôd. Z minerálnych prameňov je terapeuticky najdôležitejším a najvýdatnejším Kúpeľný prameň. Zostávajúce štyri pramene sú menej výdatné a využívajú sa na bežné pitie. Vo svete existujú už len tri ďalšie miesta s podobným zložením liečivej minerálnej vody (Argentína, Austrália a Španielsko), akú nachádzame pri vode Kúpeľného prameňa. Klikni na ďalšie informácie o liečivých prameňoch.
          %br

      .foto

        %a.example-sliac-1{"data-lightbox" => "example-sliac-1", "data-title" => "", :href => "images/foto/sliac/1.jpg"}
          %img.img-thumbnail{:src=>"images/foto/sliac/1_s.png"}
        %a.example-sliac-2{"data-lightbox" => "example-sliac-1", "data-title" => "", :href => "images/foto/sliac/2.jpg"}
          %img.img-thumbnail{:src=>"images/foto/sliac/2_s.png"}
        %a.example-sliac-3{"data-lightbox" => "example-sliac-1", "data-title" => "", :href => "images/foto/sliac/3.jpg"}
          %img.img-thumbnail{:src=>"images/foto/sliac/3_s.png"}

        %a.example-sliac-4{"data-lightbox" => "example-sliac-1", "data-title" => "", :href => "images/foto/sliac/4.jpg"}
          %img.img-thumbnail{:src=>"images/foto/sliac/4_s.png"}
        %a.example-sliac-5{"data-lightbox" => "example-sliac-1", "data-title" => "", :href => "images/foto/sliac/5.jpg"}
          %img.img-thumbnail{:src=>"images/foto/sliac/5_s.png"}
        %a.example-sliac-6{"data-lightbox" => "example-sliac-1", "data-title" => "", :href => "images/foto/sliac/6.jpg"}
          %img.img-thumbnail{:src=>"images/foto/sliac/6_s.png"}

      .map-contact

        .contact
          .text
            %address.address
              %strong Adresa spoločnosti
              %br
              Kúpele Sliač a.s.
              %br
              962 31 Sliač
              %br
              IČO: 31 642 438
              %br
              IČ DPH: SK2020477096
              %br
              www.spa-sliac.sk/
              %br
            %address.address
              %strong Centrálne rezervačné oddelenie
              %br
              Tel.: 045/5442 320
              %br
              Fax: 045/5442 440
              %br
              palace@spa-sliac.sk
              %br

        .map
          %image{:src => "/images/map-sliac.png"}