.header
  %h2 Kúpele Smrdáky
%hr.blue
.body
  .a-tabs

    .tab-content
      .info
        .text
          Komplexná  kúpeľná liečba ochorení kože v kúpeľoch Smrdáky sa opiera o dlhoročnú tradíciu využitia unikátnych prírodných liečivých zdrojov - sírovodíkovej minerálnej liečivej vody a sírneho liečivého bahna, prostriedkov lokálnej liečby a fyzikálnej terapie i liečebnej rehabilitácie, a zároveň o vysokú erudíciu a profesionalitu lekárov a ostatného personálu.
          Práve tieto zložky liečebného komplexu kúpeľov Smrdáky sú zárukou výrazného liečebného efektu na zdravotný stav našich pacientov.
          %br
          %br
          V kúpeľoch Smrdáky je základom pre liečbu sírovodíková minerálna voda, ktorá patrí k vodám s najvyšším obsahom sírovodíka v Európe.  Uplatňovanie všetkých liečebných postupov je v súlade s najnovšími poznatkami lekárskej vedy.
          %br
          %br
          V liečebnom procese hrá hlavnú úlohu lekár, ktorý okrem základného medicínskeho vzdelania musí byť špecialista s erudíciou v oblasti dermatológie alebo balneológie, fyziatrie a liečebnej rehabilitácie. Lekár na začiatku pobytu pacienta vyšetrí, stanoví alebo spresní diagnózu a aktuálny stav pacienta, stanoví plán na liečbu ochorenia. Individuálny liečebný program sa v priebehu liečenia pravidelne 1x týždenne kontroluje a podľa potreby upravuje.
          %br
          %br
          Cieľom komplexnej kúpeľnej liečby je zlepšenie alebo vymiznutie kožných prejavov s predĺžením remisie (obdobie bez príznakov ochorenia alebo len s minimálnymi prejavmi), normalizácia funkcii pohybového aparátu narušených patologickým procesom. Nemenej dôležitým sa javí zlepšenie subjektívneho pocitu zdravia a zvýšenie psychickej a fyzickej zdatnosti, čo v konečnom dôsledku prispeje k zlepšeniu kvality života chronicky chorého pacienta.
          %br
          %br

      .foto

        %a.example-smrdaky-1{"data-lightbox" => "example-smrdaky-1", "data-title" => "", :href => "images/foto/smrdaky/1.jpg"}
          %img.img-thumbnail{:src=>"images/foto/smrdaky/1_s.png"}
        %a.example-smrdaky-2{"data-lightbox" => "example-smrdaky-1", "data-title" => "", :href => "images/foto/smrdaky/2.jpg"}
          %img.img-thumbnail{:src=>"images/foto/smrdaky/2_s.png"}
        %a.example-smrdaky-3{"data-lightbox" => "example-smrdaky-1", "data-title" => "", :href => "images/foto/smrdaky/3.jpg"}
          %img.img-thumbnail{:src=>"images/foto/smrdaky/3_s.png"}

        %a.example-smrdaky-4{"data-lightbox" => "example-smrdaky-1", "data-title" => "", :href => "images/foto/smrdaky/4.jpg"}
          %img.img-thumbnail{:src=>"images/foto/smrdaky/4_s.png"}
        %a.example-smrdaky-5{"data-lightbox" => "example-smrdaky-1", "data-title" => "", :href => "images/foto/smrdaky/5.jpg"}
          %img.img-thumbnail{:src=>"images/foto/smrdaky/5_s.png"}
        %a.example-smrdaky-6{"data-lightbox" => "example-smrdaky-1", "data-title" => "", :href => "images/foto/smrdaky/6.jpg"}
          %img.img-thumbnail{:src=>"images/foto/smrdaky/6_s.png"}

      .map-contact

        .contact
          .text
            %address.address
              %strong Adresa spoločnosti
              %br
              Prírodné liečebné kúpele Smrdáky
              %br
              906 03 Smrdáky
              %br
              www.smrdaky.danubiushotels.sk/
              %br
            %address.address
              %strong Centrálne rezervačné oddelenie
              %br
              Tel.: 034/6575 101
              %br
              Fax: 034/6575 135
              %br

        .map
          %image{:src => "/images/map-smrdaky.png"}