.tabbable.tabs-left
  %ul.nav.nav-tabs.nav-global
    %li.active
      %a{"data-toggle" => "tab", :href => "#a"} Kolenný kĺb
    %li
      %a{"data-toggle" => "tab", :href => "#b"} Ramenný kĺb
    %li
      %a{"data-toggle" => "tab", :href => "#c"} Členkový kĺb
    %li
      %a{"data-toggle" => "tab", :href => "#d"} Lakťový kĺb
    %li
      %a{"data-toggle" => "tab", :href => "#e"} Bedrový kĺb


  .tab-content
    #a.tab-pane.fade.city.in.active

      .header
        %h2 Kolenný kĺb
      %hr.blue
      .body
        .a-tabs

          .tab-content
            .info
              .text
                %img.img-thumbnail.one{:src=>"images/body/artropro/Koleno_2.jpg"}
                Kolenný kĺb patrí do skupiny najčastejšie poranených kĺbov v ľudskom tele. Poranenie menisku, skrížených väzov, či poškodenie chrupavky môžu vzniknúť z viacerých príčin. Najčastejšie dochádza k poraneniu kolenného kĺbu pri športe, kedy dochádza k náhlej rotácií kolena. Z tohto pohľadu sú rizikovými aktivitami futbal, lyžovanie, hokej, motocyklový šport, atletika a iné.. Bolesti kolena môžu byť zapríčinené aj degeneratívnymi zmenami. Tieto nazývame aj zmeny z opotrebovania kĺbu – artrózou kĺbu.
                %br
                %br
              .images
                %img.img-thumbnail.two{:src=>"images/body/artropro/Koleno_3.jpg"}
                %img.img-thumbnail.three{:src=>"images/body/artropro/Koleno_1.jpg"}
              %img.img-thumbnail.four{:src=>"images/body/artropro/Koleno_4.jpg"}  
              .bs-callout.bs-callout-info
                %h4
                  %b NAŠE ODPORÚČANIE:
                Nepodceňujte bolesti a obmedzovanie pohyblivosti v bedrovom kĺbe. Včasná liečba dokáže spomaliť proces opotrebenia kĺbu, významne uľaviť bolesti a niekedy aj predísť operačnej liečbe

    #b.tab-pane.city.fade
      .header
        %h2 Ramenný kĺb
      %hr.blue
      .body
        .a-tabs

          .tab-content
            .info
              .text
                %img.img-thumbnail.one{:src=>"images/body/artropro/Rameno_2.jpg"}
                Ramenný kĺb je pre unikátnu schopnosť veľkého rozsahu hybnosti a zároveň stability, jedným z najzraniteľnejších kĺbov. Najčastejšie sa vyskytujúcim úrazom je vykĺbenie - luxácia ramena. Poranenie tohto druhu vzniká najmä pri pádoch a športe. Najrizikovejšie športy sú hokej, lyžovanie, motocyklové športy, bicyklovanie ale aj pády z výšky. Športovci a ťažko pracujúci ľudia zväčša trpia opakovanými mikroúrazmi ramena, pretože svojou aktivitou poškodzujú mäkké štruktúry ramenného kĺbu. Preto je pre nich dôležité venovať týmto bolestiam pozornosť. Patria medzi nich predovšetkým poškodenia obalu ramenného kĺbu – tzv. manžety rotátorov, opotrebovania kĺbu medzi kľúčnou kosťou a lopatkou a útlakový syndróm vznikajúci medzi hlavicou ramennej kosti, jej obalom a výbežkom lopatky. Bolesti ramenného kĺbu ďalej pociťujú pacienti trpiaci artrózou – degeneratívnou zmenou a pacienti s hypermobilitou – voľným kĺbom a multidirekcionálnou instabilitou – celkovou voľnosťou ramenného kĺbu.
                %br
                %br
              .images
                %img.img-thumbnail.two{:src=>"images/body/artropro/Rameno_3.jpg"}
                %img.img-thumbnail.three{:src=>"images/body/artropro/Rameno_4.jpg"}
                %img.img-thumbnail.four{:src=>"images/body/artropro/Rameno_5.jpg"}  
              .bs-callout.bs-callout-info
                %h4
                  %b NAŠE ODPORÚČANIE:
                Nepodceňujte bolesti a obmedzovanie pohyblivosti v bedrovom kĺbe. Včasná liečba dokáže spomaliť proces opotrebenia kĺbu, významne uľaviť bolesti a niekedy aj predísť operačnej liečbe


    #c.tab-pane.city.fade
      .header
        %h2 Členkový kĺb
      %hr.blue
      .body
        .a-tabs

          .tab-content
            .info
              .text
                Členkový kĺb je štatisticky najčastejšie poraneným kĺbom. Pacienti liečení na tento kĺb najčastejšie trpia podvrtnutím - distorziou, nestabilitou, či chronickou bolesťou s obmedzením hybnosti - impingementom. Podvrtnutie členka vzniká pri športových aktivitách, turistike ale i bežnej chôdzi a postihuje rovnako športovcov, ako bežnú populáciu. Ďalšími príčinami bolesti členkového kĺbu sú artróza - degeneratívna zmena spojená s opotrebovaním chrupavky a vrodená hypermobilita - voľnosť kĺbu.
                %br
              .bs-callout.bs-callout-info
                %h4
                  %b NAŠE ODPORÚČANIE:
                Nepodceňujte podvrtnutie členku. Opakované podvrtnutia vedú k nestabilite členku a následným ťažkostiam. Pri vzniku útlakového syndrómu – impingementu prináša artroskopické ošetrenie úľavu od bolestí a zlepšenie rozsahu hybnosti v členku.
                %br
                %img.img-thumbnail{:src=>"images/body/artropro/Clenok_1.jpg"}


    #d.tab-pane.city.fade
      .header
        %h2 Lakťový kĺb
      %hr.blue
      .body
        .a-tabs

          .tab-content
            .info
              .text
                Najčastejšou diagnózou pacientov trpiacich bolesťami lakťového kĺbu je laterálna epikondylitída, známa pod názvom tenisový lakeť. Postihuje športovcov, ale I nešportovcov, ktorí svojou aktivitou nadmerne zaťažia svaly predlaktia. Šetrenie kĺbu , vhodná ortéza a fyzikálna liečba sú vo väčšine prípadoch kľúčmi k úspešnej liečbe. Pokiaľ však bolesti pretrvávajú viac než 6-12 mesiacov je vhodná operačná liečba. Pred operáciou je potrebná podrobná diagnostika lakťového kĺbu vrátane RTG.
                %br
                %br
              .images
                %center
                  %img.img-thumbnail.two{:src=>"images/body/artropro/Laket_1.jpg"}
                  %img.img-thumbnail.three{:src=>"images/body/artropro/Laket_2.jpg"}
              .bs-callout.bs-callout-info
                %h4
                  %b NAŠE ODPORÚČANIE:
                Nepodceňujte dlhotrvajúce bolesti lakťa. Včasnou liečbou možno predísť operačnej liečbe.

    #e.tab-pane.city.fade
      .header
        %h2 Bedrový kĺb
      %hr.blue
      .body
        .a-tabs

          .tab-content
            .info
              .text
                Bedrový kĺb v dospelosti býva najčastejšie postihnutý degeneratívnym procesom – artrózou. Táto môže byť zapríčinená postupným opotrebovaním, následkami po úrazoch a mikroúrazoch alebo po vrodených chybách na bedrovom kĺbe. Bolesti a obmedzovanie pohyblivosti v bedrovom kĺbe majú progresívny charakter. Zhoršujú sa vekom a postupne zabraňujú pacientovi v chôdzi. Liečba je tým úspešnejšia, čím skôr sa diagnostikuje stupeň artrózy. V liečbe sa používajú spočiatku lieky spomaľujúce rozvoj artrózy , rehabilitačná liečba a úprava pohybového režimu pacienta. Pri ťažších štádiách artrózy je indikovaná operačná liečba, ktorá pozostáva z výmeny postihnutého kĺbu umelým kĺbom. Takáto liečba sa robí na špecializovaných pracoviskách a nie je možná v jednodňovej chirurgii.
                %br
                %br
                %img.img-thumbnail{:src=>"images/body/artropro/Bedra_1.jpg"}
              .bs-callout.bs-callout-info
                %h4
                  %b NAŠE ODPORÚČANIE:
                Nepodceňujte bolesti a obmedzovanie pohyblivosti v bedrovom kĺbe. Včasná liečba dokáže spomaliť proces opotrebenia kĺbu, významne uľaviť bolesti a niekedy aj predísť operačnej liečbe

