.header
  %h2 Bardejovské Trenčianske Teplice
%hr.blue
.body
  .a-tabs

    .tab-content
      .info
        .text
          Kúpele Trenčianske Teplice patria k najstarším a najnavštevovanejším kúpeľom na Slovensku. Je to predovšetkým vďaka vynikajúcej prírodnej sírnej termálnej vode a romantickej polohe kúpeľov. Liečebná starostlivosť v kúpeľoch Trenčianske Teplice a.s. má dlhoročnú tradíciu (prvá písomná zmienka o kúpeľoch je z roku 1247) a je založená predovšetkým na využívaní prírodnej sírnej termálnej vody. V súčasnosti sa okrem termálnej vody využíva široká paleta liečebných metód z oblasti liečebnej rehabilitácie a fyziatrie.
          %br
          %br
          Kúpele sa špecializujú na liečbu a prevenciu ochorení pohybového aparátu, stavoch po operáciách a úrazoch, chronických reumatických ochorení u niektorých civilizačných chorôb, chorôb z povolania, ale aj ochorení z oblasti internej medicíny, gynekologické a kožné ochorenia vrátanie psoriázy.
          %br
          %br
          Kúpele sa špecializujú na liečbu a prevenciu ochorení pohybového aparátu, stavoch po opreráciách a úrazoch, chronických reumatických ochorení u niektorých civilizačných chorôb, chorôb z povolania, ale aj ochorení z oblasti internej medicíny, gynekologické a kožné ochorenia vrátane psoriázy.
          %br
          %br

      .foto

        %a.example-trencianske-1{"data-lightbox" => "example-trencianske-1", "data-title" => "", :href => "images/foto/trencianske/1.jpg"}
          %img.img-thumbnail{:src=>"images/foto/trencianske/1_s.png"}
        %a.example-trencianske-2{"data-lightbox" => "example-trencianske-1", "data-title" => "", :href => "images/foto/trencianske/2.jpg"}
          %img.img-thumbnail{:src=>"images/foto/trencianske/2_s.png"}
        %a.example-trencianske-3{"data-lightbox" => "example-trencianske-1", "data-title" => "", :href => "images/foto/trencianske/3.jpg"}
          %img.img-thumbnail{:src=>"images/foto/trencianske/3_s.png"}

        %a.example-trencianske-4{"data-lightbox" => "example-trencianske-1", "data-title" => "", :href => "images/foto/trencianske/4.jpg"}
          %img.img-thumbnail{:src=>"images/foto/trencianske/4_s.png"}
        %a.example-trencianske-5{"data-lightbox" => "example-trencianske-1", "data-title" => "", :href => "images/foto/trencianske/5.jpg"}
          %img.img-thumbnail{:src=>"images/foto/trencianske/5_s.png"}
        %a.example-trencianske-6{"data-lightbox" => "example-trencianske-1", "data-title" => "", :href => "images/foto/trencianske/6.jpg"}
          %img.img-thumbnail{:src=>"images/foto/trencianske/6_s.png"}

      .map-contact

        .contact
          .text
            %address.address
              %strong Adresa spoločnosti
              %br
              Kúpele Trenčianske Teplice, a.s.
              %br
              T.G.Masaryka 21
              %br
              914 51 Trenčianske Teplice
              %br
              IČO: 34 129 316
              %br
              http://www.kupele-teplice.sk/
              %br
            %address.address
              %strong Centrálne rezervačné oddelenie
              %br
              Tel.: 032/6514 000
              %br
              Fax: 032/6552 960
              %br
              obchod@slktn.sk
              %br
            %address.address
              %strong Informačná linka
              %br
              Tel.: 0905 841 061

        .map
          %image{:src => "/images/map-trencianske-teplice.png"}