#bus1.tab-pane.fade.in.active
  .header
    %h2 Linka #1 : Roosveltova nemocnica - Železničná stanica
  %hr.blue
  .body
    %br
    .description
      .week
        Pondelok - Piatok

    %br
    %br
    %table.table.table-condensed.bus-table.week
      %thead
        %tr
          %th.hour
            Hodina
          %th.minute
            Minuta

      %tbody
        %tr
          %td
            04
        %tr
          %td
            05
          %td
            03 &nbsp 23 &nbsp 43
        %tr
          %td
            06
          %td
            03 &nbsp 18 &nbsp 33 &nbsp 44 &nbsp 54
        %tr
          %td
            07
          %td
            04 &nbsp 18 &nbsp 34  &nbsp 44 &nbsp 54
        %tr
          %td
            08
          %td
            04 &nbsp 18 &nbsp 33 &nbsp 48
        %tr
          %td
            09
          %td
            03 &nbsp 18 &nbsp 33 &nbsp 48
        %tr
          %td
            10
          %td
            03 &nbsp 18 &nbsp 33 &nbsp 48
        %tr
          %td
            11
          %td
            03 &nbsp 18 &nbsp 33 &nbsp 48
        %tr
          %td
            12
          %td
            03 &nbsp 18 &nbsp 33 &nbsp 44 &nbsp 54
        %tr
          %td
            13
          %td
            04 &nbsp 14 &nbsp 24 &nbsp 34 &nbsp 44 &nbsp 54
        %tr
          %td
            14
          %td
            04 &nbsp 14 &nbsp 24 &nbsp 34 &nbsp 44 &nbsp 54

        %tr
          %td
            15
          %td
            03 &nbsp 23 &nbsp 43
        %tr
          %td
            16
          %td
            03 &nbsp 23 &nbsp 43
        %tr
          %td
            17
          %td
            03 &nbsp 23 &nbsp 43
        %tr
          %td
            18
          %td
            08 &nbsp 38
        %tr
          %td
            19
          %td
            08 &nbsp 38
        %tr
          %td
            20
          %td
            10 &nbsp 40
        %tr
          %td
            21
          %td
            10 &nbsp 40
        %tr
          %td
            22
          %td
            10

