#bus3.tab-pane.fade
  .header
    %h2 Linka #3 : Roosveltova nemocnica - Vozovňa
  %hr.blue
  .body
    %br
    .description
      .week
        Pondelok - Piatok
      .weekend
        Pondelok - Piatok
    .description-secondary
      .week
        (školský rok)
      .weekend
        (školské prázdniny)

    %br
    %br
    %table.table.table-condensed.bus-table.week
      %thead
        %tr
          %th.hour
            Hodina
          %th.minute
            Minuta

      %tbody

        %tr
          %td
            05
          %td
            06 &nbsp 27 &nbsp 47
        %tr
          %td
            06
          %td
            06 &nbsp 27 &nbsp 47
        %tr
          %td
            07
          %td
            03 &nbsp 07 &nbsp 17 &nbsp 27 &nbsp 37 &nbsp 47 &nbsp 57
        %tr
          %td
            08
          %td
            17 &nbsp 27 &nbsp 37 &nbsp 52
        %tr
          %td
            09
          %td
            32 &nbsp 47

        %tr
          %td
            10
          %td
            07 &nbsp 52
        %tr
          %td
            11
          %td
            07 &nbsp 47
        %tr
          %td
            12
          %td
            07 &nbsp 47
        %tr
          %td
            13
          %td
            12 &nbsp 37 &nbsp 47 &nbsp
        %tr
          %td
            14
          %td
            07 &nbsp 17 &nbsp 37 &nbsp 47
        %tr
          %td
            15
          %td
            07 &nbsp 17 &nbsp 32 &nbsp 47
        %tr
          %td
            16
          %td
            17 &nbsp 37
        %tr
          %td
            17
          %td
            17
        %tr
          %td
            18
          %td
            03 &nbsp 33 &nbsp 53
        %tr
          %td
            19
          %td
            33
        %tr
          %td
            20
          %td
            35
        %tr
          %td
            21
          %td
            35
        %tr
          %td
            22
          %td
            05 &nbsp 25 &nbsp 35

    %table.table.table-condensed.bus-table.weekend
      %thead
        %tr
          %th.hour
            Hodina
          %th.minute
            Minuta
      %tbody

        %tr
          %td
            05
          %td
            07 &nbsp 27 &nbsp 47
        %tr
          %td
            06
          %td
            07 &nbsp 27 &nbsp 47
        %tr
          %td
            07
          %td
            07 &nbsp 27 &nbsp 47
        %tr
          %td
            08
          %td
            27 &nbsp 47
        %tr
          %td
            09
          %td
            32
        %tr
          %td
            10
          %td
            07
        %tr
          %td
            11
          %td
            07
        %tr
          %td
            12
          %td
            07
        %tr
          %td
            13
          %td
            12 &nbsp 37
        %tr
          %td
            14
          %td
            17 &nbsp 37

        %tr
          %td
            15
          %td
            17 &nbsp 32 &nbsp 47
        %tr
          %td
            16
          %td
            17 &nbsp 37
        %tr
          %td
            17
          %td
            17
        %tr
          %td
            18
          %td
            03 &nbsp 33 &nbsp 53
        %tr
          %td
            19
          %td
            33
        %tr
          %td
            20
          %td
            35
        %tr
          %td
            21
          %td
            35
        %tr
          %td
            22
          %td
            05 &nbsp 25 &nbsp 35