#bus5.tab-pane.fade
  .header
    %h2 Linka #5 : Roosveltova nemocnica - Hypermarket Tesco
  %hr.blue
  .body
    %br
    .description
      .week
        Pondelok - Piatok
    %br
    %br
    %table.table.table-condensed.bus-table.week
      %thead
        %tr
          %th.hour
            Hodina
          %th.minute
            Minuta

      %tbody

        %tr
          %td
            08
          %td
            07

        %tr
          %td
            09
          %td
            07

        %tr
          %td
            10
          %td
            37
        %tr
          %td
            11
          %td
            37
        %tr
          %td
            12
          %td
            32
        %tr
          %td
            13
          %td
            57
        %tr
          %td
            14
          %td
            57

        %tr
          %td
            15
          %td
            &nbsp
        %tr
          %td
            16
          %td
            02
        %tr
          %td
            17
          %td
            02 &nbsp 37
        %tr
          %td
            18
          %td
            &nbsp
        %tr
          %td
            19
          %td
            03
        %tr
          %td
            20
          %td
            05
        %tr
          %td
            21
          %td
            05

