#bus80.tab-pane.fade
  .header
    %h2 Linka #80 : Roosveltova nemocnica - Viestova
  %hr.blue
  .body
    %br
    .description
      .week
        Pondelok - Piatok
      .weekend
        Pondelok - Piatok
    .description-secondary
      .week
        (školský rok)
      .weekend
        (školské prázdniny)

    %br
    %br
    %table.table.table-condensed.bus-table.week
      %thead
        %tr
          %th.hour
            Hodina
          %th.minute
            Minuta

      %tbody


        %tr
          %td
            06
          %td
            30
        %tr
          %td
            07
          %td
            50
        %tr
          %td
            08
          %td
            33z

        %tr
          %td
            09
          %td
            25

        %tr
          %td
            10
          %td
            18z
        %tr
          %td
            11
          %td
            00
        %tr
          %td
            12
          %td
            20
        %tr
          %td
            13
          %td
            &nbsp
        %tr
          %td
            14
          %td
            10

        %tr
          %td
            15
          %td
            35
        %tr
          %td
            16
          %td
            55
        %tr
          %td
            17
          %td
            &nbsp
        %tr
          %td
            18
          %td
            05


    %table.table.table-condensed.bus-table.weekend
      %thead
        %tr
          %th.hour
            Hodina
          %th.minute
            Minuta
      %tbody

        %tr
          %td
            06
          %td
            30
        %tr
          %td
            07
          %td
            50
        %tr
          %td
            08
          %td
            &nbsp

        %tr
          %td
            09
          %td
            25

        %tr
          %td
            10
          %td
            &nbsp
        %tr
          %td
            11
          %td
            00
        %tr
          %td
            12
          %td
            20
        %tr
          %td
            13
          %td
            &nbsp
        %tr
          %td
            14
          %td
            10

        %tr
          %td
            15
          %td
            35
        %tr
          %td
            16
          %td
            55
        %tr
          %td
            17
          %td
            &nbsp
        %tr
          %td
            18
          %td
            05

    %br
    %br
    %hr.blue
    %center
      .additional z - po železničnú stanicu
    %hr.blue