#busZv.tab-pane.fade
  .header
    %h2 Linka Zv : Roosveltova nemocnica - Zvolen (a. s.)
  %hr.blue
  .body
    %br
    .description
      .week
        Pondelok - Piatok
      .weekend
        Pondelok - Piatok
    .description-secondary
      .week
        (školský rok)
      .weekend
        (školské prázdniny)

    %br
    %br
    %table.table.table-condensed.bus-table.week
      %thead
        %tr
          %th.hour
            Hodina
          %th.minute
            Minuta

      %tbody


        %tr
          %td
            06
          %td
            00Z &nbsp 40
        %tr
          %td
            07
          %td
            40
        %tr
          %td
            08
          %td
            00 &nbsp 25

        %tr
          %td
            09
          %td
            &nbsp

        %tr
          %td
            10
          %td
            00* &nbsp 50*
        %tr
          %td
            11
          %td
            55
        %tr
          %td
            12
          %td
            35
        %tr
          %td
            13
          %td
            45
        %tr
          %td
            14
          %td
            25

        %tr
          %td
            15
          %td
            00d &nbsp 40z
        %tr
          %td
            16
          %td
            &nbsp
        %tr
          %td
            17
          %td
            &nbsp
        %tr
          %td
            18
          %td
            &nbsp
        %tr
          %td
            19
          %td
            15

    %table.table.table-condensed.bus-table.weekend
      %thead
        %tr
          %th.hour
            Hodina
          %th.minute
            Minuta
      %tbody

        %tr
          %td
            06
          %td
            00Z &nbsp 40
        %tr
          %td
            07
          %td
            &nbsp
        %tr
          %td
            08
          %td
            00

        %tr
          %td
            09
          %td
            &nbsp

        %tr
          %td
            10
          %td
            00* &nbsp 50*
        %tr
          %td
            11
          %td
            55
        %tr
          %td
            12
          %td
            35
        %tr
          %td
            13
          %td
            &nbsp
        %tr
          %td
            14
          %td
            &nbsp

        %tr
          %td
            15
          %td
            10 &nbsp 40z
        %tr
          %td
            16
          %td
            &nbsp
        %tr
          %td
            17
          %td
            &nbsp
        %tr
          %td
            18
          %td
            &nbsp
        %tr
          %td
            19
          %td
            15
    %br
    %br
    %hr.blue
    %center
      .additional z - Zvolenskou cestou
      .additional Z - po Zvolen - ŽSR
      .additional d - cez Zvolen - Západ
      .additional * - nepremáva od 27.12. do 31.12.
    %hr.blue